[2018-07-12 00:46] ahmetb commented on #797
Especially here's the critical part/gist of this issue:

**What were you trying to do** and received the error dear library.

[2018-07-12 20:31] ofrobots commented on #797
Hi @ahmetb. Sorry for the bad error messages. We should do better. If there are there any repro steps, or details about the environment (GKE?) where this is occurrent that would be quite helpful. Also, is it possible for you to share your `package-lock.json` (privately, if you prefer). We have been fixing the error-handling behavior in some of our dependency libraries (https://github.com/stephenpl

[2018-07-12 20:59] ahmetb commented on #797
@ofrobots I hit this because my network policy/firewall was blocking accounts.google.com, GCE Metadata and *.googleapis.com. Once I whitelisted all I no longer run the issue.

But that's not the relevant part. Regardless, please try to wrap errors correctly by adding some context like "failed to do [X]: error while [Y]: exception: [reason]" to these two errors.

[2018-07-12 20:59] ahmetb commented on #797
I'm using google-cloud/trace-agent 2.11.0.

[2018-07-13 23:57] kjin opened #798 "Update gRPC tracing context key/value format"

[2018-07-18 22:07] #797 closed

[2018-07-18 22:41] kjin commented on #798
Fixed in #814

[2018-07-18 22:41] #798 closed

[2018-08-06 20:05] kjin commented on #444
#826 adds a `getConfig` option on the `Tracer` object which can allow plugins to access the entire, normalized config object. While this doesn't directly add support for multiple levels of database reporting, this makes it possible for a fork of a given plugin to read arbitrary values as set from the user-provided configuration object.

Apologies for the delay here -- we should have acted sooner o

[2018-08-06 20:05] #444 closed

[2018-08-06 21:55] ofrobots opened #833 "The screenshot in README.md doesn't render on npm"

[2018-08-08 22:11] #833 closed

[2018-08-10 21:14] aftershockdan opened #838 "Potential Memory Leak"
We recently had a memory leak in our application that was causing heap out of memory errors and causing processes to crash. After some investigation it seems like there might be a memory leak from caused by this library. Once we removed the trace-agent lib the memory profile returned to normal. The offending src seems to be the `endSpan` function in `./node_modules/@google-cloud/trace-agent/build/

[2018-08-10 21:29] ofrobots commented on #838
@aftershockdan thanks for opening the issue. We'll look into reproducing. Do you have info on how fast the leak is respective to load? Does it grow slowly ("over several days" as you mention) even under heavy load, or did you only try with light load? Can you also provide the version of Node you are using?

BTW, we also work with the folks who build Stackdriver Profiler support for Node.js. I thin

[2018-08-10 22:32] aftershockdan commented on #838
Thanks @kjin !

@ofrobots I just pulled a chart of the memory use over 1 week for the same period as the heap profile above:

![screen shot 2018-08-10 at 2 42 29 pm](https://user-images.githubusercontent.com/36009594/43982920-ed5f11d2-9cac-11e8-8372-fd0a16c96d5e.png)

It looks like it is pretty consistently taking ~12 hrs from pod creation until heap overflows and crashes. We are using node v8.11.

[2018-08-14 11:23] periklis opened #840 "Missing generated declarations for 'util' and 'trace-api' in current published build v.3.1.0"
The current published build produces the following error messages on `tsc`:
[code]
According to the [cdn cache](https://cdn.jsdelivr.net/npm/@google-cloud/trace-agent@3.1.0/build/src/) these files are really missing. However, a local try `npm run compile-all` on `v3.1.0` produces the files.

[2018-08-14 18:15] #840 closed

[2018-08-15 17:25] kjin commented on #840
@periklis Fix should be out in `3.1.1`!

[2018-08-15 17:47] ofrobots commented on #523
Given that this needs to be solved generally across all repos, I am going to move this over to GoogleCloudPlatform/google-cloud-node#2853 and close this issue out.

[2018-08-15 19:13] kjin commented on #838
Hi @aftershockdan -- I've been investigating this for a while and have not been able to turn up the same results. What I see over a twelve-hour period (with 10 traces sampled per second) is that allocations in `endSpan` make up a large swath of total allocations, but comparing between different time periods I don't see any obvious signs of _growth_ in allocations on my end:

![image](https://user-

[2018-08-16 00:07] ofrobots commented on #659
This is a tracking issue which tracks a bugfix needed in Node. I'm removing the 'bug' label. Once the bug is fixed upstream, we will need to enable tests here.

[2018-08-23 00:43] aftershockdan commented on #838
Hi @kjin thanks for investigating. I will gather some info for your questions and post back. Also, we are using the default config, which I believe is 1 sample every 10 ms or 100 per second. I did a quick look at the traces for the same time period and it does look like the traces were actually being sent. But I can't tell how many were sent or in what volume. I don't see `flushBuffer` allocations

[2018-08-23 07:43] vmarchaud commented on #838
@aftershockdan Sorry to hijack the topic but i don't have another way to contact you directly.

I'm really interested on this one since we (@keymetrics) made this module, could you open up an issue on https://github.com/keymetrics/event-loop-inspector if it's still an issue ? Thanks

[2018-08-28 02:54] JustinBeckwith opened #848 "Fix TypeScript compilation errors"
The TypeScript build is currently breaking on master  🤷‍♂️

[2018-08-28 18:49] aftershockdan commented on #838
@vmarchaud Thanks for reaching out, yes I will definitely open an issue in the correct repo and keep you updated, I just want to gather some data first and isolate the issue

[2018-08-28 20:39] aftershockdan commented on #838
@kjin I agree, 300mb+ for trace allocations seems like a lot. Also, I double checked and I am not seeing `flushBuffer` allocations in the heap profile anywhere. The answers to your other questions are below:

1. Yes, allocations do increase over time, here is a flamegraph showing an increase in allocations over a 5 hour window:
![screen shot 2018-08-27 at 6 10 55 pm](https://user-images.githubuser

[2018-08-28 21:03] kjin commented on #838
@aftershockdan Ok, thank you for the comprehensive response!

[2018-08-29 16:45] #848 closed

[2018-09-05 18:51] JustinBeckwith opened #854 "Make CircleCI config consistent"
Greetings folks!  In almost all of the other nodejs repos, we've managed to make the CircleCI config look exactly the same.  This is useful, as it lets us update supported nodejs versions, or make broad changes with a single PR to synthtool.

Right now this repo and profiler are (I think...) the only two we haven't moved - largely because they have some custom logic in the config.yaml.

I want to

[2018-09-05 19:01] kinwa91 commented on #854
I took a cursory look of the config.yml in cloud-trace-node and notice
we’re also depending on several DBMS docker images from Circle. I think it
will be hard to generalize it using our templates in synthtool.

Do we plan to migrate both to Kokoro as well? If so, we should perhaps
focus our efforts to implement the same environment on Kokoro rather than
trying to do more things with CircleCI.

Jon

[2018-09-05 20:34] kjin commented on #854
The custom logic is mostly to support (1) caching test fixtures for speed improvements and (2) the extra docker images needed. We can have the same set of jobs as other repos, but the config.yml would still need to be different from others.

[2018-09-10 21:56] fhinkel opened #859 "System test with wrong permission keeps zombie Node process around"
When running `npm run system-test` with insufficient permissions, a Node process keeps running in the background blocking `8080`:

[code]

[2018-09-11 22:11] fhinkel opened #863 "System tests fail on CI"
Trying to land a change that IMHO is unrelated to account credentials. Maybe those got broken when [we switched](https://github.com/googleapis/cloud-trace-nodejs/pull/860) to our usual environment variables?

[code]

This PR:
https://github.com/googleapis/cloud-trace-nodejs/pull/858

This CI run:
https://circleci.com/gh/googleapis/cloud-trace-nodejs/5755?utm_campaign=vcs-integration-link&utm_mediu

[2018-09-11 22:12] fhinkel commented on #863
@kjin  Can you have a look? I don't know who landed the env variable changes, I only see your closed PR. Thanks!

[2018-09-11 23:26] kjin commented on #863
Ah, you'll have to rebase on top of #861 after it lands because I already changed the CircleCI decryption env vars (to show that system tests still pass).

[2018-09-11 23:27] #859 closed

[2018-09-12 12:43] fhinkel opened #865 "System tests don't run locally"
I can't run the `system tests` locally anymore. Can the error message be improved? The `decrypt` script should not run as part of `npm run system-test` in my opinion.

[code]

[2018-09-12 15:32] kjin commented on #865
I made an unnecessary change in #861 that caused this, opened a PR just now to reverse that. (It's that system tests check that the checked-in, decrypted file exists that causes it to get skipped, not the decryption of credentials, which passes through if it fails)

[2018-09-12 18:40] #865 closed

[2018-09-13 15:32] andzdroid opened #867 "Plugin request: ioredis"
https://github.com/luin/ioredis

ioredis is a popular redis client, especially since it supports redis sentinel and redis cluster which the node_redis client does not. It's marked as the one other 'recommended client' listed on the redis website: https://redis.io/clients#nodejs

[2018-09-14 01:44] ofrobots commented on #867
Previously: https://github.com/googleapis/cloud-trace-nodejs/issues/515.

@andzdroid would you be willing to contribute a plugin? It is not presently high on our priority list, but we will can take a look if you have a PR.

[2018-09-14 03:15] #863 closed

[2018-09-21 17:31] kjin commented on #838
Hi @aftershockdan -- sorry for the late follow-up. My initial suspicion is that `bluebird` causes context correlation problems, causing many child spans to be linked to a single root span (repeatedly). A straightforward case where this could occur is if you start an RPC in some incoming request and `.then` it in other requests, for example if you are authenticating to a service as part of a first

[2018-09-27 22:31] aftershockdan commented on #838
@kjin Interesting, yeah that could be relevant, we are returning a bigquery insert (which does authenticate first) to a bluebird promise chain. Sure, if you can point me towards the patch I can update the container and send you the output

[2018-09-27 23:31] kjin commented on #838
Thanks -- I've got some patches that should help:

[`warn-leak`](https://github.com/googleapis/cloud-trace-nodejs/tree/warn-leak) (#870) adds another warning if there seems to be a large number of child spans under a single root (I believe this is the usual case if there is a memory leak, after investigating code paths that would cause allocations in `endSpan` to increase unboundedly). Note that y

[2018-09-28 17:37] jordanworner opened #873 "gRPC client methods are not patched correctly when loaded with @grpc/proto-loader"
When a proto file is loaded with [@grpc/proto-loaded](https://github.com/grpc/grpc-node/blob/master/packages/grpc-protobufjs/src/index.ts#L100) the method names are UpperCamelCase and a property called originalName is added to the method definition that has the lowerCamelCase name.

The [client constructor in the grpc module](https://github.com/grpc/grpc-node/blob/master/packages/grpc-native-core/

[2018-09-28 19:39] kjin commented on #873
Thanks for reporting this! I'm working on getting a fix in now.

[2018-09-29 00:30] #873 closed

[2018-09-30 09:33] dlinah opened #877 "configration blocking error"
Hi ,
I ran into this problem when i first include the library in my project ,
the `keyFilename` field in configuration object passed to `start` function ,
 when its value is wrong and not found ,it throw an error and closes the application , that is maybe ok ,but the problem is that  the error is also a runtime error .
Please consider to catch the error and give a warning instead.

[2018-10-01 17:48] kjin commented on #877
Hi @dlinah -- can you give us a repro case as well as the Node version/agent version you are running? When I run the following, it doesn't seem to bring the process down:

[code]

[2018-10-05 00:07] steren commented on #725
Hi (I am a Product Manager on Google Cloud).
We are working to make it super easy to enable Stackdriver Trace for your functions with no setup required. You can sign up for the Alpha at https://goo.gl/forms/MtCO9Ehu3IfSsqiw2. I should send the first invites within a few weeks.

As others said, in the meantime, you should be able to import the trace module, but not everything will be traced as it i

[2018-10-09 22:22] 6utt3rfly opened #879 "[Feature] configuration option: only trace when x-cloud-trace-context is set"
When working in cross-service tracing contexts, I would like to define policies and filters at the ingress service and not have to also set the same url filters on each of the microservices. It would be nice if I could set all but the public trace server to require the header to be set, and then I could rate limit and filter just on the public microservice.

Since the `x-cloud-trace-context` is us

[2018-10-10 04:04] ofrobots commented on #879
Hi @6utt3rfly! Thanks for opening the issue. Today, we don't use the existence of the header as a mechanism to control tracing because headers are provided by the client which is untrusted on publicly exposed services. For private micro-services your suggestion makes sense and I'd be +1 on a config option user can explicitly enable.

Do you want to send a PR for this 😀?

[2018-10-11 16:28] kjin commented on #382
This seems blocked by #794

[2018-10-11 20:14] anandnimkar opened #880 "GAE with Trace Agent - Error: Creating phantom child span because root span was already closed"
I started to experience this issue on Oct 4, 2018 at around 7:40 PM EDT.

In GCP Stack Driver logging, I am getting the following error message from my node.js app deployed on Google App Engine Standard for Node.

`@google-cloud/trace-agent ERROR TraceApi#createChildSpan: [grpc@1.15.1:src/client.js] Creating phantom child span [grpc:/google.logging.v2.LoggingServiceV2/WriteLogEntries] because root

[2018-10-12 08:15] AdriVanHoudt opened #881 "What to do with/about phantom child spans?"
I'm seeing a lot of these and while these 3 reference /messages I don't think they are directly related though
[code]

This might be related to https://github.com/googleapis/cloud-trace-nodejs/issues/382 and thus also to https://github.com/googleapis/cloud-trace-nodejs/issues/794
but wanted to be sure.
That endpoint does make use of tails atm.
The logging thing happens through @google-cloud/loggin

[2018-10-12 19:59] kjin commented on #880
It seems like I upgraded the wrong message from `warn` to `error`. Thanks for bringing it to our attention. I am fixing this in #882.

[2018-10-12 20:10] kjin commented on #881
I've fixed the part related to log levels in #880, though with regards to tail latencies -- I am still working on enabling child spans as tail latencies (as tracked in #794). Thanks for bringing this to our attention.

[2018-10-12 20:42] #880 closed

[2018-10-13 14:22] jacktuck opened #884 "Spans when using scatter gather are not collected"
When using scatter gather in the client it looks like spans are not collected for subsequent calls. Not only are A and B not associated, B is not collected at all. I thought async hooks were used to associated these types of patterns?

If the client requests /foo and /bar in the same promise context i'd expect them to be collected but only /foo is.
Whereas If I have a client request to just /foo a

[2018-10-13 14:34] jacktuck commented on #884
Oh wait would #872 fix this?

[2018-10-15 18:29] jacktuck commented on #884
@kjin Thanks for the reply. That does now work in the sense foo and bar get traced. But bar is not a child of foo like i thought it should be.

[2018-10-15 19:32] AdriVanHoudt commented on #881
The log level change will probably help 👌 (which was the main issue, I could see y'all working on the tail thing which is stellar ofc ✨ )
If the core of this issue is tracked with #794 you can close this issue ✅

[2018-10-15 19:41] kjin commented on #881
Ok, thanks. I'll go ahead and close this issue

[2018-10-15 19:41] #881 closed

[2018-10-15 20:15] kjin commented on #884
From the server's point of view, the two different requests are completely independent (it has no awareness that the client logically treats one as being a continuation of the other), so the traces from the server reflect this. The client doesn't send any trace data because we don't trace top-level outgoing requests.

To form a true parent-child relationship, the `/foo` request handler on the serv

[2018-10-15 22:31] jacktuck commented on #884
@kjin That makes sense. Thanks for the detailed explanation.

[2018-10-15 22:31] #884 closed

[2018-10-25 13:35] andzdroid opened #894 "Sampling rate too high"
The sampling rate is limited to minimum 1 per second, but this is still too high.

I would like to be able to specify for example 1 per 10 seconds, or even just a percentage like 0.1%.

[2018-10-29 17:43] #894 closed

[2018-11-02 21:59] #879 closed

[2018-11-02 23:10] kjin commented on #877
Hi @dlinah -- we'll be closing this for now. Please feel free to add a comment if you would like us to re-open this issue.

[2018-11-02 23:10] #877 closed

[2018-11-02 23:11] kjin commented on #894
Hi @andzdroid -- we've fixed this in 3.3.0. Please let us know if there are additional issues that need to be addressed!

[2018-11-02 23:12] kjin commented on #879
Hi @6utt3rfly -- we've fixed this in 3.3.0. You can now pass the following options for non-public services to force sampling decisions to only be made on the first service:

[code]

Please let us know if there are additional issues that need to be addressed!

[2018-11-03 09:19] rueian opened #904 "Unclear description of the samplingRate configuration"
There is a snippet in the README.md describing the usage of the `samplingRate`:

[code]

However, it seems that the description `sample one trace every half-second.` is not correct.
And I think it should be `sample 500 traces every second.`

I found the `samplingRate` is used to create a `Sampler`:
https://github.com/googleapis/cloud-trace-nodejs/blob/master/src/tracing-policy.ts#L84

And the `Sam

[2018-11-03 20:18] andzdroid commented on #894
Thanks!

[2018-11-05 18:19] 6utt3rfly commented on #879
That is great @kjin ! I was going to try creating a PR this past weekend but I'm glad you beat me to it :-) I'll try to implement it this week and let you know if I have any problems. Thank you!

[2018-11-05 19:49] kjin commented on #904
You're right, the description is wrong. Thanks for the catch!

[2018-11-05 21:01] #904 closed

[2018-11-06 00:47] rueian commented on #904
Thank you! The previous comment cost me more than  USD 200 per day on Stackdriver Tracing Billing.

I think this fix will save a lot of people.

[2018-11-07 00:09] kjin commented on #659
So as it turns out, this isn't a bug at all. See #907

[2018-11-07 01:18] #659 closed

[2018-11-08 15:54] fhinkel opened #909 "Move samples from docs-samples"
Hi there, our docs-samples repo still have some [trace samples](https://github.com/GoogleCloudPlatform/nodejs-docs-samples/tree/master/trace). For Node.js, all samples live with their client library if they have one. Can you move the samples over please. Thanks! cc @ofrobots

[2018-11-09 18:37] ofrobots commented on #904
Hi @rueian. We're really sorry about the bug and that it cost you. Would it be possible for you to contact me via email with your project id? My email address is ofrobots@google.com.

[2018-11-10 01:46] rueian commented on #904
@ofrobots

Sure, I will contact you via ruian@dcard.cc

[2018-11-13 01:33] #909 closed

[2018-11-15 10:15] vongohren opened #918 "Missing package when installing"
Error: Cannot find module 'p-map-series'

Iv been getting these errors the last couple of days as I have rebuilt my images
So they fail and break totally.
Not sure to why though. Because the build and the install works.

<img width="1382" alt="screen shot 2018-11-15 at 11 14 01" src="https://user-images.githubusercontent.com/1012055/48546078-a938ad80-e8c7-11e8-9500-a66ed7432f81.png">

[2018-11-15 15:47] ofrobots commented on #918
@vongohren Can you check if the module `orbit-db-access-controllers` properly lists `p-map-series` in its dependencies? That is, does your `node_modules` actually have `p-map-series`? That is likely the problem.

The reason you see 'trace-module-loader' in the stack is that our instrumentation wants to intercept each module to see if it is one of the frameworks we instrument (e.g. express, mysql,

[2018-11-15 15:58] vongohren commented on #918
Yeah im walking down that path now, I just found first package dependency to see what is wrong. But I see that its going further down and will target that package about that problem. But I think we stopped using this the other day, so it should not continue to be a problem when that change is getting into the codebase. Thanks for the response

[2018-11-15 16:50] ofrobots commented on #918
Thanks. I'm going to close this issue out as I believe it is not an issue in this library. If this incorrect, please add a comment here, and I will re-open.

[2018-11-15 16:50] #918 closed

[2018-11-15 19:53] b-flightly opened #919 "ignoreMethods configuration option"
With CORS enabled our stackdriver trace UI is getting overwhelmed with OPTIONS requests.  And I think it might not be reporting important requests since I have a sampling rate < # requests / second.

Having an ignoreMethods configuration option similar to ignoreUrls method would solve this.

[2018-12-03 22:54] kjin commented on #919
Hi @b-flightly -- this is available in 3.4.0. Thanks again for your contribution!

[2018-12-03 22:54] #919 closed

[2018-12-05 17:19] shaneosullivan commented on #725
I'm having trouble getting the suggested workaround to work.  My code looks as follows

[code]

As suggested, all code runs in the rootSpan, and the bufferSize is set to 1.  I still get the error

[code]

I've signed up for the Alpha (thanks steren!), but I have many Firebase projects that need proper tracing, so any workaround that would help right now would be useful.

Thanks!

[2018-12-05 17:51] kjin commented on #725
Hi @shaneosullivan -- are you still getting traces reported? The error message being shown here is likely a false alarm, as the condition for its appearance is simply that modules were loaded before the Trace Agent (which is true by nature of the workaround); it's just a blanket "warning" that suggests a possible reason why traces might not get published, _if_ they are not.

[2018-12-05 19:41] shaneosullivan commented on #725
@kjin I am getting traces, but only the root traces for some reason.  I've wrapped each GraphQL resolver with

[code]

but these traces do not show up anywhere.  I was hoping the `bufferSize:1` thing would help, but still these traces do not appear anywhere.

[2018-12-06 18:02] kjin commented on #725
@shaneosullivan Could you provide more code around the call to `createChildSpan`? That looks like it should work unless there is some context loss happening here.

Also, do you have warnings turned on? If you set in the config passed to `start` `{ logLevel: 1 }` then I would expect warnings to be printed upon calls to `createChildSpan` if those spans are not showing up.

[2018-12-09 11:23] renovate[bot] opened #935 "Dependency deprecation warning: @types/protobufjs (npm)"
On registry `https://registry.npmjs.org/`, the "latest" version (v6.0.0) of dependency `@types/protobufjs` has the following deprecation notice:

`This is a stub types definition for protobufjs (https://github.com/dcodeIO/ProtoBuf.js). protobufjs provides its own type definitions, so you don't need @types/protobufjs installed!`

Marking the latest version of an npm package as deprecated results in

[2018-12-12 17:59] #935 closed

[2018-12-13 19:28] watchinharrison opened #939 "Plugin support for Knex 0.13.0+"
Currently only Knex versions satisfied by `>=0.12 <=0.13` are supported.

Would be preferable to add support for the current 0.15.x package

[2018-12-15 08:14] sh opened #942 "req.connection.remoteAddress doesn't return real client ip behind proxies"
We're using trace-agent for connect + express in pods behind a loadbalancer, the value of `/http/source/ip` is always the ip of the loadbalancer instead of the real client.

This makes debugging individual issues based on the `/http/source/ip` currently impossible.

Using `req.ip` instead of `req.connection.remoteAddress` for express and koa would respect any `x-forwarded-for` headers and report t

[2018-12-17 17:29] #939 closed, assigned to kjin

[2018-12-17 17:51] sh commented on #942
Done, thanks for taking the time to review this :)

[2018-12-17 19:16] kjin commented on #939
Published in 3.5.0, let us know if you encounter any issues!

[2018-12-17 19:16] kjin commented on #942
@sh no problem, thanks for your contribution! Published in 3.5.0 -- let us know if there are any problems!

[2018-12-17 19:16] #942 closed

[2018-12-17 20:17] watchinharrison opened #946 "mysql2 requests aren't being attached to root scope"
The log is outputting `INFO TraceApi#createChildSpan: [mysql2@1.6.4:lib/connection.js] Creating phantom child span [mysql-query] because there is no root span.`.

My setup is using knex with the client `mysql2`. The query is running in the knex `raw` method.

This is an example app: https://github.com/davidharrisonlb/mysql-tracer-test

[2018-12-18 08:50] davidharrisonlb commented on #946
No problem. I spent the evening trying to work it out too. Think it could be knex’s use of bluebird for promises. Will update with anything further I find today.

[2018-12-18 19:58] kjin commented on #946
I think I've found the issue -- it seems that the Trace Agent (or anything reliant on `async_hooks`, for that matter) doesn't work for code that `await`s a custom `thenable`, like a Bluebird Promise (see this [minimum repro](https://gist.github.com/kjin/7e3f3883a6bb47b1783ccae56be8e9bf)).

This is a problem that is only addressable in Node core, I'll scan the issue list shortly and add it if it's

[2018-12-18 20:35] kjin commented on #946
It seems like it is indeed a variant of an existing issue: https://github.com/nodejs/node/issues/22360.

[2019-01-08 01:16] majelbstoat opened #948 "Context propagation to go GRPC server stopped working after grpc 1.14.1"
I have a go GRPC server using the latest version of the go opencensus GRPC server handler (example here: https://github.com/census-instrumentation/opencensus-go/blob/master/plugin/ocgrpc/example_test.go). I have a NodeJS client that includes the trace agent, version 3.5.0.

The client correctly patches a grpc-node 1.14.1 request, creating a child span that is extracted from the metadata on the ser

[2019-01-08 01:31] majelbstoat opened #949 "Feature request: Extract and propagate B3 headers"
Istio supports distributed tracing on an ingress into a cluster, and between services.

To do this, [it propagates a standard set of B3 headers](https://istio.io/docs/tasks/telemetry/distributed-tracing) (originally defined for Zipkin, I think?)

[code]

It would be great if the server side portions of this tracer recognised and propagated the information from that source. [opencensus-node](https:

[2019-01-08 23:32] kjin commented on #948
That is definitely strange. I'm working on trying to repro this now, will let you know if I need those logs. Thanks for reporting this!

[2019-01-09 01:57] kjin commented on #948
I tried repro-ing it by standing up a Node gRPC client and Go gRPC server (based on the helloworld example). It seems like regardless of the Node gRPC version I am seeing the `grpc-trace-bin` header on the Go side, which is the header used to propagate context. This is even if I use Bluebird to promisify the client.

Would you be able to show that the `grpc-trace-bin` headers do not show up on the

[2019-01-09 02:46] majelbstoat commented on #948
Oh, sorry, I wasn’t especially clear. The trace bin headers do actually arrive, but the data is still not extracted. I had assumed something had changed in that format. I’ll see if I can decode/extract them to spot the difference.

[2019-01-09 17:09] kjin commented on #948
Based on what you said I had assumed that as well, but looking at packet values, at least, there seemed to be no difference. Let me also look into decoding the raw payload values to verify that.

[2019-01-16 14:04] a0viedo opened #952 "Issues when enabling tracing on gRPC service"
We were using the latest version of this module but after enabling it we couldn't see any traces whatsoever. After digging we found many of logs with
[code]
We believe it's because of the type checking one of the dependencies is doing ([see PR](https://github.com/othiym23/shimmer/pull/14)). We found also that switching to versions older to v3.5.0 seems to solve the problem.

Any idea on how to sol

[2019-01-16 14:59] a0viedo commented on #952
Ok got a reproduction: new VM on GCP with this [example](https://github.com/grpc/grpc/tree/v1.17.1/examples/node/dynamic_codegen/route_guide) running:
[code]

Run the client twice, first without any changes and the second time changing `routeChat` to be an async function. On Stackdriver I see both first calls but no routeChat for the second execution
![image](https://user-images.githubusercontent.

[2019-01-16 18:51] kjin commented on #952
Your `shimmer` PR should fix the problem! That being said this bug appears to be in all versions of the module -- it's not specific to 3.5.0.

Since `grpc` is the only module in which a user's function is directly wrapped via `shimmer` when it's patched for tracing, I'll go ahead and also open a PR to fix this issue here if the `shimmer` PR takes too long to land.

Thanks for bringing this to our

[2019-01-16 23:09] #952 closed

[2019-01-17 11:50] radziszp opened #956 "mongoose not being traced without await"
Hello,
i'm trying to auto trace my mongoose (v 4.13.17, mongo v 3.4.1, node v 8.11) queries.
Just for testing purpose i've created simple route
[code]
in this scenario i receive from DEBUG ` DEBUG TraceApi#createChildSpan: [mongodb-core@2.1.18] Creating phantom child span [mongo-insert] because root span [/app/mongo] was already closed.`
And only HTTP request is traced in [https://console.cloud.go

[2019-01-17 20:15] kjin commented on #956
Mongoose appears to only make the query after two `nextTick`s, which would place the start of the query after the request handler has ended completely (since we close the request handler span upon `res.send`). We currently don't allow nesting a span in another span that has already ended, largely because in most cases it's a symptom of async context loss (in addition -- until #913 lands, the span

[2019-01-17 20:19] kjin commented on #754
Hi @majelbstoat -- I don't think we'll have bandwidth to work on this at all, so I'm going to close this for now. Sorry about that!

[2019-01-17 20:19] #754 closed

[2019-01-18 11:49] radziszp commented on #956
Thank you for such a quick response!

Hmm, if so i'll refactor my code to use `async/await`.
Also I will follow the progress on #913 .
Good luck!

[2019-02-06 00:59] #794 closed

[2019-02-08 23:48] kjin commented on #838
@aftershockdan For housekeeping purposes, I am closing this issue. Please feel free to open a new one or comment if you have any updates.

[2019-02-08 23:48] #838 closed

[2019-02-09 21:51] Downchuck opened #965 "Custom Tracing API supports the OpenTracing API"
[OpenTracing Javascript](https://github.com/opentracing/opentracing-javascript) has a very similar API surface and could be supported by cloiud-trace-nodejs through opentracing.initGlobalTracer provided a few support methods were added.

Here are some mappings of the API surface

| cloud-trace | opentracing |
| :------- | -------: |
| tracer.runInRootSpan | tracer.startSpan |
| tracer.createChildS

[2019-02-11 00:48] Downchuck commented on #965
See also, for that wonderful approach to supporting things; https://github.com/googleapis/cloud-trace-nodejs/issues/304 -- Swagger and OpenTracing may not be well connected at the moment, but this might do that.

[2019-02-11 19:26] ofrobots commented on #667
I'm gonna close this for now.

[2019-02-11 19:26] #667 closed

[2019-02-11 21:57] ofrobots commented on #948
@majelbstoat Can you look into the headers you are actually receiving. From our side it seems that things should be working okay.

[2019-02-11 22:38] ofrobots commented on #725
The Cloud Functions / Firebase Functions team are working on proper support for this feature. I'm going to close this issue out over here as this is not an issue in this repo.

Please do add a comment here if you this this is incorrect.

[2019-02-11 22:38] #725 closed

[2019-02-12 02:05] soldair commented on #774
We've done some tests and found that we cannot not support webpack or bundlers at all at this point.
They "require" files in a way that we cannot instrument them.

[2019-02-12 02:05] #774 closed

[2019-02-12 02:29] #382 closed

[2019-02-12 20:33] ofrobots commented on #965
@Downchuck we are currently focussing on getting the [OpenCensus libraries for Node.js](https://github.com/census-instrumentation/opencensus-node) up and running. They should cover this use-case and more. At this point it probably makes sense to open this feature request over there.

I'm going to close the issue here. Please leave a comment here if you disagree with the disposition here.

[2019-02-12 20:33] #965 closed

[2019-02-13 02:17] ofrobots commented on #854
IIUC, this repo needs custom config as it is doing significantly more complex tasks than regular libraries.

I'm going to close this out. If this is a mistake, please re-open or add a comment.

[2019-02-13 02:17] #854 closed

[2019-02-13 02:19] ofrobots commented on #867
Given that this feature request (previously #515) hasn't gotten done in the past 2 years, I am going to go ahead and close this out. If anyone wants to contribute a PR that would still be 👍.

[2019-02-13 02:19] #867 closed

[2019-02-13 02:25] ofrobots commented on #948
I'm going to close this due to lack of info. Please add a comment when you have the requested info and we will reopen this.

[2019-02-13 02:25] #948 closed

[2019-02-13 02:26] kjin commented on #946
Sorry that this has been stalled. I believe this is a fix that must be done and cannot be done in userspace, so unfortunately I can't amend the bluebird PR to address this issue. You can follow the Node bug here: https://github.com/nodejs/node/issues/26064

[2019-02-13 02:26] ofrobots commented on #956
@kjin now that #913 has landed, what else needs to be done here?

[2019-02-13 18:56] ofrobots commented on #949
Marking this blocked because #950 is blocked.

[2019-02-14 08:26] AdriVanHoudt commented on #867
What are the criteria for certain plugins to be added?

[2019-02-14 20:01] ofrobots commented on #867
Hi @AdriVanHoudt. In the past year we were not able to to prioritize this high enough to be able to work on it ourselves. External contributions have been welcome on this, but that didn't materialize either. It is not clear if there is any benefit of keeping the issue open.

Criteria for external PRs for plugins would be something along the lines of:
* Complexity and maintainability. I am not sure

[2019-02-14 21:59] AdriVanHoudt commented on #867
Ah yeah I totally get why you closed this issue. I was more wondering what the criteria were for the Google team to add plugins. I wish I had actual time to work in this :P

[2019-02-18 12:53] dinigo commented on #725
Is this already fixed or just closed the issue?

[2019-02-19 18:18] ofrobots commented on #725
This can now be tracked on the GCF issue tracker here: https://issuetracker.google.com/124761993

[2019-02-19 19:16] kjin commented on #956
We would need to add a config option to allow child spans to be started after a root span has ended.

@radziszp has the above worked for you so far (in at least publishing child spans)?

[2019-02-20 11:01] dallerup opened #977 "Support for fastify"
I would love to see support for https://www.fastify.io/

[2019-02-20 18:18] ofrobots commented on #977
Hi @dallerup! We are in the process of converging this code-base with the [OpenCensus project](https://github.com/census-instrumentation/opencensus-node). At the same time, at this point, we are not sure if fastify has enough usage & demand to be high in our priority list. We will keep an eye on it though. If you are feeling motivated, maybe you can attempt to write a plugin by following our [guid

[2019-02-20 18:18] #977 closed

[2019-02-25 13:30] paglias opened #978 "Feature request: ability to trace headers"
Hi,

would it be possible to add a config option that when enabled adds the http headers and their content to http traces? Using express

As our API uses headers for authentication it would make it much easier to have the headers logged in the traces so that we can link them to the user that made them

thanks!

[2019-02-25 15:46] radziszp commented on #956
@kjin i've just installed vesion `3.5.2` but it seems like `js` files from `trace-agent/build` don't have changes from #913

[2019-02-26 02:40] kjin commented on #978
Hi @paglias -- would it work for you to use the custom tracing API to add specific header values as labels? Here's an example:

[code]

If this doesn't work for you let us know. Since you are seeking to read specific header values I'm not quite sure yet that it would be beneficial to have this feature implemented as part of the library itself, though we can discuss that if you think it makes sense

[2019-02-26 09:46] paglias commented on #978
Thanks @yoshi-automation, this is going to be enough for our use case so I'll close the issue. That being said I still think it would be useful to add more info when tracing http requests in order to be able to better filter them by user agent/headers/...

[2019-02-26 09:46] #978 closed

[2019-02-28 19:18] #946 closed

[2019-03-25 09:08] istarkov opened #986 "Seems like `runInRootSpan` doesn't work in async mode"
This
[code]
works, but in most cases `fs.readFile` span is not visible at traces.

But this
[code]

doesn't work at all, I see no traces at all.

tested on `node 8.15.1`

[2019-03-25 09:25] istarkov commented on #986
Seems like passing `{ bufferSize: 1 }` to start, solves the issue, but isn't any way exists to force traces flush?

[2019-03-25 12:20] istarkov commented on #986
BTW even with `{ bufferSize: 1 }` I see childSpan are regularly skipped and not visible in traces

[2019-03-25 18:27] kjin commented on #986
Hi @istarkov -- thanks for reporting the issue. It's true that we don't force spans to publish when the program exit, as in the past our typical use case would be that of a running server, where the last few traces that were queued if a server is shutdown under non-failure conditions may not all that important. I understand that the code snippets you provided are more of a minimum repro -- but if

[2019-03-25 18:29] kjin commented on #956
@radziszp Sorry for the late response -- we [published 3.6.0](https://github.com/googleapis/cloud-trace-nodejs/releases/tag/v3.6.0) which should include the changes.

[2019-03-25 18:40] istarkov commented on #986
Thank you, now I get why childSpans are skipped.
And I don't need publish traces on program exit as my use case is also typical ;-) just initial playing with simple example caused questions, on server all is fine.

Thank you for the answer again.

[2019-03-25 18:40] #986 closed

[2019-03-26 17:37] vtajzich opened #988 "Trace agent doesn't create new trace id for each request"
**Issue**

Log entries are not assigned to specific requests when application is under load.
Value of trace field is same for all log lines but it should be unique.

**Environment**

NodeJS, Express, Typescript

example project: https://github.com/vtajzich/nodejs-gcp-trace-agent-test

**Steps to reproduce**

1. Set environment variables LOGGING_PROJECT_ID and SA_LOGGING_FILE (absolute path to json

[2019-03-27 01:21] kjin commented on #988
Hi @vtajzich -- thanks for reporting and providing a repro case -- I was able to reproduce the issue. It seems that log correlation with tracing doesn't work with Winston 3 (it was originally working with version 2). The code for correlating logs to traces is part of the `@google-cloud/logging-winston` source, so I've asked to have this issue transferred there.

I'll look into how we might be able

[2019-04-06 20:54] AaronFriel opened #994 "Tracer periodically forgets configuration and traces every request (badly)"
Periodically tracing stops working in a weird way that results in *every message* being traced, disregarding the sampling rate *and* the top level root span.

# What I expect to happen

Tracing is configured as so:

[code]

We should expect that we will see one trace per minute, and we do when it is functioning normally. A service is configured to send a heartbeat once per second to a queue servic

[2019-04-06 23:22] AaronFriel commented on #994
Oh, this might also be helpful, here's the config for the dispatcher service:

[code]

Note that both `contextHeaderBehavior` is fixed to `'require'`, and `samplingRate: 0`. Is this an improper configuration? I would like all requests to be sampled, but only if they were produced from an incoming traced request.

[2019-04-08 09:29] SudhagarS opened #995 "Keep getting crashes with message "Tracing might not work as the following modules were loaded before the trace agent" when I am using trace agent with PM2."
`@google-cloud/trace-agent ERROR StackdriverTracer#start: Tracing might not work as the following modules were loaded before the trace agent was initialized: [@pm2/io, ansi-styles, async, chalk, color-convert, color-name, date-fns, debug, escape-string-regexp, event-loop-inspector, eventemitter2, fclone, has-flag, lodash, ms, pm2, semver, shimmer, supports-color, tslib]`

I don't mind this coming

[2019-04-08 15:10] ofrobots commented on #995
This is supposed to be a warning message only, and we do not stop the process. Here's the code:
https://github.com/googleapis/cloud-trace-nodejs/blob/5c01e9e19643f40f38f445a775e988a45779da36/src/tracing.ts#L86-L91

I don't see a reason for the process to restart as a result. Maybe something else is restarting the process?

[2019-04-08 15:11] ofrobots commented on #995
The above function is called from here: https://github.com/googleapis/cloud-trace-nodejs/blob/199cb42804899fa8d76d6cdcab283b1543f74267/src/index.ts#L145-L147

We continue and return a valid `traceAgent` regardless.

[2019-04-09 09:18] vmarchaud commented on #995
FYI, those modules are required before the tracing agent because pm2 launch a wrapper around any `.js` app there: https://github.com/Unitech/pm2/blob/master/lib/ProcessContainerFork.js#L7

[2019-04-09 15:13] SudhagarS commented on #995
@vmarchaud this is what I get

2019-04-09T15:10:38: PM2 log: Stopping app:backend id:0
2019-04-09T15:10:38: PM2 log: App name:backend id:0 disconnected
2019-04-09T15:10:38: PM2 log: App [backend:0] exited with code [0] via signal [SIGINT]
2019-04-09T15:10:38: PM2 log: pid=19518 msg=process killed
2019-04-09T15:10:38: PM2 log: App [backend:0] starting in -cluster mode-

[2019-04-15 21:48] AaronFriel commented on #994
@bcoe would it be possible to chat with someone on support about this? We'd like to roll out google cloud trace to production but the volume could be a blocker. Having our services go from tracing 1 request/minute to *every single request* at random could incur significant costs.

[2019-04-15 22:02] kjin commented on #994
@AaronFriel Apologies, I completely missed notifications on this issue. I'm looking into it now.

[2019-04-15 22:29] kjin commented on #994
The Trace Agent's config is static, and our sampling rate logic is fairly straightforward so I'm not sure what would cause periodic moments where traces don't get sampled out. Can you provide more details on how often it happens and roughly how long the bursts last (and just for sanity, verify that the flood of requests is coming from the heartbeat client)?

No, that seems reasonable for a non-pub

[2019-04-15 23:35] kjin commented on #995
@SudhagarS also, do you experience this when the Trace Agent is not enabled?

[2019-04-23 22:23] kjin commented on #956
Closing this for now -- please leave a comment if there are outstanding issues to address.

[2019-04-24 21:34] kjin opened #1000 "Awaited Mongoose queries are not traced"
Due to this [issue](https://github.com/nodejs/node/issues/26064), mongoose queries do not get traced when they are awaited because the execution of query occurs in the body of a custom thenable.

[2019-04-29 23:01] #1000 closed

[2019-05-03 23:42] AaronFriel commented on #994
I have not been able to reproduce this on a fork, and I suspect the issue was a misconfiguration with `contextHeaderBehavior: default, samplingRate: 0`. This was a mistake, but also an attempt to get a behavior that I will describe below.

I would like a hybrid behavior of `default` and `require`. Let's call that mode `end-to-end`:

1. If a request comes in with a trace header, always trace it (eq

[2019-05-04 00:16] kjin opened #1017 "Several tests fail on Node 12"
On Node 12, ~~it appears that the existence of a `before` async hook affects whether our `generic-pool` test passes (it passes if the hook is registered, but we don't register it)~~. I'm currently unsure whether this is because of a flawed test or if tracing is actually broken for the module (or if it's a Node bug).

EDIT: Still investigating. Seems like the initial assertion about the `before` as

[2019-05-04 01:09] kjin commented on #994
@AaronFriel Thanks for coming back to this. I'd be glad to implement `end-to-end` as an option, but I'm wondering what your thoughts would be on, in lieu of this, a new feature to specify your own `TracePolicy` implementation in the config (which would just boil down to [providing a `shouldTrace` method](https://github.com/googleapis/cloud-trace-nodejs/blob/v3.6.1/src/tracing-policy.ts)). This `sh

[2019-05-05 00:21] AaronFriel commented on #994
@kjin That would be fine and it would fix a related bug (?) I found!

I would like the modified `shouldTrace` to receive in the arguments object the existing values: `timestamp`, `url`, `method`, as well `options` (to receive the values from `RootSpanOptions`) and `parsedContext` (no need to run `util.parseContextFromHeader` twice).

[2019-05-06 18:34] kjin commented on #1017
This appears to be a result of a Node 12 bug where an async hooks that has been disabled once, and then re-enabled, results in incorrect tracing. I'll report the issue at the Node core repo and close this one.

[2019-05-06 18:59] kjin commented on #1017
https://github.com/nodejs/node/issues/27585

[2019-05-06 18:59] #1017 closed

[2019-05-13 18:49] naartjie opened #1025 "getCurrentContextId() returns null when not sampling"
I am trying to use `LogEntry.trace` as a correlation identifier to tie different log messages together. I wasn't sure if this would be a good idea, but I got some confirmation from [here](https://cloud.google.com/logging/docs/reference/v2/rest/v2/LogEntry#FIELDS.trace_sampled):

Being able to click on "Show matching entries" in the log view seems like a really useful thing to have:

<img width="44

[2019-05-13 18:59] kjin commented on #1025
I believe not having a context ID for unsampled requests is for performance reasons. We don't currently have an option give context IDs even for unsampled requests, but it's something I can look into implementing, especially given that our own documentation suggests it.

[2019-05-13 20:06] naartjie commented on #1025
Thanks for the super fast response @kjin 🚀

If you think of any (even hacky) way to get the context ID in the meantime, please could you post it here also.

[2019-05-13 20:43] kjin commented on #1025
IIUC, the Bunyan logging wrapper's use of getCurrentContextId is internal, so if there would also have to be a way for you to override its value. I can't remember off the top of my head whether this is possible -- will take a look at the code in a bit.

[2019-05-14 11:59] naartjie commented on #1025
@kjin

My project is using GKE/Cloud Run, and I'm just logging to stdout/stderr, so I'm not actually using the Bunyan library myself, hence I would be happy to use a workaround to extract the Context ID in my code.

Once a solution existed, do you think it would be a problem to take your suggested changes, and modify the internals of the (3?) Node.js GCP logging libraries to include `LogEntry.trac

[2019-05-16 16:59] #994 closed

[2019-05-16 18:55] kjin commented on #1025
As a workaround maybe it's possible to use an existing correlation ID library when the `getCurrentContextId` doesn't return a useful value. There seems to be [some](https://www.npmjs.com/search?q=correlation) on npm but I'm not sure which are robust having not used them myself.

I think that makes sense.

[2019-05-17 15:05] kjin commented on #995
Hi @SudhagarS, I'm closing this issue for housekeeping purposes, please let us know if you have any other info and I can re-open the issue.

[2019-05-17 15:05] #995 closed

[2019-05-17 19:06] ofrobots commented on #1025
@naartjie btw, you might want to check out the [express middleware](https://github.com/googleapis/nodejs-logging-bunyan#using-as-an-express-middleware) available through the logging-bunyan package. It provides a reliable way to correlate logs to context (the log function is on the request object), and ensures that a trace id is available even for non-sampled requests.

It would be good to know if

[2019-05-18 09:17] radziszp commented on #956
Hello,
something is still not right :/
maybe i'm doing something wrong? Could you please verify?
I've uploaded simple project to github.
After visiting `/mongo-async` everything in tracing mode looks ok, but non-async mongo call aren't shown.
[https://github.com/radziszp/test-tracing](https://github.com/radziszp/test-tracing)

![async](https://user-images.githubusercontent.com/37267385/57967370-42

[2019-05-19 10:22] naartjie commented on #1025
@kjin thanks for the suggestion. I need to take a closer look, but I'm not sure if any would seamlessly pass the correlation ID with all incoming/outgoing HTTP requests. This is a very handy feature of `cloud-trace-nodejs`.

[2019-05-19 10:25] naartjie commented on #1025
@ofrobots thanks, I did try to get it going, however:

1) I couldn't get it to work. I'm not sure what I did wrong. Should I log an issue?
2) I'm more interested about correlating log messages across service boundaries, rather than just for the current request.

[2019-05-20 17:21] kjin commented on #956
Sure, let me take a look

[2019-05-20 17:57] kjin commented on #956
Even though we added support for ending child spans later than their parent, we still don't support child spans _starting_ after a root span is closed, which is why you're not observing child spans being created in the `/mongo` endpoint. The suggestion I wrote [here](https://github.com/googleapis/cloud-trace-nodejs/issues/956#issuecomment-465271747) has not been implemented yet.

It's possible tha

[2019-05-20 23:17] #949 closed

[2019-05-21 01:26] kjin commented on #1025
Ok, I think I understand your use case better -- in that case a third-party correlation library would probably not be useful for you, what you would likely want indeed would be something like "regardless of sampling, assign a trace ID to each request (and propagate it)".

[2019-05-21 07:40] radziszp commented on #956
Thank you for such detailed response.

You're 100% right about point of this approach.
Please let it stay as it is.
Thank you for your time.

[2019-05-21 07:40] #956 closed

[2019-05-21 12:33] naartjie commented on #1025
@kjin yes, that is my use case, spot on. I couldn't have said it better.

[2019-05-21 17:18] kjin commented on #956
@radziszp No problem, thanks for bringing up the concern!

[2019-06-04 22:45] #1025 closed

[2019-06-05 08:05] mrdulin opened #1044 "TraceApi#createChildSpan: [no-plugin-name] Creating phantom child span [xxx] because the trace with root span [/some-route] has reached a limit of 1000 spans. This is likely a memory leak."
How can I solve this?

[2019-06-05 17:01] kjin commented on #1044
The number of child spans per root span should be similar to the number of outgoing RPCs per incoming request, so in general having 1000 child spans attached to a root span suggests that some child spans were attached to the wrong root spans.

I see the tag `[no-plugin-name]` which suggests that you are using the custom span API. Could you provide more details about how you're using it? In particu

[2019-06-06 03:20] mrdulin commented on #1044
@kjin Thanks for reply. It's a little bit complex.

 I am using it with `GraphQL`, try to trace each field resolve process of SDL. I give you a screenshot for demonstration. For some privacy reason, I can't give you more business fields. But it's enough to explain my use case.

The trace span contain `GraphQL` `fields`  resolvers, `pg-query` and other api calls.
Another reason is I don't optimize

[2019-06-21 21:57] Christo676 opened #1048 "KeyFilename credentials not copied in internal config"
My problem is when i tried to switch from version 3.6.1 to 4.0.0 I cannot trace anymore because of a 403 when I'm publishing my traces. I did some digging in your code and I found out that in your index.js you guys did a massive change on how you copy the user defined configuration to your internal configuration to setup the tracing. In my project i'm using a keyFilename as authentication/authoriz

[2019-06-24 23:24] kjin commented on #1044
Apologies for the delay -- I just got back from vacation.

The Stackdriver Trace API only supports 1000 spans per trace, which is why we set the limit to this number. To get rid of the warning you _could_ set `{ spansPerTraceHardLimit: Infinity }`, but this would only serve to send more data to the Stackdriver Trace service, and anything past the first 1000 spans will be lost. (This library doesn'

[2019-06-24 23:26] kjin commented on #1048
Thanks for bringing this to our attention, I'll fix this ASAP

[2019-06-26 01:30] #1048 closed

[2019-07-05 08:42] bag-man opened #1066 "logModulesLoadedBeforeTrace should log a warning not an error, and should have a flag to disable the warning"
The function [logModulesLoadedBeforeTrace](https://github.com/googleapis/cloud-trace-nodejs/blob/master/src/tracing.ts#L79-L106) will currently log an error, which is not appropriate for a warning to a developer.

It should be changed to log a warning, so as to not trigger error reports when a service is restarted. Ideally the module should also have an option to disable this warning.

I'm happy t

[2019-07-08 16:51] kjin commented on #1066
@bag-man I agree with this change, a PR would be great (ignore the labels/assignee). Thanks!

[2019-07-10 08:52] bag-man commented on #1066
@kjin Is there a branch that I should work off of?

Master doesn't build:

[code]

[2019-07-10 17:41] kjin commented on #1066
Should be master, but seems like a type definition changed under our feet. Let me fix that!

[2019-07-15 17:18] kjin commented on #1066
@bag-man Sorry -- should have mentioned that I fixed the build issue in #1067.

Let me know if you want me to do this change instead.

[2019-07-15 17:54] bag-man commented on #1066
@kjin If you could make the fix, you could probably get it up quicker than I could, and it would be greatly appreciated!

[2019-07-15 22:30] bag-man commented on #1066
Nice one thanks! :D I might make a PR to add an option to disable the warning for production if that would be accepted?

[2019-07-15 23:18] kjin commented on #1066
Sure, though if you are proposing using `NODE_ENV` to detect whether whether we are running in production, I'm not sure if this can be uniliterally accepted by all of our users, so I'd suggest maybe using a different environment variable (like `GCLOUD_TRACE_DISABLE_UNTRACED_MODULES_WARNING` -- it's a mouthful, but the shortest descriptive env var name I could think of).

[2019-07-15 23:39] bag-man commented on #1066
I wasn't thinking of using a env var, rather just another option in the configuration object, so those who want to disable it can

`disableUntravedModulesWarning: true`

[2019-07-16 16:25] kjin commented on #1066
Sure, that works!

[2019-07-17 12:26] bag-man commented on #1066
When would these changes get published?

[2019-07-17 19:20] kjin commented on #1066
Ah, I was waiting on your PR. If it's something you need now let me go ahead and make the config option change + release.

[2019-07-17 19:38] bag-man commented on #1066
I started on a PR today, but Google's setup had me a bit stumped unfortunately. If it's a quick change for you before release it would be super helpful and greatly appreciated!

[2019-07-17 20:46] kjin commented on #1066
Yup: #1070

[2019-07-18 17:28] #1066 closed

[2019-07-18 21:22] kjin commented on #1066
Hi @bag-man, this has been released in 4.1.0.

[2019-07-22 08:14] mrdulin commented on #774
I think it's possible not webpack issue. It's that you didn't import/require the trace agent before other modules.

[2019-07-23 09:06] emillg opened #1074 "No trace context sometimes"
## Environment details

  - OS: Linux
  - Node.js version: 5.12.0
  - npm version: 3.8.6
  - `@google-cloud/trace-agent` version: 4.1.0

#### Steps to reproduce
 I have a node.js express application receiving API calls from a Java application with B3 propagation. The tracer config looks like
[code]

The API code looks like
[code]

From the logs I can see the headers contain the B3 format tracing i

[2019-07-23 12:30] emillg commented on #1074
@kjin Can you help with this issue? Thanks

[2019-07-23 16:37] kjin commented on #1074
Yep, will look into it momentarily!

[2019-07-23 17:28] kjin commented on #1074
My guess is that context is not lost because of B3 (or any) header propagation, but because some middleware earlier in the stack lost context. In other words I expect `getTraceContext()` to return null completely independently of whether there was an incoming trace context header (even if it's malformed).

Is the `createDevice` preceded by any additional middleware? If so, could you add those same

[2019-07-25 05:47] mrdulin commented on #774
@soldair

It seems trace agent really doesn't support webpack. I have tested it. Here is the repo:
https://github.com/mrdulin/nodejs-gcp/tree/master/src/stackdriver/trace/webpacked-server-code

So, if I use `typescript` as my server-side code and I want to use trace agent. I can't use webpack or bundlers to compile my code? The suggestion is to use typescript compiler?

[2019-07-25 06:14] mrdulin commented on #946
I hit this issue. Trace span doesn't include RPC call to the database.

So, the solution when using `knex.raw` is?

[2019-07-25 11:08] wong2 commented on #433
the README should be updated:

[2019-07-25 12:15] mrdulin commented on #725
Here is my thought. My application is designed as microservice. Here is my application arch:

service A Web API => event-driven cloud function =>  service B API

I want to use Cross-Service Trace Contexts to trace a completed business transaction which means I expect below trace span.

Here is a demo for Cross-Service Trace Contexts feature. But I use the local nodejs web server. There is no backg

[2019-07-25 17:23] bryanlarsen opened #1075 "superagent creates phantom child span"
When I use superagent, I get the message:

    @google-cloud/trace-agent DEBUG TraceApi#createChildSpan: [http@10.16.0:http] Creating phantom child span [192.168.103.225] because there is no root span.

When I use axios instead, it appears to work:

    @google-cloud/trace-agent DEBUG TraceApi#createChildSpan: [http@10.16.0:http] Created child span [192.168.103.225]

Versions:

Node: v10.16.0
│  ├

[2019-07-25 17:35] bryanlarsen commented on #1075
I turned on logging:       `@google-cloud/trace-agent DEBUG TraceApi#createChildSpan: [http@10.16.0:http] Creating phantom child span [192.168.103.225] because there is no root span.`

So problem does appear to be PBKAC.   I will edit title appropriately soon.

[2019-07-25 22:26] kjin commented on #1075
Thanks for reporting this, I'll take a look!

[2019-07-25 22:30] kjin commented on #774
Ultimately what is preventing us from working with transpiled code is whether `require` is re-implemented as part of the transpilation. TypeScript outputs `require` statements with no modification to its implementation, while AFAIK webpack will re-define `require` to reference other blocks of code in the same code, which violates our current assumption that it is the `require` that Node provides u

[2019-07-26 03:08] mrdulin commented on #774
@kjin Thanks for explaining. I have to choose TypeScript compiler instead of choosing webpack.

And I want to know do you have any plans for supporting webpack? Or, it's an impossible feature?

[2019-07-26 05:10] mrdulin opened #1076 "[Q] How to trace microservices?"
My application is designed as microservice. Here is my application arch:

service A Web API => event-driven cloud function =>  service B API

I want to use Cross-Service Trace Contexts to trace a completed business transaction which means I expect below trace span.

Here is a demo for Cross-Service Trace Contexts feature. But I use the local nodejs web server. There is no background cloud function

[2019-07-26 05:53] mrdulin commented on #725
I didn't see any pg-query RPCs spans within background cloud function. Is this the reason?

[2019-07-26 18:01] kjin commented on #774
I would not expect TypeScript and webpack are not mutually exclusive, as they have fairly different purposes. That being said, unfortunately, we have no plans to support webpack, apologies for that!

[2019-07-26 22:59] kjin commented on #1075
Hi @bryanlarsen -- this problem is the result of https://github.com/nodejs/node/issues/22360, as superagent makes requests from the body of a custom thenable `then` implementation. (The bug itself is that code that runs within a `then` implementation, when awaited, loses context; we rely on this context to accurately correlate child spans to root spans.)

We are no longer writing new plugins for t

[2019-07-27 00:33] kjin commented on #1076
Hi @mrdulin, I assume you are using Google Cloud Functions. GCF has been working on supporting this library but I believe this support is not yet released. Unfortunately because of how the platform works, using `require('@google-cloud/trace-agent')` in your cloud function will not work and result in the error message you encountered above (note: v4.1.0+ of this library makes it a warning rather th

[2019-07-29 03:05] mrdulin commented on #1076
@kjin  Thanks for replying. Your example is very helpful, but what about the background cloud function?

[2019-07-29 08:46] mrdulin commented on #1076
For now, I am using the same `traceId` and pass it to each downstream service like this:

web service 1(publish message) => background cloud function => HTTP cloud function => web service 2

Here is the trace timeline:

![图片](https://user-images.githubusercontent.com/17866683/62034272-481bf480-b220-11e9-81f4-7d2de9c9bb1b.png)

It seems work, but I don't know does it make sense.

[2019-07-29 20:23] kjin commented on #1076
So it seems like there are two separate issues at play here:

1. Trace ID doesn't match up between A -> B (where A is a Node server, B is an HTTP cloud function)
    * After looking at this a little bit I think this is because `node-fetch` doesn't work with the Trace Agent. I was surprised by this but I think it's due to the fact that we use it internally. This is a bug in our library and I'll ope

[2019-07-29 20:25] kjin opened #1081 "node-fetch requests do not get traced"
As mentioned above, node-fetch requests are not traced, most likely because the module is already loaded when the Trace Agent starts, being one of its internal modules.

[2019-07-30 02:27] mrdulin commented on #1076
@kjin

I made a demo for tracing cross services. Here are my services:

[code]

The workflow is from 01-web-api to 06-google-adwords-api

02 - 05 services are background cloud functions

Here is the timeline, it seems work. But I am not sure does it make sense.

The key point for trace cross services is to use the same `traceContext`.

I pass the `traceContext` to background cloud function by pubs

[2019-07-30 02:51] mrdulin commented on #1081
Sorry. I don't get it. I don't see a plugin for `node-fetch`. Why did you say:

[2019-07-30 07:25] mrdulin opened #1082 "[Q] How to create nested span?"
**Is your feature request related to a problem? Please describe.**

[code]

I created a child span for `DiscoveryService.getDiscovery` operation and I pass this child span into this method.

[code]

Within `DiscoveryService.getDiscovery` method, there are three operations, I try to create child span by calling `span.createChildSpan`. But it seems doesn't work. I check the `type.d.ts`, there is no

[2019-07-30 16:57] kjin commented on #1081
Yes, there is not (and should not be) a `node-fetch` plugin, as _any_ HTTP client library should work. This is due to Trace Agent internals.

[2019-07-30 17:28] kjin commented on #1076
I think it makes sense. If I understand correctly, this is how I would guess things work:

1. User hits `/campaign` endpoint, which is part of `01-web-api`. This results in a PubSub publish.
2. Four background cloud functions 02-05 are triggered sequentially as a result of the publish. _Each one_ makes a request to 06-google-adwords-api. However, the background cloud function spans do not show up

[2019-07-30 17:37] kjin commented on #1082
You can use `tracer.createChildSpan` for all of the spans. Our library doesn't make a distinction between children of root spans and children of child spans; the trace UI should automatically lay them out so that the `getDiscovery` inner spans appear under the outer `getDiscovery` span.

[2019-07-31 13:06] mrdulin commented on #1082
@kjin Thanks. Yes, this library doesn't distinct each span.

For example, there are three SQL queries to DB, but only show `pg-query` RPC for these three SQL queries. I can't distinct these SQL queries. For make a distinction for these SQL queries, maybe I should create my own custom child spans and name the spans with different names like: `findByUserId`, `findByAddressId`, `updateProfile`. After

[2019-07-31 16:14] kjin commented on #1082
That's a good idea, but what I meant (when I said "doesn't make a distinction between of children of root spans and children of child spans") is that there is no "explicit" nesting of children into other children. You can implicitly nest children by making sure the entirety of one span starts and ends within the interval of another, which it seems like that's what you're trying to do.

Let me know

[2019-08-02 06:19] naartjie commented on #1025
Hi @kjin, thank you for adding this. I am sorry it's taking me so long to verify the feature is working in my project, but I just haven't had time to work on it recently.

I'll be sure to feedback once I've started using this.

[2019-08-02 18:14] kjin commented on #1025
Thanks for the update, please let us know!

[2019-08-02 18:46] maxArturo opened #1092 "Docs: update link to config object in trace API docs"
Ran into this while looking around for more documentation on the pg plugin. Thanks!

[2019-08-02 18:53] #1092 closed

[2019-08-02 20:10] JustinBeckwith commented on #523
It looks like this isn't listed in the available modules over here:
https://github.com/googleapis/google-cloud-node

We need to add a `.repo-metadata` file so this gets picked up and ref docs are published.

[2019-08-05 20:24] #523 closed

[2019-08-05 21:24] #1081 closed

[2019-08-08 21:39] kjin commented on #1075
Hi @bryanlarsen -- did you get a chance to look at this?

[2019-08-08 21:39] kjin commented on #1044
Hi @mrdulin -- any update on this?

[2019-08-08 21:39] kjin commented on #1074
Hi @emillg -- any update on this?

[2019-08-08 21:40] kjin commented on #1076
Hi @mrdulin -- I'm going to close this issue. Please comment if you have any other Q's and I'll re-open. Thanks!

[2019-08-08 21:40] #1076 closed

[2019-08-08 21:40] #1082 closed

[2019-08-09 02:42] mrdulin commented on #1044
@kjin After thinking about this. I think trace each field for GraphQL schema does not make sense.
I change my strategy. It works fine. But good to know there is a limit for span.

[2019-08-09 02:42] #1044 closed

[2019-08-12 06:08] mrdulin opened #1098 "Initialize cloud trace within a function doesn't work."
**Is your feature request related to a problem? Please describe.**

For some reason, I need to initialize the cloud trace within an `async` function like this:

[code]

I can get the `tracer` object, the output of console.log is:

[code]

But I can't get trace and rootSpan at GCP console trace list.

 **Describe the solution you'd like**

So, is there any solution for this case without changing th

[2019-08-12 11:40] klerick commented on #1076
@kjin I think, The problem is in root span. If I close root span in the first microservice, I can not see all the time of work my microservices. But If I do not close root span in the first microservice, I will get a memory leak. I think If we have the feature: send trace data and clear memory without close root span(We can do it in another service), it will be good point for trace microservices.

[2019-08-12 17:15] kjin commented on #1076
@klerick Thanks for the suggestion. I don't think we'll have the bandwidth to implement such a feature, though. (I'm also not sure it's possible to start a span in one service and end it in another, the Stackdriver Trace API may not allow that.)

[2019-08-12 17:20] kjin commented on #1098
Maybe this won't work for the first request, but I would at least expect this to work for subsequent requests, because the Trace Agent at that point would already be initialized. Could you verify whether this is the case?

Also, is the `require-in-function` root span simplified, or is it the code that is actually running? Because as is, one problem is that it seems to be started/ended almost insta

[2019-08-13 03:37] mrdulin commented on #1098
@kjin Affirmative. I added some operations in the controller to make sure the duration over 0 ms long.

Here is my test result:

[code]
I access the `/` route 5 times.

[code]

There is no trace and span in cloud console UI.

![图片](https://user-images.githubusercontent.com/17866683/62913386-6bb57200-bdbe-11e9-9280-39e43265db70.png)

[2019-08-13 13:00] klerick commented on #1076
@kjin I think, the Stackdriver Trace API does not depend on it because this behavior is common for Stackdriver. I tried to extend the class RootSpanData but the filed "children" is private.
For example:
In the first microservice we create rootSpan and create childSpan if needed. Then we close childSpan, send trace to StrackDriver and clean the child filled in rootspan class. We can get data from r

[2019-08-13 18:07] kjin commented on #1098
Let me try to repro this and get back to you!

[2019-08-13 18:34] kjin commented on #1098
After running it, it seems like this could be a problem:

[code]

This should be something more like:

[code]

But `enabled` is a private property. I think I can add this to the public API given the simplicity of the change. In the meantime:

[code]

[2019-08-14 03:04] mrdulin commented on #1098
@kjin Great. It works, thanks.  Hope you can improve the documentation about this case. Maybe make some explanations for how `isActive` and `config.enabled` works.

![图片](https://user-images.githubusercontent.com/17866683/62991613-c31d1600-be82-11e9-866a-ac0acedfe154.png)

Is there anything I should take care when I use cloud trace like the way you provide?

[2019-08-14 15:48] klerick commented on #1076
@kjin I think If will add the feature, create root span from existing data. We can use the trace agent for microservice.
From StrackDriver documantation:

_Sends new traces to Stackdriver Trace or updates existing traces. If the ID of a trace that you send matches that of an existing trace, any fields in the existing trace and its spans are overwritten by the provided values, and any new fields pr

[2019-08-14 22:29] kjin commented on #1098
Great!

The README [currently states](https://github.com/googleapis/cloud-trace-nodejs/tree/d14d4478391217c3beb733bfd3bcef5dbb5385bb#accessing-the-api) that the return value of both `get` and `start` is an object of type `Tracer`.

Actually, now that I see the code again, may I suggest an alternative approach:

[code]

In other words, simply don't use `get`, because `tracer` only needs to be assig

[2019-08-14 22:29] #1098 closed

[2019-08-15 21:17] kjin commented on #1074
@emillg I'm closing this issue for housekeeping purposes, please comment if you have an update!

[2019-08-15 21:17] kjin commented on #1075
@bryanlarsen I'm closing this issue for housekeeping purposes, please comment if you have an update!

[2019-08-15 21:17] #1075 closed

[2019-08-24 21:10] klon opened #1107 "Support hapi@18"
It seems I get no traces using hapi@18.3.2. Could that be because it is yet to be supported?

[2019-08-25 23:11] kjin commented on #1107
Yes, we didn't update the version range to include 18 yet. It seems also like the module name changed, so I'll see if I can fix both of these issues.

[2019-09-03 21:38] #1107 closed

[2019-09-09 15:27] emillg commented on #1074
@kjin Sorry for my late response. It looks like the issue is caused by `app.use(bodyParser.json());`. Can you try to reproduce from your side? Thanks!

[2019-09-10 00:07] kjin commented on #1074
Sorry, I still can't seem to reproduce the issue.

For the record, I am using [this snippet](https://gist.github.com/kjin/8958108430d88e5c9e2d89c4bc40a6c2) to test. It's just a fibonacci server, just so I can make it send requests to itself with real B3 propagation headers via `curl localhost:8080/?n=2` instead of me having to type them myself.

By default, it always has trace context. But when I

[2019-09-11 00:22] gotwalt opened #1114 "Cloud Run metadata lag"
In doing some testing with Cloud Trace agent running on Google Cloud run, we're running in to unexplained lag as the result of repeated slow requests to `http://metadata.google.internal./computeMetadata/v1/instance/service-accounts/?recursive=true`. These requests typically take ~5s and appear randomly across requests as far as we can tell.

<img width="533" alt="Screen Shot 2019-09-10 at 5 12 52

[2019-09-11 18:08] gotwalt commented on #1114
For whatever it's worth, I just set up a simple express endpoint that uses node-fetch to request that endpoint. Non-statistically-defensible sampling from the same instance says it averages 1-2ms.

[2019-09-11 18:09] JustinBeckwith commented on #1114
Greetings @gotwalt!  This is a known bug, and @bcoe is actively working on a fix.  Apologies for the trouble!

[2019-09-11 18:19] kjin commented on #1114
@JustinBeckwith Is there a link to this known bug?

[2019-09-11 21:23] gotwalt commented on #1114
Can confirm that @stephenplusplus's [recco in this thread](https://github.com/googleapis/nodejs-datastore/issues/481#issuecomment-530484597) to switch from alpine to slim appears to work around the issue.

[2019-09-17 21:37] bcoe commented on #1114
@gotwalt closing, as there's both a workaround and the underlying cause should also be addressed :+1:

[2019-09-17 21:37] #1114 closed

[2019-09-20 18:58] kjin opened #1119 "CircleCI plugin/dep cache should be invalidated nightly"

[2019-09-24 17:20] kjin commented on #1074
Hi @emillg -- any update on this?

[2019-09-26 18:07] #1119 closed

[2019-09-26 23:58] kjin opened #1123 "Support mongodb@3.3+"
Per `mongodb` release notes, `mongodb-core` is now folded into `mongodb`: https://github.com/mongodb/node-mongodb-native/releases/tag/v3.3.0

In order to continue supporting `mongoose` (starting at 5.7), we will now need to support `mongodb`.

[2019-09-28 08:36] Elyx0 commented on #725
Any advancements? I'm not sure if it's locking me on https://github.com/googleapis/nodejs-logging/issues/591

[2019-09-30 17:39] kjin commented on #725
Hey @Elyx0, I saw that you also posted on https://issuetracker.google.com/124761993 -- you should treat that as the source of truth. Thanks!

[2019-10-02 21:24] kjin commented on #1074
@emillg I'm closing this issue again for housekeeping purposes, please comment if you have an update!

[2019-10-02 21:24] #1074 closed

[2019-10-04 17:27] #1123 closed

[2019-10-09 01:41] davidbielik opened #1139 "Feature Request: extend plugin to add labels to each span"
**Is your feature request related to a problem? Please describe.**

I'm using `trace-agent` within an Express.js application and it works wonderfully with one line of code and zero effort 😎.

I would like to add a custom label to every trace, though, and since I am not creating the traces myself, I don't have any interface to do so.

This ability would allow me to add additional data for filtering

[2019-10-09 18:16] kjin commented on #1139
Hi @davidbielik, thanks for the suggestion! Would it serve your use case to have an Express middleware that would add a label to each trace like this: https://gist.github.com/kjin/61bdac2f5cd1c6ef1a13efb2765a69a4

[2019-10-09 22:07] davidbielik commented on #1139
Hi @kjin - thanks for that - will work perfectly!

[2019-10-09 22:07] #1139 closed

[2019-11-08 14:42] piotrmoszkowicz opened #1147 "Error with source-map-support dependency - bump up of version is needed."
#### Environment details

  - OS: Mac Os X Catalina
  - Node.js version: 10.16.3
  - npm version: 6.9.0
  - `@google-cloud/trace-agent` version: 4.2.2

#### Steps to reproduce

  1. Run app with Koa Framework and trace it via library.
  2. Because of errors in dependency you get following error:
[code]

I will open PR with buming up the version of the dependency, that's what fixed it for my projec

[2019-11-08 19:27] #1147 closed

[2019-11-26 21:52] grayside opened #1161 "Cloud Run compatibility"
I've built a simple Hello World express service for Cloud Run, and can sometimes see data show up in the Trace console. However, most of the time it's not getting through.

This could easily be because CPU is withdrawn from the Cloud Run service as soon as a response is sent and there is no mechanism for cleanup operations when a container instance is halted.

Here's the most recent code I've trie

[2019-12-04 16:45] kjin commented on #1161
I ran your code exactly as written (adding only a statement to listen to a port) and could not seem to reproduce this -- I see 98/100 requests being traced (the remaining 2 might be due to your explanation above. This is after essentially following the Cloud Run tutorial (https://cloud.google.com/run/docs/quickstarts/build-and-deploy) and replacing the tutorial code with yours. Is your setup diffe

[2019-12-05 05:05] grayside commented on #1161
Alright, tried this again, and tonight it's working much more consistently. The question then: was the 90 minute period in which I tested this previously a fluke, or does this race condition vary between minor and severe impact?

I am essentially following the quickstart.

[2019-12-09 22:11] kjin commented on #1161
I'm not very familiar with the internal workings of Cloud Run, so unfortunately I can't answer that question.

Please re-open this bug if you observe traces not getting published again. Thanks!

[2019-12-09 22:11] #1161 closed

[2019-12-11 20:38] PatrickHeneise opened #1167 "Support for Fastify"
**Is your feature request related to a problem? Please describe.**

I installed the trace agent in our API via npm and added it to the first line when initialising the API with fastify.io.

 **Describe the solution you'd like**

Fastify has a similar routing system as Express, so I was hoping this would work out of the box. But after deploying the API on Google Cloud Run, I didn't get any results

[2019-12-14 21:17] danielguardicore commented on #725
Like @shaneosullivan the current workaround doesn't work for me. Node8 on GCF

[2019-12-15 12:34] danielguardicore commented on #725
@ofrobots any way to get an ETA? H1? H2?

[2019-12-17 20:26] danielguardicore opened #1170 "Support for flushing current traces"
In cases such as running on a Google Compute Function or Google Run container, we can't rely on background workers to send our traces to Stackdriver. The current suggested workaround is setting the buffer size to 1.

However, this requires that the trace-agent constantly send traffic.

Other opencensus tracing libraries (see [SO answer](https://stackoverflow.com/a/59166720)) provide a flush primit

[2019-12-19 21:55] kjin commented on #1167
Hi @PatrickHeneise, we aren't adding support for tracing additional libraries at this time, as we are planning to converge with [OpenCensus for Node.js](https://github.com/census-instrumentation/opencensus-node) (also see #977). Sorry about that!

[2019-12-20 07:59] PatrickHeneise commented on #1167
That sounds like a good plan. Is there a timeline?

[2019-12-30 19:51] elucidsoft opened #1176 "Unable to Connect with Kubernetes NetworkPolicies Enabled"
I am having a difficult time figuring out how to give this the access it needs for it to pull Project information in Kubernetes with NetworkPolicies enabled.  If I disable the NetworkPolicies and allow ALL ingress/egress it works just fine.

What port is it using to pull this information?

The error I get:

@google-cloud/trace-agent ERROR TraceWriter#initialize: Unable to acquire the project numbe

[2019-12-30 20:15] elucidsoft commented on #1176
Ok I think I figured this out, if someone can confirm it's the proper way?  You should probably add this to your documentation.

`
egress: [
      {
        ports: [
          {
            port: 80
          }
        ],
        to: [
          {
            ipBlock: {
              cidr: "169.254.169.254/32"
            }
          }
        ]
      }
    ]
`

[2019-12-30 21:34] bcoe opened #1177 "tests are failing on main branch"
For the last few PRs that have come in, I'm noticing that most of the Circle CI tests are failing, see #1174, #1175.

[2019-12-30 22:08] bcoe commented on #1176
@elucidsoft :+1: glad you worked things out, this certainly wouldn't have been obvious to me. Add the `docs` label to this :+1:

[2020-01-02 10:54] jpreynat opened #1178 "Logging an object using addLabel in a Node 10 Google Cloud Function creates a line per property"
#### Environment details

  - OS: Google Cloud Function
  - Node.js version: 10.15.3
  - npm version: 6.4.1
  - `@google-cloud/trace-agent` version: 4.2.0

#### Steps to reproduce

Creating a child span and adding a label using the `span.addLabel()` method creates a logging line per object property, instead of `JSON.stringify`ing the object on one line.

This is very annoying for two reasons:
- It

[2020-01-02 19:52] #1177 closed

[2020-01-06 23:00] failure-checker[bot] opened #1181 "Warning: a recent release failed"
The release PR #1169 is still in a pending state after several hours

[2020-01-06 23:10] kjin commented on #1181
This appears to be a race-condition to publish between CircleCI and Kokoro. We only need one to do the publish. I suppose I can remove the CircleCI publish step.

[2020-01-06 23:36] bcoe commented on #1181
@kjin I'd prefer we consolidate on one approach across the googleapis repos, if you don't mind removing it from CircleCI :+1:

[2020-01-06 23:36] #1181 closed

[2020-01-14 12:08] yoshi-automation opened #1184 "Synthesis failed for cloud-trace-nodejs"
Hello! Autosynth couldn't regenerate cloud-trace-nodejs. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/c9a67de3-2540-4828-a553-47aa5fbae976).

[2020-01-15 12:41] yoshi-automation commented on #1184
Autosynth passed, closing! :green_heart:

[2020-01-15 12:41] #1184 closed

[2020-02-04 19:46] SantiMA10 opened #1193 "Support hapi@19"
#### Environment details

  - OS: Google App Engine
  - Node.js version: 12.14.1
  - npm version: 6.13.4
  - `@google-cloud/trace-agent` version: ^4.2.5

#### Steps to reproduce

  1. Create a new project with hapi@19
  2. Add @google-cloud/trace-agent
  3. Deploy it to Google App Engine
  4. No trace information is shown at Stackdriver Trace Console 😞

[2020-02-25 02:16] davidbielik commented on #1139
Hi @kjin I have a similar question - how would I disable the tracer from running in a certain route within Express?

I have a few routes that do hundreds of async requests and I don't want to trace these routes. I don't see any methods in the docs on how to temporarily disable a tracer.

https://googleapis.dev/nodejs/trace/latest/miscellaneous/functions.html

[2020-02-25 02:56] kjin commented on #1139
You can use `ignoreUrls` to prevent certain routes from being traced. Does that work for you?

[2020-02-28 19:26] bcoe opened #1207 "make test requirements closer to other Node.js repos"
we have been finding that GitHub actions work quite well for most other Node.js repos, currently cloud-trace-nodejs is one of our few repos using CircleCI. Ideally I would like us to consolidate on using GitHub actions and kokoro, as it will make managing a large number of repositories easier.

Let me know if there's anything I can do to help.

[2020-03-02 13:01] AdriVanHoudt commented on #1193
This works for us with hapi 19, trace agent 4.2.5, node 12.16 (I'm fairly sure 12.14 did as well) on compute engine with no special config.
Did you call .start()?

[2020-03-02 16:04] SantiMA10 commented on #1193
It's working now, maybe there was some lag ingesting the traces.

[2020-03-02 16:12] SantiMA10 commented on #1193
@AdriVanHoudt can I open a PR to update the supported hapi versions in the README?

[2020-03-02 19:30] kjin commented on #1207
Does Kokoro support running VMs alongside to test DBs? I think that's the only reason we have been unable to move off of CircleCI.

[2020-03-02 22:41] bcoe commented on #1207
@kjin what databases do we need to run, the answer is it depends :smile:

There might be the option of running some long lived databases in our CI/CD environment.

[2020-03-03 19:09] kjin commented on #1207
MongoDB, Postgres, MySQL, and Redis. The exact details are [here](https://github.com/googleapis/cloud-trace-nodejs/blob/fc63a016296438228d623068a1cd760976e16eb1/.circleci/config.yml#L67-L84).

Long-lived might be OK if we make sure every run creates a different table (they currently don't). I think ephemeral, containerized DBs is still a more robust option, but if that takes a lot of work it's pro

[2020-03-06 19:42] kjin commented on #1207
I just remembered that another difference (that complicates coverage in particular) between this library and others is that many of our tests run in different processes because the Trace Agent is global state. In the past I started an effort to convert tests so they could be run together in the same process but never finished this. This meant that every test process had its own coverage file and w

[2020-03-06 20:11] bcoe commented on #1207
@kjin c8 manages this by setting an environment variable that carries to subprocesses, so this totally works :smile:

[2020-03-10 10:28] Mistic92 opened #1215 "Support restify 8"
I see that there is no support for restify 8 and I don't see any trace spans in GPC console when using this version.;

[2020-03-19 00:39] giuliano-barberi-tf commented on #946
It looks like Bluebird has been removed in the newest release of knex. Does anyone know if this issue is fixed now?

[2020-03-19 20:42] jugglingthebits commented on #946
@giuliano-barberi-tf I have tested this today, and it isn't fixed.

[2020-04-02 00:59] eli-darkly opened #1231 "unsure if "memory leak" message refers to the client or to the host app"
Hi. I haven't used Cloud Trace myself, but I'm trying to track down an issue that a user of my SAAS product is having where they are getting the following message from Cloud Trace:

`@google-cloud/trace-agent ERROR TraceApi#createChildSpan: [http@12.14.1:https] Adding child span [stream.launchdarkly.com] will cause the trace with root span [/v1/events] to contain more than 200 spans. This is likel

[2020-04-02 01:49] kjin commented on #1231
If you do any kind of request pooling or otherwise reuse objects between different requests in your client library then it could be as a result of that. Keep in mind this could be as a result of dependencies like Bluebird if you use it. But if your service's client code is relatively thin it might be an issue with your user's codebase or their dependencies. You're right that we can't really tell f

[2020-04-02 18:17] eli-darkly commented on #1231
@kjin Could you say more about what you mean by "otherwise reuse objects between different requests"? It's hard for me to imagine a scenario where handling different requests would _not_ involve referencing some of the same objects.

Also, am I wrong that this specific message was added because the client was previously known to have had a leak? The message and the code comments seem to me like th

[2020-04-02 18:53] kjin commented on #1231
My bad, I should have been clearer - I'm referring to retaining request data that could conceivably be used in or linked to a different request. A common case of this would be userspace request pooling, where maybe you have a specific number of connections available at a time. If you have a pool of 16 reusable connections, say, it's possible that the 17th request accidentally gets associated with

[2020-04-02 18:57] eli-darkly commented on #1231
Thanks, that's helpful and gives me more of an idea what to look at in the code. Probably the best way for me to proceed is to just use regular memory profiling tools while exercising these code paths heavily.

[2020-04-02 18:57] #1231 closed

[2020-04-10 15:27] hjr3 opened #1235 "express plugin will always call async handlers"
The use of something like https://github.com/Abazhenov/express-async-handler with the express plugin causes some very strange behavior. The async handler is always ran, even if earlier middlware sends back a response. I also believe the async handler is ran outside of the context of the request, so if there is any rejected promise or exception will trigger the `process.on('uncaughtException')` and

[2020-04-11 08:22] #1193 closed

[2020-04-18 20:22] kintel opened #1246 "app sample broken: TypeError: The `GET` method cannot be used with a body"
#### Environment details

  - OS: macOS
  - Node.js version: 10.20.1
  - npm version:   6.14.4
  - `@google-cloud/trace-agent` version: 4.2.5

#### Steps to reproduce

[code]

[code]

#### Notes

It looks like this example is using the `got` API wrongly: The `json` argument is supposed to be a serializable POJO, not a boolean: https://github.com/sindresorhus/got#json

[2020-04-18 20:56] kintel commented on #1246
Idea: We should have an automated test of this example, as this is used as the official Node.js example for the Cloud Trace product

[2020-04-20 16:55] bcoe commented on #1246
I agree, this would be smart 👍 we already run `sample-tests` as part of CI/CD.

[2020-04-21 22:44] JustinBeckwith commented on #1215
Landed in #1250

[2020-04-21 22:44] #1215 closed

[2020-05-01 03:57] rvillane opened #1256 "v4.2.5 uses old dependency that contains NODE-SECURITY-1184 vulnerability"
#### Environment details

  - OS: macOS and linux alpine
  - Node.js version: 10.20.x
  - npm version: 6.14.4
  - `@google-cloud/trace-agent` version: 4.2.5

#### Steps to reproduce

  1. npm ls https-proxy-agent
  2. check the response:

backorder-updates-node@2.0.0 /Users/crmar/GitHub_Storage/backorder-updates
├─┬ @google-cloud/trace-agent@4.2.5
│ └─┬ gcp-metadata@3.2.0
│   └─┬ gaxios@2.0.1
│

[2020-05-05 14:49] Mistic92 commented on #1167
Hi, is there update for this task? I'm using nestjs with fastify.

[2020-05-06 03:28] kintel commented on #1167
New features will go into [OpenTelemetry](http://opentelemetry.io), which is the successor to OpenCensus. Please open an feature request against https://github.com/open-telemetry/opentelemetry-js-contrib.

[2020-05-07 04:37] kintel opened #1259 "Improve test of sample app"
The sample app test (https://github.com/googleapis/cloud-trace-nodejs/blob/master/samples/test/test.js) really just checks that the sample app process starts, not that it does the right thing.
This caused #1246 to go undetected for an unknown amount of time. Since this is also the official example used for the Cloud Trace public documentation, it important that it works at all times.

[2020-05-07 04:48] #1246 closed

[2020-05-07 05:02] build-cop-bot[bot] opened #1260 "Mocha Tests: creates a TraceSpan structure with expected fields failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: 1ac424efbc66a2057ed6290e1d98c2fe1731c76e
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-05-07 05:17] JustinBeckwith commented on #1256
@kintel @ZiweiZhao we apply these `triage me` labels as a signal that we need a `type: ` label, and if it's a bug, a `priority: ` label :)

[2020-05-07 05:41] kintel commented on #1256
Sounds good. Is this documented somewhere? ..and what's the flashing light label?

[2020-05-14 07:01] InCodingNowLiu opened #1264 "memory leak of trace. What the suggestion of child span numbers?"
@google-cloud/trace-agent ERROR TraceApi#createChildSpan: [no-plugin-name] Adding child span [findFirstUsersInOrg] will cause the trace with root span [/graphql] to contain more than 10 spans. This is likely a memory leak.

[2020-05-14 12:51] klon opened #1265 "Trace agent spams our stderr due to large number of redis commands"
Some of our requests trigger large clean ups in our Redis cache causing the creation of a large amount of child spans. This in turn creates thousands of stderr log lines making the stderr log unusable. We can't use ignoreUrls because many requests to the same URL are ok and we want to trace those. Also we can't know before hand how many redis del commands there will be, it could be tens of thousan

[2020-05-15 00:46] chingor13 opened #1266 "Synthesis failed for cloud-trace-nodejs"
Hello! Autosynth couldn't regenerate cloud-trace-nodejs. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/None).

[2020-05-15 00:51] chingor13 commented on #1266
Autosynth passed, closing! :green_heart:

[2020-05-15 00:51] #1266 closed

[2020-05-15 07:08] kjin commented on #1264
It looks like your app has `spansPerTraceSoftLimit` set way too low -- the default value is [200](https://github.com/googleapis/cloud-trace-nodejs/blob/ef15619ab4103d303c7ae53d9269357970083add/src/config.ts#L324) but in the error message you posted it's 10. (see [source](https://github.com/googleapis/cloud-trace-nodejs/blob/ef15619ab4103d303c7ae53d9269357970083add/src/trace-api.ts#L360)). Is there

[2020-05-15 07:14] kjin commented on #1265
Thanks for reporting this! It seems reasonable to want to have an upper limit without reporting.

By the way, IIRC, I don't think the Stackdriver Trace API allows more than 1000 spans per trace anyway, so I believe raising the hard upper limit to 3200 is unnecessary.

I haven't thought through all aspects of it, but let's say that we change the behavior so that no matter what `spansPerTraceHardLim

[2020-05-15 07:45] kjin commented on #1235
Sorry, I can't seem to reproduce this with the code you supplied. Since you gave TS I thought transpilation target might affect behavior -- I tried es5 and also no downleveling and didn't observe the rejected Promise. Do you have more info on when you observe this?

[2020-05-15 09:36] klon commented on #1265
Thanks for reply! That sounds good. My only concern is potential memory usage and performance of allowing unlimited number of child spans in our app that will then eventually be discarded. Ideally the creation in the agent code would be limited as well.

[2020-05-15 09:42] klon commented on #1265
Thinking a little more on this.. Maybe the best fix is to make `spansPerTraceHardLimit` limit creation in the agent to reduce performance cost and just change the log level to WARN for those log lines, then we can choose to only log ERRORs and they would not clutter stderr.

[2020-05-15 17:26] SurferJeffAtGoogle opened #1267 "Synthesis failed for cloud-trace-nodejs"
Hello! Autosynth couldn't regenerate cloud-trace-nodejs. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/None).

[2020-05-15 17:59] yoshi-automation commented on #1267
Autosynth passed, closing! :green_heart:

[2020-05-15 17:59] #1267 closed

[2020-05-19 05:45] kjin commented on #1265
Sure, we can do that. I was hesitant before because this might mask error messages from other users when they might be having real problems. But looking at the rest of the logging points at warn-level, I don't think it's too unreasonable for us to ask users to enable warn-level logging before reporting issues.

[2020-05-22 23:07] hjr3 commented on #1235
@kjin thank you for taking a look. I checked and the above does not reproduce it for me either. Let me spend some time creating a reproducible case in a repo that I can share with you.

[2020-05-27 16:32] codeana opened #1270 "Botkit nodejs app cloud trace context propagation issues"
Hello,

I have created a nodejs slack app using Botkit api (https://botkit.ai/docs/v4/core.html). I have deployed it on gke and trying to utilize stackdriver cloud trace to trace the application latency.

In the main Botkit server file bot.js, I have started the trace as follows:

[code]

All the other app files are in a folder lib, parallel to the main file bot.js.
I am loading all the files in l

[2020-05-27 20:55] kintel commented on #1270
The botkit you're using uses Microsoft's botbuilder under the hood. The botbuilder proxies all requests: https://github.com/microsoft/botbuilder-js/blob/master/libraries/botbuilder-core/src/botAdapter.ts#L154

I believe this proxying technique will break our context propagation, as we cannot control which framework invocation matches which request.

@bcoe @kjin Do you have any additional insight/a

[2020-05-27 21:44] bcoe commented on #1270
@kintel @codeana only additional advice,  would be perhaps it's worth opening an issue on botbuilder-js too, since it seems like it's an interaction between our two libraries that's the issue.

[2020-05-29 03:29] codeana commented on #1270
Thank you guys for the feedbacks, I have a follow-up question on this. I made some changes in the code and tried to log the rootSpan and childSpan for each of the methods where I want to implement custom tracing:

**The code used in the server bot.js file is:**
[code]
The code calling flow is:
1. First method to be called is CloudStart:
- Inside of CloudStart method, multiple methods are called in

[2020-05-29 16:09] kintel commented on #1270
You may have managed to hit another corner-case:
I don't see anything immediately wrong with what you're doing, and I can verify that the missing spans didn't make it to our backend.

Would you be able to share a source code of an example that fails like this (e.g. by mocking out the slack API calls or smth.)? If you do I can setup a repro case on my end and take a closer look at what happens behi

[2020-05-29 16:54] kintel commented on #1256
Fixed by #1219, will be part of the 5.0.0 release

[2020-05-29 16:58] #1167 closed

[2020-05-29 17:12] #1265 closed

[2020-05-29 18:11] kintel commented on #1176
TODO:
* [ ] Consult GKE docs, establish recommendation and give feedback here
* [ ] Make sure this issue is raise in appropriate places for OpenTelemetry

[2020-05-29 18:17] kintel commented on #1178
@jpreynat Sorry for late response: Could you clarify what you mean by "creates a logging line"? Are you referring to manually created logs sent to Google Cloud Logging?

A screenshot or minimal code example would help us tremendously in identifying the problem.

[2020-05-29 22:06] #1260 closed

[2020-05-29 22:43] jpreynat commented on #1178
Hi @kintel,

No worries, my message wasn't very clear at the time, and I realized afterwards that my problem relied on the NodeJS execution environment for Google Cloud Functions, not in this module.
We have an abstraction in our code that uses `@google-cloud/trace-agent` and capture labels during execution and `console.log` all of them at the end for debugging purposes.
I foolishly believed that

[2020-05-29 22:53] kintel commented on #1178
Thanks for the clarification and good that you got it sorted - I'll close this.
FYI:
* Google Cloud Functions went through a rather large change from node8 to node10 -> the node10 runtime is not fully Open Source.
* If you use Google's logging APIs, you should be able to correlate traces with logs, and benefit from such correlation by having both tracing and logging UIs in Google Cloud Console cre

[2020-05-29 22:54] #1178 closed

[2020-06-01 22:04] seeARMS opened #1272 "Support pg v8"
Trace doesn't work with the newest pg major release (v8). It would be great to add support for this, as currently the lib only works with versions 6-7.

[2020-06-02 08:32] jyparketc opened #1273 "[Question] Does cloud-trace-nodejs support head based sampling?"
**Is your feature request related to a problem? Please describe.**

Does cloud-trace-nodejs support[ head based sampling](https://www.jaegertracing.io/docs/1.18/sampling/)?

I've run micro-services that send **high-rate request**.

A  -------- context propagation ----------> B

And I found that sometimes span A is sampled but span B is unsampled in same trace.

That is because [this.sampler.should

[2020-06-03 09:21] rueian commented on #1272
It seems that the current logic of pg plugin can be used with v8 directly.

[2020-06-03 17:30] kintel commented on #1273
Yes, we do head-based sampling, but we may re-sample to respect the configured sampling rate.
I believe a pure head-based sampling can be set up with a config like this:
[code]

Note: This will probably not create any root spans, but require all requests to come with a propagation header.

Let me know how this works for you.

[2020-06-04 17:16] Valrathius opened #1275 "plugin-restify.js not upgraded to 8.x"
Hi,

I have tried to get the trace-agent running using restify but it is not working. My question is could it be related to the plugin-restify.js not being properly updated.

I have the same problem locally as with the App Engine Standard environment.

(I don't know if this issue should be filed here or at another place so forgive me if this is the wrong area.)

#### Environment details

  - OS: M

[2020-06-04 18:04] kintel commented on #1275
This was fixed by #1250 and will be released in version 5.0.0 (#1241) which is expected to land soon.

[2020-06-04 18:04] #1275 closed

[2020-06-05 06:32] jyparketc commented on #1273
@kintel , it works well to me!
thank you for your help :+1:

[2020-06-05 06:32] #1273 closed

[2020-06-08 15:54] kintel commented on #1272
TODO:
* [ ] Add v8 support
* [ ] Make sure v8 is tested
* [ ] Evaluate how well pg in general and pg v8 is supported in OpenTelemetry, and open tickets where appropriate

[2020-06-08 17:57] codeana commented on #1270
@kintel I was able to collect traces using opentelemetry. If I face issues further I will setup a repo for further discussion. Thank you for your help.

[2020-06-08 18:34] kintel commented on #1270
Sounds great - OpenTelemetry is the future anyway. If you find any weaknesses in OpenTelemetry in comparison with this library, let me know and I can escalate accordingly.

[2020-06-08 18:34] #1270 closed

[2020-07-02 00:21] jcao219 opened #1288 "Probably a good idea to share the require-in-the-middle types with DefinitelyTyped :)"
Hi @kjin hi all,

It would be great to contribute to definitelytyped for the require-in-the-middle types

[2020-07-09 19:44] kintel commented on #1176
I believe the correct way of making GKE set up a route to the metadata server is to enable "Workload Identity": https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity#enable_on_existing_cluster

[2020-08-25 17:59] richardscarrott opened #1303 "GraphQL Support"
GraphQL has just a single endpoint which means the http method and path aren't particularly interesting:

<img width="565" alt="Screenshot 2020-08-25 at 18 53 56" src="https://user-images.githubusercontent.com/539309/91210032-87a75f80-e704-11ea-8ac1-930242bc1dcc.png">

I'm not 100% sure how you're instrumenting http / express but I wonder if it would be possible to read the [gql operation](https:/

[2020-08-25 18:51] kintel commented on #1303
We're not planning to add new functionality to this library; all new development happens in [OpenTelemetry](https://open-telemetry.github.io/opentelemetry-js/).

I'm not familiar with how well OpenTelemetry supports GraphQL, but if your run into any issues, I would suggest opening an issue against https://github.com/open-telemetry/opentelemetry-js-contrib, asking for (better) GraphQL integration.

[2020-08-25 19:21] richardscarrott commented on #1303
@kintel interesting, is there any documentation re: using opentelementry-js with GCP / GKE?

I was looking through this library's API and found `tracer.getCurrentRootSpan()` but not sure if the following would be safe:

[code]

1) How does `tracer.getCurrentRootSpan()` know which span belongs to this request, is it some async_hooks magic?
2) Is it possible / safe to override the built-in trace lab

[2020-08-25 19:41] kintel commented on #1303
Public docs for using OpenTelemetry with GCP is here: https://cloud.google.com/trace/docs/setup/nodejs-ot
Re. OpenTelemetry: I don't think there are any particular concerns regarding which compute product you use; OpenTelemetry is designed to be as cloud-neutral as possible and that should extend to product-neutral (as long as your GKE components can egress to the Cloud Trace APIs).

[2020-08-25 19:55] kintel commented on #1303
I wouldn't modify the root span in this case, but rather create a new span for the GraphQL job. This would also allow you to see a separate latency breakdown for the GraphQL request vs. the HTTP request.
I think smth. like this (modulo async execution stuff):
[code]

And yes, there is some async-hooks magic that should keep track of the span context per request, as mentioned in the [README](https:

[2020-08-26 10:01] richardscarrott commented on #1303
@kintel Thanks for the help, the child span works well and at least allows us to identify which operation is taking place in the /graphql calls, even if the main trace list is still just /graphql everywhere.

I ended up creating a very simple Apollo Server extension (I think in newer Apollo Server versions they're called 'plugins' and the API may have changed so mileage may vary):

[code]

I'm sur

[2020-08-26 10:01] #1303 closed

[2020-08-26 16:52] kintel commented on #1303
Happy I could be of help, and thanks for posting your solution!

[2020-10-06 14:57] rvillane opened #1313 "@google-cloud/trace-agent@5.1.1 includes dependencies with security vulnerabilities"
node-forge v0.9.1 was recently identified with high severity vulnerability CVE-2020-7720 [1]. The issue has been solved in v0.10.0

[code]
[1] https://www.npmjs.com/advisories/1561

[2020-10-15 00:41] JustinBeckwith commented on #1313
Greetings!  We use floating range specifiers, so a `npm audit fix` should take care of this locally.

[2020-10-15 00:41] #1313 closed

[2020-10-15 00:41] #1235 closed

[2020-10-20 09:12] ael-g opened #1314 "14 UNAVAILABLE: Stream refused by server"
Hi,
We have the following stacktraces that appeared since 16 of october:
[code]

The service is running in a docker container in GKE, versions are:
- node:12.12.0-alpine
- @google-cloud/trace-agent: 5.1.0

[2020-10-27 17:51] ignasirv opened #1316 "Not sending traces on ES module and Babel"
#### Environment details

  - Node.js version: 12.4
  - npm version: 6.9.0
  - `@google-cloud/trace-agent` version: 5.1.1

#### Steps to reproduce

Create a node project with babel interpreter (babel-node) and hapi 18 and configure tracer-agent

No warning or error is printed and no traces are sent to traces API.
Tried to load the module both with require and import * as tracer from.

start script

[2020-11-05 14:02] TerryRPatterson opened #1318 "Node native esm support for"
At the moment automatic tracing does not work when using native es modules in node as require is never called.

Would it be possible to expose the functions that hook the modules so we can manually call them when using es modules?

[2020-11-06 15:45] ignasirv commented on #1316
Te problem was I was importing hapi with import this way:
`import * as hapi from "hapi"`
So it was being loaded before traces. Te correct way to import both is this one:
`
require('@google-cloud/trace-agent').start();
const hapi = require('hapi');
`
Without imports
You can close the issue

[2020-11-10 19:23] richardscarrott opened #1319 "Postgres unhandled promise rejection"
We're getting unhandled promise rejections from the `pg` module (via postgraphile) only when the trace agent is enabled:

[code]

#### Environment details

##### System:
    OS: Linux 4.9 Debian GNU/Linux 9 (stretch) 9 (stretch)
##### Binaries:
    Node: 12.14.0 - /usr/local/bin/node
    Yarn: 1.21.1 - /usr/local/bin/yarn
    npm: 6.13.4 - /usr/local/bin/npm
##### Packages:
    @google-cloud/trace

[2020-11-11 11:48] #1316 closed

[2020-11-19 14:01] shuaibiyy opened #1324 "mysql plugin does not propagate `fields` parameter in query callback wrapper"
#### Environment details

  - OS: 10.15.7
  - Node.js version: v10.22.1
  - npm version: 6.14.6
  - `@google-cloud/trace-agent` version: 5.1.1

#### Steps to reproduce

In the mysql plugin's callback wrapper, the fields parameter is not accepted and forwarded. https://github.com/googleapis/cloud-trace-nodejs/blob/dd67d0585b2d6a3cb900d7996a3d1043f9be7fee/src/plugins/plugin-mysql.ts#L51

It should b

[2020-12-07 14:29] pedrolcn opened #1326 "Allow conditionally disabling propagation injection."
**Is your feature request related to a problem? Please describe.**
cloud-trace by default injects trace-propagation headers on all outgoing HTTP requests, this has caused problems with external services which reject requests containing unexpected headers.

 **Describe the solution you'd like**
It should be possible to pass in the configurations object a function (with a signature somwhat like `(op

[2020-12-10 18:53] danvk commented on #1272
Here's a hack to enable the v7 pg plugin on pg v8. Use at your own peril.

[code]

[2021-01-22 12:40] weyert commented on #1272
How can we progress this pull request?

[2021-01-22 15:01] samcfinan commented on #946
Experiencing a similar issue with Sequelize v5

[2021-02-04 00:47] bcoe opened #1331 "Tests for PostgreSQL and some versions of Hapi should be re-enabled or deleted"
The tests for PostgreSQL and for some versions of Hapi have been turned off, because they were not running on Node 14 and Node 15.

They should either be removed completely, or fixed.

[2021-02-04 17:18] flaky-bot[bot] opened #1334 "test-trace-mysql: should work with connection pool access failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 5a2cc3910434e930e250d038ca3455d3532a3e77
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/ef

[2021-02-14 11:00] klon commented on #867
As node-redis is looking more and more like abandonware (https://github.com/NodeRedis/node-redis/issues/1566) and ioredis seems like the active client project can we get this prioritized? Lack of trace plugin is the only reason we are not moving to ioredis right now.

[2021-02-24 19:01] contra commented on #1272
Looking at the actual changelog the only reason it went from v7 to v8 is because node 6 support was dropped: https://github.com/brianc/node-postgres/blob/master/CHANGELOG.md#pg800

It should be really quick to just add 8.x to the versions list.

[2021-03-13 00:54] bcoe commented on #1272
@contra thanks for taking a look, I'll bring this issue up internally as well, see if I can get anyone's 👀 on it.

[2021-05-05 20:20] gkf opened #1345 "Tests are broken"
The tests are currently broken. The tests broke after https://github.com/googleapis/cloud-trace-nodejs/pull/1340 was merged. I tried reverting this change in https://github.com/googleapis/cloud-trace-nodejs/pull/1344, but it didn't fix the tests. So it seems like there was an external dependency change that broke the tests.

[2021-05-18 15:41] Zorato commented on #1272
Hey @bcoe any good news on this?

[2021-05-21 00:52] bcoe commented on #1272
@Zorato unfortunately no updates, @kintel do you know who a good person to loop in would be?

[2021-05-21 00:59] kintel commented on #1272
@jarek-dudek @gkf Could you follow up on this?

[2021-05-29 23:13] gkf commented on #1272
Sorry I don't have much to add. This is effectively on our backlog currently.

[2021-06-11 21:16] JustinBeckwith commented on #1345
Things appear to be working now?

[2021-06-25 19:00] syalinbas opened #1359 "how to attach a span to a trace created in another service"
I have a service (A) running in Kubernetes and calls GDF/Google Dialogflow (B) and B in return calls a Cloud Function (C). C is a Javascript code and utilize this client library to create spans.

I have a trace started in service A and the trace context is passed along to B in the payload. C gets that trace context and tries to create a span using traceIdString and spanIdString values in that ```t

[2021-06-29 15:34] franciscomerdot commented on #1359
+1

[2021-06-29 17:13] franciscomerdot commented on #1359
@syalinbas don't take this assumption for granted.

It looks google has changed its trace API to check on span ids to be a numeric 64-bit value (log, bigint, etc...), in my case the service I built is running on `Cloud Run` which work very similar to `Cloud Function`, the proxy that routes incoming requests to the `container/function` is wrapping the request into a span overriding any received spa

[2021-06-29 17:40] syalinbas commented on #1359
I provide only alpha-numeric value for traceId and spanId. Do you mean that the numeric values corresponding to their alpha numeric values might be an invalid value deemed by Google trace API ?

[2021-06-29 17:52] franciscomerdot commented on #1359
It looks, google trace API no longer accept alpha-numeric values for span id, it expects it to be 64-bit number. even if you sent a numeric value from service B to C in the context, due to the could function edge load balancer, that will be overridden with an alphanumeric value. so the temp solution is only to assign span id to the root span content in your service C if the received span id is a n

[2021-07-01 03:41] syalinbas commented on #1359
Based on your above comment I changed the span creation in Service A to have a spanId from 0 to Long.MAX_VALUE.  Then I used that value in Service C. I used both numeric and alphanumeric version and unfortunately I still get the same ERROR with 400 code.

[2021-07-01 12:29] franciscomerdot commented on #1359
@syalinbas I think 0 is not a valid span id, can I have some code to check how yo are propagating the context to create your root span in service C?

Also the exact error you are having (you can hide private values)

[2021-07-01 16:34] syalinbas commented on #1359
@franciscomerdot You are right about 0L value. I saw in the codebase that 0L signals to generate a new spanId. However I am pretty sure that it was not 0L since I log those values. The trace context as JSON object encoded as protobuf with the following in Service A:

[code]

And on the other end of the wire in Service C it appears as following:
[code]

The ```runInRootSpan``` has the following sig

[2021-07-01 18:49] franciscomerdot commented on #1359
Given this json.

[code]

You are using `spanIdString` or `localRootIdString` which contains alphanumeric values 629798b03738`f`65`f` as the `traceContext.spanId`. This is not supported by google trace API.

User `spanId` with value `7104314819808393000` as the `traceContext.spanId` in service C which only contains numeric values.

[2021-07-01 21:02] syalinbas commented on #1359
@franciscomerdot

In you very first comment you said

If that is the case isn't the (hex) value ```629798b03738f65f``` is well within that range ?

Also numeric value of ```629798b03738f65f``` is ```7104314819808392799``` and this number is rounded to thousands place and ```...2799``` becomes ```...3000```. This number is already too big for JS Number type can handle and I guess that is reason thi

[2021-07-01 21:10] franciscomerdot commented on #1359
You cannot send a hex nor a value with letters it must be a number.

[code]

[2021-07-02 00:04] syalinbas commented on #1359
Passing ```spanId``` instead of ```spanIdString``` worked. I guess generating ```spanId > 0``` for the span helped since I was getting the error even if I used ```spanId```. Actually that was the very first version. Lessons learned:

1) ```spanId``` should be a positive value
2) even if ```spanId``` rounded it works and was never the real issue (e.g. original ```363804919814313570``` and the JS cl

[2021-07-02 00:05] #1359 closed

[2021-07-23 21:21] yoitsro opened #1366 "Support @grpc/grpc-js"
**Is your feature request related to a problem? Please describe.**
When using the C based implementation of gRPC in node, traces were being correctly reported. They no longer are. This could potentially be a bug, but it more accurately seems like a new implementation is required, hence why this is being filed as a feature request.

 **Describe the solution you'd like**
Ideally, I would enable trac

[2021-07-26 21:46] manwithsteelnerves commented on #1076
Can someone share a workflow for implementing distributed tracing in cloud functions/cloud run?

[2021-07-27 12:37] yoitsro commented on #1366
I thought it's also worth noting that since the C based version of grpc for Node is [now deprecated](https://www.npmjs.com/package/grpc), this feels like it should be relatively high priority (from a developer experience perspective).

[2021-07-27 14:37] manwithsteelnerves commented on #1076
@bcoe @mrdulin Can you guys confirm if its still the same way we need to do?
I was expecting it is automated by now but unfortunately, only see first service trace alone(cloud run) but not the pubsub function trigger trace.

Right now I just have imported at start of each service alone and don't have any further code. Do I need to pass the context from each service and pass it to others(pubsub sub

[2021-07-29 01:19] manwithsteelnerves opened #1369 "SpanType.DISABLED is set for firestore triggers"
1) Is this a client library issue or a product issue?
Product behaviour

2) Did someone already solve this?
Nope

3) Do you have a support contract?
No

#### Environment details

  - Node.js version: Node 14
  - npm version:
  - `@google-cloud/trace-agent` version: 5.1.3

#### Steps to reproduce

  1. Print a span in firestore trigger
  2. Observe  type: 'DISABLED' is printed

Any way to enable it

[2021-08-18 18:18] tmatsuo opened #1374 "testing: node10 test is failing"
It doesn't compile. The log:

[code]

[2021-08-19 18:56] tmatsuo commented on #1374
#1376 fixed the compilation issue.

[2021-08-19 18:56] #1374 closed

[2021-08-19 18:58] tmatsuo opened #1378 "skipped tests in test/plugins/test-trace-mongodb.ts"
In #1376 we skipped all the tests in test/plugins/test-trace-mongodb.ts for unblock other PRs.
Ideally the tests will be fixed.

[2021-08-25 04:57] forking-renovate[bot] opened #1380 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.
 - [ ] chore(deps): update actions/setup-node action to v2
 - [ ] chore(deps): update codecov/codecov-action action to v2

## Ignored or Blocked

These

[2021-09-02 19:08] VikramTiwari opened #1382 "Enhanced database reporting for mongoose not working"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

1) Is this a client library issue or a product issue?
Client library

2) Did someone already solve this?
No

3) Do you have

[2021-09-06 15:22] lucaele opened #1384 "Support for WS?"
Hi all,
are there any support for [WS](https://www.npmjs.com/package/ws)?

I'm looking for something that trace time from request to response.

Thanks

[2021-09-10 18:52] #1380 closed

[2021-09-22 20:20] ramitsanan opened #1391 "Support tracing node-fetch http requests"
Hi,

I am running a cloud run application that is serving a NodeJS application using the express framework. I have an endpoint that calls a few APIs using `node-fetch` library and returns some data back to the client. I am using the cloud-trace-nodejs library to view the traces in Google Cloud.

#### Issue
I am unable to view cloud run http requests in Trace.

#### Environment details

  - OS: Mac

[2021-10-09 19:31] dschroe93 opened #1393 "Provided module cannot be loaded"
When using this lib in my cloud function on nodejs14 it is producing the following issue:

[code]

Any help is appreciated.

[2021-10-12 14:41] michaelsafyan commented on #1176
Since a Google search for "gke google metadata server" currently surfaces the workload identity doc, I think this can be closed out. Likewise, Open Telemetry is aware of this and has already addressed this issue.

[2021-10-19 13:39] michaelsafyan commented on #1319
Hi, richardscarrott!

Thank you so much for the bug report. And sorry for the delay in getting to look into it. You said you have a reduced test case that can reproduce this. Would you be willing to share it?

[2021-10-19 20:50] forking-renovate opened #1394 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: Cannot find preset's package (github>whitesource/merge-confidence:beta)

[2021-10-19 21:43] #1394 closed, assigned to nobody

[2021-10-20 04:50] manwithsteelnerves commented on #1369
Hey,
We checked earlier and noticed that spans are not tracked from cloud firestore triggers. This means the required tags are not added to the request to get parsed by cloud trace middleware.

I'm not sure if this is a regression but this is a quite basic feature to expect. Also there is no where in the documentation which mentions that distributed tracing is not supported by triggers.

[2021-10-27 16:03] davidbielik opened #1398 "typescript es6 import, TypeError: Cannot read property 'start' of undefined"
#### Environment details

  - OS: Mac OS
  - Node.js version: 14.15.4
  - npm version: 7.21.1
  - `@google-cloud/trace-agent` version: 5.1.5

#### Steps to reproduce

  1. `import TraceAgent from '@google-cloud/trace-agent'`
  2. Run `TraceAgent.start();`
  3. Observe the error `TypeError: Cannot read property 'start' of undefined`

To fix this, I needed to instead `import * as TraceAgent`

Sugges

[2021-11-01 18:54] gilles-yvetot commented on #1382
@bcoe any news on that ? Is there anything I can do to help you with that?

[2021-11-08 16:35] bcoe commented on #1382
@gilles-yvetot unfortunately we don't currently have someone working on this bug. We make a best effort to address bugs within 180 days, so I'm hopeful this will be fixed in the not too distant future.

[2021-11-09 14:46] michaelsafyan commented on #1369
Thanks for the additional context. Based on your explanation, I have filed two internal bugs:

  - Internal bug ID #205695613: trace context propagation to pubsub in Cloud Firestore
  - Internal bug ID #205696707: trace context propagation from pubsub to Cloud Functions for Firebase

I believe these internal services are a better home for this request. Therefore, closing the bug here.

[2021-11-09 14:46] #1369 closed

[2021-11-09 14:52] dnoe commented on #1398
I'm part of the team at Google that maintains the Trace backend and we also own this repository. I'm not a Javascript expert, so I'm flying blind a bit and would definitely appreciate your comments on the PR I created to update the README.md. Let me know if there's a clearer way to say it.

I'm not sure why this wasn't caught by Typescript.

[2021-11-09 14:56] davidbielik commented on #1398
Thanks @dnoe

One quick correction to your merged PR:

[code]

instead of

[code]

[2021-11-09 14:57] michaelsafyan commented on #1288
To help in triaging this, can you provide a little more context regarding this request? What is the advantage of putting the TypeScript type definitions in [`DefinitelyTyped`](https://github.com/DefinitelyTyped/DefinitelyTyped) vs keeping them local to this repository?

[2021-11-09 15:04] dnoe commented on #1398
Thanks for the quick response! I will figure out the proper way to update that README.md so the bot accepts it and we'll get that merged.

[2021-11-15 07:32] lucamazzilli opened #1401 "Mongoose v6 not being traced automatically"
#### Environment details

  - OS: Win 10 x64
  - Node.js version: 16.13.0
  - npm version: 8.1.0
  - `@google-cloud/trace-agent` version: 5.1.5
  - Mongoose: 6.0.10

#### Steps to reproduce

  1. start traceAgent using mongoose 6.0.10
  2. observe the error @google-cloud/trace-agent WARN PluginLoader#onRequire: [mongoose@6.0.10] This module is not supported by the configured set of plugins.

[2021-11-16 14:20] gkf commented on #1391
Hi, unfortunately automatic tracing of node-fetch calls is not supported according to: https://github.com/googleapis/cloud-trace-nodejs#what-gets-traced. As a workaround, one option is to use the [custom tracing API](https://github.com/googleapis/cloud-trace-nodejs#custom-tracing-api) to manually add spans. Another option is to use one of the supported libraries instead of node-fetch.

I will leav

[2021-11-16 14:45] #1398 closed

[2021-12-04 19:16] seeARMS opened #1407 "Context lost using nodejs-logging-bunyan Express middleware"
I'm having issues using this library alongside the [nodejs-logging-bunyan](https://github.com/googleapis/nodejs-logging-bunyan) library.

In my node.js app, the trace IDs that the middleware is using for the parent request as well as all log entries are not actually tied to the request's trace. This also includes child loggers.

I have the middleware configured as so (since I'm using ESModules eve

[2021-12-07 14:56] gkf commented on #1401
Unfortunately only mongoose v4 - v5 is supported according to: https://github.com/googleapis/cloud-trace-nodejs#what-gets-traced. As a workaround, one option is to use the [custom tracing API](https://github.com/googleapis/cloud-trace-nodejs#custom-tracing-api) to manually add spans.

I will leave this bug open as a feature request to support mongoose v6. However this is not likely to be prioritiz

[2021-12-07 18:04] VikramTiwari commented on #1382
Hey @gkf We were using mongoose v4 and it wasn't working. Since then we have migrated to mongoose v6 and we are now using open telemetry for capturing and pushing to cloud trace. Sorry about not being able to help here anymore.

[2021-12-08 13:37] vincentvanderweele commented on #1319
Hi @michaelsafyan!

I just spent the last 3 days debugging this issue. It never occurred to me that tracing could be the issue, so I had to chip down our application bit by bit until the culprit was found :) As a result, I have a small reproducible example to share too:

https://github.com/vincentvanderweele/cloud-trace-unhandled-promise

We run Node with the recommended flag `--unhandled-rejectio

[2021-12-08 15:35] scipe opened #1408 "Error with using redis and cloud-trace-nodejs"
My env:
- OS: containered node:12.8.0-alpine
- Redis version: Google Cloud Platform Memorystore Redis 6.x

- NodeJS version: 12.8.0
- NPM version: 7.24.0

Package.json:
- `@google-cloud/trace-agent`: "^5.1.6" (also tested on 5.1.3)
- `redis`: "^4.0.0"

How I init cloud-trace:
[code]

After container started I see this error:
[code]

Questions:
1. How can I disable redis plugin for cloud-trace-agen

[2021-12-14 16:14] scipe commented on #1408
Hey team. Do you need any additional information from me?

[2021-12-16 09:05] michaelsafyan commented on #1408
Sorry for the delay in responding...

In terms of disabling the plugin, this can be done from the config:
https://github.com/googleapis/cloud-trace-nodejs/blob/d5c7cfdefd47cf14d09668b3ee4f5d6e2d62f19f/src/config.ts#L171

[code]

Further down in that same file, you can see the `defaultConfig`:

[code]

The request to fix this (and support the latest Redis) is reasonable, but I unfortunately cannot

[2022-01-12 18:49] repo-metadata-lint[bot] opened #1418 "Your .repo-metadata.json file has a problem 🤒"
You have a problem with your .repo-metadata.json file:

Result of scan 📈:

* api_shortname 'trace' invalid in .repo-metadata.json

 ☝️ Once you address these problems, you can close this issue.

### Need help?
* [Schema definition](https://github.com/googleapis/repo-automation-bots/blob/main/packages/repo-metadata-lint/src/repo-metadata-schema.json): lists valid options for each field.
* [API inde

[2022-01-31 11:38] vincentvanderweele commented on #1319
@michaelsafyan do you have any updates on this? I personally think that the priority of this bug should be reassessed, given the reproduction scenario. Basically, this tracing library cannot be used together with Postgres unless you suppress unhandled rejection promises on application level. We had to disable Postgres tracing altogether to stop our server processes from crashing.

[2022-03-26 09:09] wtfisthisshitatfuckoffdotcom commented on #512
Fuckarded it's fucked. Google using programs for murder.

In salt lake city Utah
Major police involved and government officials.

Utah hidden well because who the fuck would expect the sick fucked up religious state to commit murder ?
They're names are PERVERTED PEDOPHILES WHO TRAFFIC PEOPLE AND MOLEST CHILDREN AND LOVE TO HIRE HOOKER'S AND DO DOPE AFTER HOURS.  MASSIVE GOVERNMENT OFFICIALS INVOLV

[2022-03-30 04:41] mahnunchik commented on #1318
Any news?

[2022-04-06 20:07] aabmass commented on #1326
✋ I can take ownership of this issue but also not sure when I'll get around to a fix. If anyone would like to submit a PR, please drop a comment!

[2022-05-02 13:34] zhangjiayin commented on #1391
+1

[2022-06-17 14:05] mjeri opened #1450 "External HTTP calls meant to appear in tracing overview or not?"
I have integrated cloud tracing into our services running on GKE. When I look at traces they correctly show multiple spans for nested service calls, but only to other services in GKE. Given there are requests to SaaS providers, they aren't showing up at all.

Is it meant to also trace external service calls out of the box or not?

[2022-06-17 15:22] mjeri commented on #1450
Oh actually now it works smooth! Sorry for the noise and thanks for the nice library 🥂

[2022-06-17 15:22] #1450 closed

[2022-06-19 16:15] odanado opened #1451 "Support for version 2.y.z of mysql2"
Currently `@google-cloud/trace-agent` only supports 1.y.z mysql2.
https://github.com/googleapis/cloud-trace-nodejs/blob/6f118e9b7fe2194d938bfb3a6e1a8aa763a77b3b/src/plugins/plugin-mysql2.ts#L17

However, the current major version of mysql2 is 2.y.z.
https://www.npmjs.com/package/mysql2

mysql2 includes TypeScript type definitions and other more useful features. Developers will want to use the newe

[2022-06-27 17:38] aabmass commented on #1384
Hi @lucaele. It looks like we don't have any instrumentation for this library or web sockets in general.

We don't have capacity to work on any new instrumentations to this agent right now. I'd recommend taking a look at OpenTelemetry which supports exporting to Cloud Trace. From reading https://github.com/open-telemetry/opentelemetry-js-contrib/issues/12, it looks like there is an unofficial inst

[2022-06-27 17:38] #1384 closed

[2022-08-10 19:19] #1324 closed

[2022-08-15 14:14] punya commented on #1451
[@opentelemetry/instrumentation-mysql2](https://www.npmjs.com/package/@opentelemetry/instrumentation-mysql2) already supports 2.x. Could you use that instead?

[2022-08-15 14:14] #1451 closed

[2022-08-15 14:22] punya commented on #1401
[opentelemetry-instrumentation-mongoose](https://www.npmjs.com/package/opentelemetry-instrumentation-mongoose) seems to be active. I raised an issue to [ask if they support v6](https://github.com/aspecto-io/opentelemetry-ext-js/issues/239).

[2022-08-15 15:25] punya commented on #1408
We'll ensure that cloud-trace-nodejs won't error out when used in conjunction with redis v4+. However, we aren't able to prioritize building actual instrumentation support for redis v4+ at this time. Please consider using [@opentelemetry/instrumentation-redis-4](https://www.npmjs.com/package/@opentelemetry/instrumentation-redis-4) instead.

[2022-08-16 18:12] punya commented on #1319
Hi @vincentvanderweele. Sorry for the long silence on this issue, and thanks for putting together a minimal repro. We're taking a look to see if there's a better way for this library to handle the rejected promise.

[2022-08-16 18:56] punya commented on #1382
Closing this out - people who need improved Mongoose telemetry should consider using OTel instead.

[2022-08-16 18:56] #1382 closed

[2022-08-16 18:57] punya commented on #1401
According to https://github.com/googleapis/cloud-trace-nodejs/issues/1382#issuecomment-988153600, the OTel mongoose instrumentation supports v6. Closing this issue.

[2022-08-16 18:57] #1401 closed

[2022-08-16 18:59] punya commented on #1259
We are prioritizing OTel integration over this proprietary agent, so we probably won't improve the sample.

[2022-08-16 18:59] #1259 closed

[2022-08-16 19:30] #1418 closed

[2022-08-28 23:40] punya commented on #1272
We don't expect to be able to add pg v8 support to the Cloud Trace NodeJS agent any time soon.

Please consider using OpenTelemetry instead -- [@opentelemetry/instrumentation-pg](https://www.npmjs.com/package/@opentelemetry/instrumentation-pg) supports pg v8.x.

[2022-08-28 23:40] #1272 closed

[2022-08-28 23:50] punya commented on #1319
Hi @vincentvanderweele. In your repro, you patch the trace agent to make it work on pg v8. Unfortunately, pg v8 isn't actually supported. The error doesn't reproduce with Node 12 and PG v7.

As described in https://github.com/googleapis/cloud-trace-nodejs/issues/1272#issuecomment-1229582228, please consider using [@opentelemetry/instrumentation-pg](https://www.npmjs.com/package/@opentelemetry/inst

[2022-08-29 00:06] punya commented on #1319
I spoke too soon - this still happens under Node v12 + PG v7. Reopening.

[2022-08-29 10:46] #1408 closed

[2022-08-29 16:39] #1319 closed

[2022-08-29 16:43] punya commented on #1207
This repo no longer uses CircleCI.

[2022-08-29 16:43] #1207 closed

[2022-08-29 16:44] punya commented on #1288
Closing as stale.

[2022-08-29 16:44] #1288 closed

[2022-08-29 16:47] punya commented on #1334
Closing this out, I'll wait for another flake before investigating.

[2022-08-29 16:49] punya commented on #1393
I'm closing this issue out as stale, but please feel free to reopen, especially if you're able to provide some concrete repro steps (e.g. your package.json, how you invoked esbuild, etc.).

[2022-08-29 16:49] #1393 closed

[2022-08-29 16:56] punya commented on #1331
Closing as obsolete - I believe the pg and hapi tests are running.

[2022-08-29 16:56] #1331 closed

[2022-09-02 18:24] yasha-spare commented on #1272
@punya does this mean `cloud-trace-nodejs` is essentially abandoned, and people should generally be switching to a different approach, like OpenTelemetry, for sending traces to GCP tracing?

[2022-09-02 23:49] punya commented on #1272
Hi @yasha-spare, thanks for the question - it's a reasonable one.

Cloud-trace-nodejs will continue to fix bugs and add security patches. We will consider merging new feature contributions (depending on the anticipated maintenance cost). But we won't develop new features ourselves.

To your larger question: yes, we recommend that new codebases start out with OTel. Existing users of cloud-trace-nod

[2022-09-03 00:06] yasha-spare commented on #1272
Cool, thanks for the swift reply/clarification @punya !

[2022-09-09 14:28] #1318 closed

[2022-09-09 18:46] aabmass commented on #1326
@pedrolcn I'm closing this issue for now. If it's still needed, please reply.

Happy to accept PRs of course :)

[2022-09-09 18:46] #1326 closed

[2022-09-23 14:39] punya commented on #1391
Unfortunately we aren't able to prioritize work on new features at this time. As @gkf suggested, please consider using OpenTelemetry instrumentation instead - see https://github.com/open-telemetry/opentelemetry-js/issues/1315#issuecomment-883214836 for instructions.

[2022-09-23 14:39] #1391 closed

[2022-09-30 21:33] Wazbat commented on #1401
Sorry for pinging this old thread, but I wanted to ask. Are we able to use those opentelemetry instrumentations as plugins for this library? I'm a little confused by the readme