[2015-08-25 00:34] matthewloring opened #1 "Agent cannot be restarted once stopped"
Since hooks are loaded on module load, they are not reinstrumented when agent start is called a second time.

This fails:

agent.start();
var http = require('http');
assert(http.request.__unwrap);
agent.stop();
assert(!http.request.__unwrap);
agent.start();
assert(http.request.__unwrap);
agent.stop();
assert(!http.request.__unwrap);

[2015-08-25 22:19] ofrobots opened #2 "config.projectId should be a string"
The trace API expects the project Id to be a string, but does accept the numeric project Id. Users get a confusing error message when we try to post the traces to the API if they specific a numeric project Id as a number rather than a string.

[2015-08-25 22:20] ofrobots opened #3 "Setup travis builds"

[2015-08-25 22:21] ofrobots opened #4 "Remove warnings for own context-less outgoing http requests"

[2015-08-26 00:15] matthewloring opened #6 "Check node version on startup for >=0.12"

[2015-08-26 16:52] #3 closed

[2015-08-26 17:24] matthewloring opened #12 "Use protobufs for trace and span structure"
Currently JS objects are used the mirror the structure of the protobufs. Using the protobufs directly will remove this duplication.

[2015-08-26 17:27] matthewloring opened #13 "Don't use dev dependencies for instrumented frameworks"
This will also allow us to test against multiple versions of each framework.

[2015-08-26 18:39] ofrobots opened #16 "We should fail early if the Node.js version is not supported"

[2015-08-26 18:46] matthewloring commented on #16
Duplicate of #6

[2015-08-26 18:46] #16 closed

[2015-08-26 18:47] matthewloring opened #17 "Set up code coverage with coverals"

[2015-08-26 19:10] ofrobots opened #18 "Figure out how to add googlebot to do automatic CLA checks"

[2015-08-26 19:10] matthewloring opened #19 "Stack traces do not show up in the developer console ui"
Stack traces are not being formatted according to the associated protobuf and are not rendered by the ui.

[2015-08-26 20:52] #1 closed

[2015-08-26 21:02] #6 closed

[2015-08-26 22:09] ofrobots commented on #2
Changed the requirement for the projectId to be a string instead of doing automatic coercion. The user should be provided an error message immediately if this is not the case.

[2015-08-26 22:44] ofrobots opened #24 "Ability to find the package.json from a loaded module"
We want to do version checks to make, e.g. that we are patching express v4+. The current mechanism of looking for internal properties that we know have been removed in v4 is a bit too brittle for my taste. It would be much better if we can figure out where the package.json for a loaded module is, and do a check against the version there.

[2015-08-26 22:45] ofrobots commented on #2
Landed in 1be000b.

[2015-08-26 22:45] #2 closed

[2015-08-26 23:21] ofrobots opened #25 "Implement tests for the agent trace API"

[2015-08-27 00:54] matthewloring opened #26 "Don't stringify all traces at publish time to avoid tying down the event loop."

[2015-08-27 15:44] #17 closed

[2015-08-27 15:48] matthewloring commented on #13
We can use this to track moving things like hapi and restify out of the dev dependencies. I think generating separate package.json files sounds like a good direction to take this.

[2015-08-27 17:52] ofrobots opened #28 "Add ability to redirect traces to a file or a (fluentd?) logger"
It would be nice to have options to allow the traces to be directed to a file and/or a logger instead of sending them to the Cloud Trace API.

[2015-08-27 18:14] matthewloring opened #29 "Add support for trace sampling and quotas"
A good starting point would be to research what kinds of throttling options the Java trace agent exposes.
See PercentageTraceEnablingPolicy.java, RateLimiterTraceEnablingPolicy.java, as starting points.

[2015-08-27 22:45] ofrobots opened #32 "We need more tests for utils.js authorizedRequestFactory"

[2015-08-27 23:19] matthewloring opened #34 "Add more information the captured traces"
- [x] [MongoDB](#97)
- [x] MySQL
- [x] Redis
- [x] Restify
- [x] Hapi
- [x] Express (deferred render spans)
- [x] Http

[2015-08-27 23:20] matthewloring opened #35 "e2e test running on google cloud platform"
Test for span quality and memory leaks

[2015-08-28 00:56] #4 closed

[2015-08-28 01:14] matthewloring opened #36 "Add a label for error on http requests"
See: https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/pull/33#discussion_r38157013

[2015-08-28 20:42] matthewloring opened #39 "Add david-dm badge"

[2015-08-28 20:42] matthewloring opened #40 "Move hooks/hook tests into a separate repository"

[2015-08-29 01:41] matthewloring commented on #32
migrated to its new home: https://github.com/matthewloring/cloud-diagnostics-common-nodejs/issues/2

[2015-08-29 01:41] #32 closed

[2015-08-29 07:57] matthewloring commented on #18
@ofrobots This should be all set up now. Do we need to wait for external contributors to see whether it's working correctly?

[2015-08-29 14:48] ofrobots commented on #18
Even our own PRs should start getting checked by the bot. Let's close this when we've verified that it works.

[2015-08-29 19:32] matthewloring opened #43 "Adding trace information to http headers should be possible using public agent api"

[2015-08-29 19:36] matthewloring opened #44 "Test failure if mongo or redis cannot connect"
Right now the test exits with success and the rest of the suite isn't run.

[2015-08-29 19:52] matthewloring commented on #18
Confirmed working, see https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/pull/45

[2015-08-29 19:52] #18 closed

[2015-08-31 17:38] #44 closed

[2015-08-31 17:41] matthewloring commented on #39
Added

[2015-08-31 17:41] #39 closed

[2015-08-31 17:47] matthewloring opened #47 "Add unit testing for trace-writer"

[2015-08-31 19:35] #26 closed

[2015-09-01 19:41] #47 closed

[2015-09-01 19:43] #25 closed

[2015-09-01 19:44] matthewloring opened #50 "Add documentation and examples to readme"

[2015-09-01 20:50] VikramTiwari opened #52 "Merge into gcloud-node"
Hey guys, is there any plan to merge this with [gcloud-node] (https://github.com/GoogleCloudPlatform/gcloud-node) rather than a new library.

Also support for logging is required [gcloud-logging] (https://github.com/GoogleCloudPlatform/gcloud-node/issues/842)

[2015-09-01 21:15] matthewloring opened #53 "Add tracing support for mysql"

[2015-09-01 22:04] ofrobots commented on #52
This module is supposed to be automatic tracing agent. The idea is that you include the module and your application gets traced (express, mongo, outgoing http, etc.) without changes to the application code.

It is not an interface to talk to the Cloud Trace API, and as such the objectives are quite different from [gcloud-node](https://github.com/GoogleCloudPlatform/gcloud-node).

[2015-09-01 22:09] ofrobots opened #54 "Patch express closer to the public interface"
Presently we are patching lazyRouter which is an internal interface. We should patch at the public API level. We are going to be prone to breakages even on point release of express if they change how the lazyRouter works.

Marking this as a bug because unless we fix this we can't be sure that the next patch-level release of express is going to work with us.

[2015-09-01 22:34] VikramTiwari commented on #52
Oh wow! That's a great agenda. :+1: Any idea when can we expect any alpha release?

[2015-09-01 22:34] #52 closed

[2015-09-02 01:48] matthewloring opened #55 "Test for memory leaks"
Ran the [Bookshelf example app](https://cloud.google.com/nodejs/getting-started/tutorial-app?hl=en) and put load on it with ``ab -n 1000000 -c 20 "${url}?pageToken=333"``.  It stabilized at 100% cpu usage and 400MB (1.21%) of RAM.

@ofrobots How does this look?

[2015-09-02 01:49] matthewloring commented on #55
Took ~10,000 requests to reach stable memory usage.

[2015-09-02 01:50] matthewloring commented on #55
Resource stats were gathered using ``docker stats``.

[2015-09-02 02:53] ofrobots commented on #55
Is it possible to automate the test? Can we run the test overnight and plot memory consumption across. Did you verify that the traces being captured and publish to the Trace API?

[2015-09-02 16:17] #43 closed

[2015-09-02 22:05] ofrobots commented on #52
Hopefully very :soon:. Stay tuned.

[2015-09-03 23:28] matthewloring commented on #55
![memory](https://cloud.githubusercontent.com/assets/1485909/9673378/8dfb1c28-5258-11e5-8d1c-5cee244a9733.jpg)

The test is automated and I did verify that traces were being published. Note: that lower access should read operations instead of time. It looks pretty stable from a distance (but that doesn't rule out a small leak).

[2015-09-03 23:28] #55 closed

[2015-09-15 17:55] matthewloring commented on #54
Fixed by #61

[2015-09-15 17:55] #54 closed

[2015-09-15 18:36] matthewloring opened #62 "Update common utils to 0.2.0"

[2015-09-16 01:07] #62 closed

[2015-09-16 16:17] #36 closed

[2015-09-17 01:06] matthewloring commented on #28
Moved to GoogleCloudPlatform/cloud-debug-nodejs#19

[2015-09-17 01:06] #28 closed

[2015-09-17 19:53] matthewloring opened #67 "Travis dropped support for iojs, it should be replaced in the test targets"

[2015-09-17 20:07] #67 closed

[2015-09-19 04:45] ofrobots opened #70 "Exception: cannot read property bindEmitter of Null"
Run into this just now. Seems like we need a test for the path where we fail to get a project number. We need to completely disable the agent in such cases.

[code]

[2015-09-21 20:05] matthewloring commented on #70
The problem is that middleware is being registered before the agent disables, I see two choices:
a) if we find that the agent is disabled while executing the middleware, just call `next` immediately and noop out (minimal overhead but middleware stays on even without tracing)
b) use undocumented (non-public) api to try to slice out our middleware but once sliced out, the middleware could not be ree

[2015-09-22 21:23] matthewloring commented on #19
Fixed in #59

[2015-09-22 21:23] #19 closed

[2015-09-23 00:03] #70 closed

[2015-09-23 04:46] ofrobots opened #72 "Ability to disable the trace agent using an env. var."
It would be nice to be able to disable the trace agent without having to modify the source. I am thinking an env. var. named `GCLOUD_TRACE_DISABLE`, which if set, would cause the trace agent to not start.

Similarly, it would be nice to have an environment variable that increases the log-level for the trace agent.

[2015-09-23 21:26] #72 closed

[2015-09-26 14:33] ofrobots commented on #24
[`require.resolve`](https://nodejs.org/api/globals.html#globals_require_resolve) is probably useful in doing this.

[2015-09-30 00:16] matthewloring commented on #13
To expand on multiple frameworks, we should test against all published versions of a module satisfying the semver rule we specify.

[2015-09-30 00:21] #24 closed

[2015-09-30 01:17] matthewloring opened #82 "require.resolve doesn't find all modules"
We patch modules that may not be on the load path for the app running the agent (mongodb-core may not be on the load path if the app is using mongoose). We need to load these uniformly.

[2015-09-30 05:00] matthewloring opened #84 "Add regression test for package.json loading in modules not on application load path"
Add regression test for #82

[2015-09-30 05:01] #82 closed

[2015-10-01 00:00] #13 closed

[2015-10-01 19:27] matthewloring opened #87 "Add agent#get function for retrieving the already initialized agent"
This will be used to retrieve the agent at points after it has been initialized with agent#start.

[2015-10-02 23:29] matthewloring opened #92 "Update to monkeypatch Redis 2"

[2015-10-05 19:10] matthewloring commented on #87
Fixed by #88

[2015-10-05 19:10] #87 closed

[2015-10-05 22:12] matthewloring opened #95 "Span objects should not be created when they will not be reported"
When sampling is enabled, we should only create span objects for the traces we record.

[2015-10-06 16:43] matthewloring opened #96 "Escaping mongo spans should not report an error in all cases"
Some spans "escape" when mongo does periodic health checks and these should not be reported as errors. We should also further investigate mongo spans escaping in onconnection.

[2015-10-07 22:28] #95 closed

[2015-10-07 23:04] ofrobots opened #97 "Save more operation data on mongodb operations"
* Query/Update parameter
* Result Size? Results?

[2015-10-07 23:24] ofrobots opened #98 "More rigorous testing of mongodb"
- time guarantee in addition to the presence guarantee

[2015-10-08 22:46] ofrobots opened #100 "Add GCE VM information as a label to the traces"
For people running on Compute Engine, it would be useful to be able to do filtering of the traces by VM. Right now the trace backend has no knowledge of which VM a particular trace was captured on. We should add this as a label on the traces. Once that is available, the UI can offer a way to filter by it. This issue only tracks the former.

[2015-10-08 23:04] ofrobots opened #101 "Test trace-agent with the tutorial GCE workflow"
Here are the tutorial instructions on deploying to GCE: https://cloud.google.com/nodejs/getting-started/run-on-compute-engine
1. Make sure everything works for trace (e.g. the right scopes are added when the VM is created)
2. Update the tutorial above to include instructions on how to enable trace.

[2015-10-09 00:43] matthewloring commented on #101
Clarification: linked instructions should work with trace.

[2015-10-09 00:48] matthewloring commented on #100
@erikmcc Would it be possible to incorporate this into the API in some way or is the best approach to pass this information as a label on every reported trace.

[2015-10-10 18:11] erikmcc commented on #100
A label is best.

On Thu, Oct 8, 2015 at 5:48 PM, Matthew Loring <notifications@github.com>
wrote:

[2015-10-12 02:25] matthewloring commented on #100
@ofrobots Does the environment variable GAE_MINOR_VERSION used [here](https://github.com/GoogleCloudPlatform/cloud-debug-nodejs/blob/master/lib/uid.js#L30) hold the information you want attached?

[2015-10-12 18:52] ofrobots commented on #100
@matthewloring I don't think so. I think `GAE_MINOR_VERSION` is only available on AppEngine.

[2015-10-15 22:53] matthewloring opened #103 "Selectively omit traces for user specified urls/paths"

[2015-10-16 00:11] matthewloring commented on #100
@ofrobots I'll use the hostname and id fields of the default metadata (https://cloud.google.com/compute/docs/metadata?hl=en#default).

[2015-10-16 18:51] matthewloring commented on #29
Fixed in #94.

[2015-10-16 18:51] #29 closed

[2015-10-16 18:53] matthewloring commented on #84
I'm going to call this resolved since non of our mongo testing (which uses mongoose and mongodb-core indirectly) would function if we were not loading these modules correctly. Each of our mongo unit tests serves as a unit test for the property desired here.

[2015-10-16 18:53] #84 closed

[2015-10-16 22:27] ofrobots commented on #100
SGTM.

[2015-10-19 21:36] matthewloring commented on #101
@ofrobots The linked tutorial doesn't work for me without including any additional code for trace. I'll open a bug against it.

[2015-10-20 19:45] #96 closed

[2015-10-20 19:54] #103 closed

[2015-10-20 21:40] #100 closed

[2015-10-21 17:41] matthewloring commented on #101
This was an issue on my part setting up the required APIs properly. I'll give it another go.

[2015-10-21 23:41] matthewloring commented on #35
@ofrobots I have [this](https://github.com/matthewloring/cloud-trace-performance) performance test running daily on a cron job with the bookshelf app deployed to a GAE instance and the load being driving by a GCE instance. I haven't seen any issues with flaky performance results yet but we should look through it to make sure we're satisfied with the integrity of the numbers I'm getting.

[2015-10-22 00:50] ofrobots commented on #35
Is the load driven from the same instance, or are there two instances involved?

[2015-10-22 00:52] matthewloring commented on #35
There are two instances, an app engine deployment and an independent CGE load driver.

[2015-10-23 17:13] matthewloring commented on #101
I was able to get traces displaying for the above tutorial by adding the steps below before starting the section "Deploying a single instance":

1) add to top of app.js: require('@google/cloud-trace').start();
2) npm install --save @google/cloud-trace
3) enable trace api in developer console

I didn't need to use a service account or custom credential. I can work to update the tutorial with these

[2015-10-26 17:41] ofrobots commented on #101
SGTM.

[2015-10-26 17:45] ofrobots commented on #35
I think what remains to be done for this is:
1. Make sure we are satisfied with the integrity of the performance numbers we are getting.
2. Store the performance numbers somewhere, and make it possible to see trends over time.

[2015-10-26 18:33] matthewloring commented on #101
Marking this closed then. We can open up an independent bug once we're ready to start integrating into official cloud documentation.

[2015-10-26 18:33] #101 closed

[2015-10-26 18:43] #92 closed

[2015-10-26 19:18] matthewloring commented on #35
Reassigning to @ofrobots to investigate daily runs.

[2015-10-26 20:12] matthewloring opened #110 "Report agent information for tracking metrics"
Add the label "trace.cloud.google.com/agent" with format "\<name\> \<version\>" for tracking.

[2015-10-26 23:47] matthewloring opened #112 "Module loading order should not be changed by patching logic"

[2015-10-27 21:15] #50 closed

[2015-10-27 22:05] #110 closed

[2015-10-28 00:33] matthewloring opened #113 "Determine where mongoose time is going that is not attributed to mongodb-core"
[code]

[2015-10-28 15:39] matthewloring commented on #113
For this example, mongoose queries take ~10ms but only 2ms are attributed to mongodb-core.

[2015-10-28 16:06] matthewloring commented on #113
@ofrobots It looks like this is a one time issue on the first call. After warming up, there are 2ms in mongoose with 1ms in mongodb-core. I'm going to mark this fixed if you're content with this diagnosis.

[2015-10-28 16:08] ofrobots commented on #113
Sounds good. Thanks for looking into this.

[2015-10-28 16:08] #113 closed

[2015-10-28 17:14] matthewloring opened #114 "Specify config file through environment variable."

[2015-10-28 17:14] matthewloring commented on #114
@ofrobots `GCLOUD_TRACE_CONFIG` sound good?

[2015-10-28 17:48] ofrobots commented on #114
SGTM

[2015-10-28 20:41] matthewloring commented on #34
@ofrobots Please verify information present on Hapi and Restify

[2015-10-28 20:41] matthewloring opened #116 "Add custom tracing for veneer/datastore"

[2015-10-28 21:50] matthewloring opened #118 "ignored paths are being traced for paths not specified as routes by server framework"

[2015-10-28 22:20] matthewloring opened #120 "Images do not display inline in the readme"

[2015-10-29 01:45] #118 closed

[2015-10-29 17:36] matthewloring opened #121 "Report source IP on trace spans"

[2015-10-30 00:04] #120 closed

[2015-10-30 15:02] #121 closed

[2015-10-30 16:21] matthewloring opened #123 "Patching redis 2.3.0 fails (2.2.5 works)"
`TypeError: Cannot read property 'createClient' of undefined`

[2015-10-30 17:55] matthewloring opened #125 "Enable sampling by default"

[2015-10-30 19:38] #125 closed

[2015-10-30 19:39] matthewloring opened #127 "SamplingRate of 0 should disable sampling."

[2015-10-30 20:08] matthewloring opened #129 "Run travis against node 5"

[2015-10-31 00:50] #127 closed

[2015-10-31 00:51] #129 closed

[2015-10-31 01:16] matthewloring opened #131 "Update dev dependencies (istanbul, nock, tmp) out of date"

[2015-10-31 15:49] #131 closed

[2015-10-31 15:50] #114 closed

[2015-10-31 15:51] #123 closed

[2015-10-31 16:00] matthewloring commented on #116
I think for this it would be best to try and integrate custom spans into their codebase as opposed to instrumenting them as we do the other hooks. Before we do this, we need to get automated integration runs going and make sure that our custom span API is fully solidified. @ofrobots WDYT?

[2015-11-02 16:16] matthewloring opened #133 "Save more operation data on mysql operations"
Query, result

[2015-11-02 16:16] matthewloring opened #134 "Save more operation data on redis operations"
query, result

[2015-11-02 19:57] matthewloring opened #135 "Tests execute twice on travis (once for test once for coverage)"
This should happen once.

[2015-11-03 18:42] matthewloring opened #137 "Should not warn about tracing outside of framework if corresponding root span was ignored by sampler"

[2015-11-04 03:41] #137 closed

[2015-11-04 07:04] #53 closed

[2015-11-04 17:50] matthewloring opened #140 "Test redis hooks with hiredis present on system"

[2015-11-04 18:00] matthewloring opened #141 "Make trace agent available globally without requiring package"

[2015-11-04 18:00] matthewloring commented on #116
Depends on #141

[2015-11-04 20:12] #135 closed

[2015-11-05 17:18] matthewloring commented on #34
Mongo #107
Redis #144

[2015-11-05 17:53] matthewloring opened #146 "Capture stack trace by default as a span label"

[2015-11-05 19:23] #146 closed

[2015-11-05 19:25] #140 closed

[2015-11-05 19:25] matthewloring commented on #34
MySQL #145

[2015-11-05 20:23] matthewloring opened #149 "Agent crashes when unable to get project number"
App listening at http://:::8080
WARN :@google/cloud-trace: Cannot trace outbound http requests outside of a supported http framework.
WARN :@google/cloud-trace: Cannot trace outbound http requests outside of a supported http framework.
WARN :@google/cloud-trace: Cannot trace outbound http requests outside of a supported http framework.
WARN :@google/cloud-trace: Cannot trace outbound http requests

[2015-11-06 01:27] matthewloring opened #152 "Trace headers are not added to all outgoing http requests"

[2015-11-06 02:05] matthewloring opened #154 "TRACE_API_HEADER_NAME is not defined in constants.js"
Tests relying on this constant still pass because `undefined` is a valid object key in javascript :trollface:

[2015-11-06 18:44] matthewloring opened #157 "Don't trace agent made outgoing http requests (metadata or trace api)"

[2015-11-06 21:36] #154 closed

[2015-11-06 23:40] #152 closed

[2015-11-09 19:11] #149 closed

[2015-11-09 19:26] #157 closed

[2015-11-09 22:22] matthewloring opened #161 "Span ids should be of number type when parsed from headers."

[2015-11-09 23:47] #161 closed

[2015-11-11 02:33] #97 closed

[2015-11-11 02:45] #134 closed

[2015-11-12 22:01] matthewloring opened #168 "Trace labels should include current GAE module"

[2015-11-12 22:03] ofrobots opened #169 "MVM: Add module labels to the captured traces"
From an email bug report:

[2015-11-12 22:44] jonparrott commented on #169
To add to this, should GCE VMs in general use their hostname as the module?

[2015-11-13 00:46] ofrobots commented on #168
Closing as a duplicate of #169. You beat me to it in creating the issue, but there is already discussion on the other one.

[2015-11-13 00:46] #168 closed

[2015-11-13 16:51] #133 closed

[2015-11-13 18:11] ofrobots commented on #112
Changing this from bug → enhancement as this is purely theoretical at this point.

[2015-11-13 22:19] ofrobots commented on #169
Client side fix landed, but there might be an issue on the service side. Re-opening until the service side issue is resolved.

[2015-11-13 22:40] ofrobots commented on #34
I think we can close this one now.

[2015-11-13 22:41] matthewloring commented on #34
Yay!

[2015-11-13 22:41] #34 closed

[2015-11-13 23:07] #141 closed

[2015-11-14 01:55] matthewloring commented on #98
With the increase in e2e testing we're currently happy with the mongo coverage. Specific coverage loss bugs can be reopened separately.

[2015-11-14 01:55] #98 closed

[2015-11-16 19:50] matthewloring commented on #35
@ofrobots Does the current state of matthewloring/cloud-trace-performance satisfy this bug for now? We still need to expand testing to other frameworks but that can be tracked independently

[2015-11-23 22:43] ofrobots commented on #35
Agree that this can be closed now.

[2015-11-23 23:11] #35 closed

[2015-11-24 23:35] ofrobots commented on #169
Fixes landed in f1fa3819138e616f946476b7b362eebb020afa1d and 4471696cac16ad75ab5f896009699141908a9788. We'll try to get these into a release later in the week.

Also included is the change for GCE/GKE VMs to report their hostname as the module. Thanks for the suggestion!

[2015-11-24 23:35] #169 closed

[2015-11-25 01:11] matthewloring opened #179 "Express stack overflow when using node 5.x"

[2015-11-25 22:13] ofrobots commented on #179
Fixed by #180.

[2015-11-25 22:13] #179 closed

[2015-11-26 18:01] matthewloring opened #182 "request is loaded by our dependencies before we can patch setImmediate"

[2015-11-28 02:50] matthewloring opened #185 "Support redis 2.4"

[2015-11-28 02:51] matthewloring commented on #182
We do not currently patch request. Isn't it the underlying http require done by request that is problematic?

[2015-11-28 02:56] ofrobots commented on #182
Updated the title to make it more accurate. The problem is that we need to patch `setImmediate` (indirectly through CLS) before `request` is loaded. `request` caches the value of `setImmediate`.

[2015-11-30 22:36] ofrobots opened #189 "Need to address testing for #187"
See: #187. This issue tracks the investigation and then implementation of appropriate tests for the scenario being fixed.

[2015-12-01 01:31] #182 closed

[2015-12-07 20:29] techniq opened #191 "Add automatic tracing of HTTP requests for koa"

[2015-12-18 23:23] #185 closed

[2015-12-18 23:49] #191 closed

[2015-12-19 00:04] techniq commented on #191
Nice. Thanks

On Fri, Dec 18, 2015, 6:49 PM Matthew Loring <notifications@github.com>
wrote:

[2015-12-19 00:09] matthewloring commented on #191
Just as a heads up, this is experimental support and I haven't gotten a chance to test it with different database frameworks. Let me know of any issues you run into and we can go from there!

[2015-12-19 02:14] techniq commented on #191
Will do.

On Fri, Dec 18, 2015, 7:09 PM Matthew Loring <notifications@github.com>
wrote:

[2015-12-20 20:34] ofrobots opened #194 "Warning that trace-agent is the first module loaded doesn't show up at the default log level"
[code]

I only got this when I increased the logLevel. This should show up at the default logLevel.

[2015-12-28 17:16] #194 closed

[2015-12-28 22:05] matthewloring opened #196 "Warn about preloaded modules that could interfere with trace"
1. Update readme to load trace agent before --require'ing any other modules
2. Warn if any modules were preloaded before agent

[2016-01-06 00:27] matthewloring opened #198 "Config files are loaded relative to agent installation directory"
Config files should be loaded relative to the current working directory as opposed to the agent installation directory

[2016-01-06 16:44] #198 closed

[2016-01-08 19:57] #196 closed

[2016-01-13 03:47] matthewloring commented on #189
Fixed by #201

[2016-01-13 03:47] #189 closed

[2016-01-13 20:10] matthewloring commented on #112
No issue here now. We can reopen if this manifests concretely.

[2016-01-13 20:10] #112 closed

[2016-01-13 21:49] matthewloring opened #203 "Investigate context loss with Async module"
See: https://github.com/othiym23/node-continuation-local-storage/issues/55
This test, reproduced inside our agent, did not cause context loss but we need a higher level of confidence that a similar issue doesn't exist for us.

[2016-01-13 22:04] matthewloring commented on #203
The here was that async cached setImmediate before cls could patch it (since cls was required after async). Requiring cls first fixes this issue. This doesn't pose an issue to our agent.

[2016-01-13 22:04] #203 closed

[2016-01-29 20:57] matthewloring opened #205 "Trace context http headers should be case insensitive"

[2016-01-29 23:40] matthewloring commented on #205
@ofrobots All HTTP header names are already normalized to lower case for all incoming and outgoing requests by the node core library (lib/_http_incoming.js and lib/_http_outgoing.js in core). I believe the issue is in the serving infrastructure that forwards the trace header.

[2016-02-01 18:55] #205 closed

[2016-03-08 20:28] matthewloring opened #209 "Requiring trace agent results in incorrect function lengths"
It turns out the problem is in async-listeners. Tracking the issue here: othiym23/async-listener/issues/53

[2016-03-16 22:14] matthewloring opened #218 "Document sampling behavior."
New behavior was introduced in #217 that needs to be present in the readme/config file.

[2016-03-23 14:49] AdriVanHoudt opened #221 "publish new version"
I want to try this with hapi 13 but it seems like the module has not been published in a while.
Is this for a reason and if so when can I expect a new release? I really want to try this.

Also what is the command to log debug info to console (like `DEBUG=cloud-trace node server`)?

[2016-03-24 00:16] matthewloring commented on #221
You can get debug info by running `GCLOUD_TRACE_LOGLEVEL=4 node server.js`. We will be doing a release soon but you can try out hapi 13 functionality by installing from master: `npm install GoogleCloudPlatform/cloud-trace-nodejs`.

[2016-03-24 07:10] AdriVanHoudt commented on #221
Cool thanks!

[2016-03-24 09:48] AdriVanHoudt commented on #221
Ok did some testing on dev and looks nice!
Will enable on staging env for more testing.
Also Mysql did not seem to be logged due to no root. Logs:  `Untraced mysql query:` (I don't know what it means but just letting you know :P)
I am using https://www.npmjs.com/package/hapi-plugin-mysql for my sql connection, not sure if related.
Also I am using ioredis, is this package supported?

[2016-03-24 21:33] matthewloring commented on #221
Thank you for the log information. #222 should get mysql reporting working with your plugin. We do not currently have plans to support ioredis but do have support for [node redis](https://www.npmjs.com/package/redis).

[2016-03-24 21:35] matthewloring commented on #209
Async listener patch has been accepted. Waiting on cls to pick up the change. Tracking here: othiym23/node-continuation-local-storage/issues/62

[2016-03-25 07:51] AdriVanHoudt commented on #221
Very cool! Also awesome that you used a module I wrote to test :O
Is there a reason you chose node_redis instead of ioredis? (they have plan to merge but no idea on the timeline on that)

[2016-03-25 08:32] AdriVanHoudt opened #223 "Mysql tracing in Async.parallel"
MySQL tracing in Async.parallel seems to show cumulative,
I checked a few traces and this happens in others as well so not just coincidence and there are that are not like that so in general it is definatly working
![](http://puu.sh/nTf73/d72e110972.png)

[2016-03-25 17:04] matthewloring commented on #221
We went with node_redis due to its popularity but we hope to increase the number of frameworks we can support over time.

[2016-03-25 17:15] matthewloring commented on #223
When spans are displayed by the UI, spans with the same start time are ordered by end time leading to the monotonic pattern you're seeing. The spans are not cumulative, but many of them happen to start at the same time due to the use of Async.parallel. I believe what you're seeing here is correct.

[2016-03-25 17:18] AdriVanHoudt commented on #223
Ah so they start at the same time and the longest is just sorted last?

[2016-03-25 17:19] AdriVanHoudt commented on #221
Redis usage is not significant for atm so fine maybe I can do a shot at a PR after my vacation

[2016-03-25 17:19] AdriVanHoudt commented on #221
Thanks for the help and the great work!

[2016-03-25 17:20] matthewloring commented on #223
Precisely, the UI has no other mechanism to know the true ordering of requests with the same start time.

[2016-03-25 17:22] matthewloring commented on #221
Thanks for trying it out. I'm glad the information is useful!

[2016-03-25 17:22] #221 closed

[2016-03-25 17:22] AdriVanHoudt commented on #223
Ah I see, thanks!

[2016-03-25 17:22] #223 closed

[2016-04-01 16:43] matthewloring opened #226 "Context is dropped when using gRPC"

[2016-04-05 05:40] #218 closed

[2016-04-05 06:03] #226 closed

[2016-04-08 01:21] matthewloring opened #229 "Remove trace agent specific frames from reported stack traces"
Right now the top ~4 frames are span logic. We should eliminate these.

[2016-04-11 21:09] matthewloring opened #232 "Agent should attempt to publish traces on unhandled exception"

[2016-04-11 23:10] matthewloring opened #234 "Cap trace sampling using configuration regardless of context headers"

[2016-04-13 00:54] matthewloring opened #236 "Use GCLOUD_PROJECT instead of GCLOUD_PROJECT_NUM"
This aligns with the environment variable that [gcloud](http://npm.im/gcloud) module is already using.

[2016-04-14 14:44] #229 closed

[2016-04-14 16:57] #234 closed

[2016-04-14 18:17] matthewloring commented on #209
Fixed with: https://github.com/othiym23/node-continuation-local-storage/commit/1141774866cb09906ccb1429ccca047db0360334

[2016-04-14 18:17] #209 closed

[2016-04-14 21:22] #232 closed

[2016-04-14 21:39] #236 closed

[2016-04-25 22:04] blargism opened #248 "Full API access seems excessive"
I have a cluster that holds data that falls under HIPAA.  That means a lot of security that a normal app does not get.  The cluster I am using only has open ports to the internet on the boxes with Node.js on them, our app servers.  If I give full API access I would also be giving full cluster control to those boxes, which seems really bad.  One of those boxes is compromised and my cluster is compr

[2016-04-25 22:56] matthewloring commented on #248
The API requirements can be avoided by following the instructions for running outside of the Google Cloud Platform which can be found here https://github.com/GoogleCloudPlatform/cloud-trace-nodejs#running-elsewhere.

For step 2, it may be easier for you to create a service account key instead of running a `gcloud` login command from your production machine. The process for creating and setting up

[2016-04-26 00:52] matthewloring commented on #248
@blargism Please let me know whether service account keys satisfy your use case. Setup is now documented in the readme under the running elsewhere section.

[2016-04-26 20:21] blargism commented on #248
I think so.  I will reopen if I run into issues.

[2016-04-26 20:21] #248 closed

[2016-06-01 12:30] steren opened #257 "Local development: Trace error"
When developing locally, I get this error.

The error mentions project 32555940559 is.
It is not the number of the one I am currently developing for. I have no idea what this error is about.

[code]

[2016-06-01 17:50] cheee commented on #257
This is because you used `gcloud auth login`. The project number:  32555940559 is gcloud project number. You should use: `gcloud beta auth application-default login`. Once you did that, the issue should go away.

[2016-06-01 18:18] steren commented on #257
This is local development, I do not want to use Trace locally so I would prefer not have to do the auth step.

Also, the error message could be much better: How I am supposed to know that 32555940559 is gcloud project number?

[2016-06-01 18:28] matthewloring commented on #257
If you would like to disable trace locally you can set the `GCLOUD_TRACE_DISABLE` environment variable. The error message is coming from the trace service and they already have a bug tracking the improvement of this message.

[2016-06-14 00:37] matthewloring commented on #257
We now have documentation of the mechanisms for disabling the agent for local development (#259). I'll close this for now but please reopen if there are further improvements to be made.

[2016-06-14 00:37] #257 closed

[2016-06-15 18:17] ofrobots opened #265 "Add support for tracing ioredis"
As requested here: https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/pull/262#issuecomment-226107228

[2016-06-15 19:47] AdriVanHoudt commented on #265
I understand the maintenance burden.
I don't think both modules differ that much, I choose ioredis because it looked better, can do more (like cluster), which futureproofs it, is used by a large corporation (Alibaba, which is also safer), and does some stuff different which I liked (see https://github.com/luin/ioredis/wiki/Migrating-from-node_redis).
Also they are converging so at one point this r

[2016-07-12 17:46] matthewloring commented on #116
Now that gcloud uses gRPC, we can report service + rpc on spans.

[2016-07-12 17:46] #116 closed

[2016-07-12 17:49] matthewloring commented on #40
This bug hails from the era where instrumented modules were direct dependencies of this project. Though we will continue to improve on the current fixtures approach it does address the original goal of this bug.

[2016-07-12 17:49] #40 closed

[2016-07-28 11:35] steren opened #283 "Documentation not clear if I should use application default credentials on production"
The README says:

Does this mean that on a production GCE instance, it is OK to use application default credentials generated by gcloud?
If not, I think we should change the doc to say to only use application default credentials on a local test environment.

[2016-07-29 17:07] ofrobots commented on #283
I agree that while possible, application default creds shouldn't be recommended on GCE.

[2016-08-05 14:12] grandmore opened #289 "Can traces be added to normal node.js functions"
I want to add a simple set of traces around some of my node,js function but currently the span function only support certain frameworks. The Custom Tracing API says it only supports `express`, `hapi` &  `restify`.

Can we use the span classes outside of these frameworks in normal node code to do tracing.

Can this be done with normal node functions ?

For example

[code]

Thanks

[2016-08-05 16:29] matthewloring commented on #289
We do not currently support generating spans outside of the web frameworks you mentioned above. This is something we may be able to support in the future but I want to understand the use case. Are you building a service using a different web framework or trying to trace Node.js in a different context?

[2016-08-05 16:38] grandmore commented on #289
I'm not using any of these frameworks. I use a mix of different technologies depending on the use case.

For example relay/react, straight node, golang etc.

I have micro-service architecture and the services are written in different languages and different technology  to watch their use. All of them are wrapped in docker and most don't use frameworks at all, there far to large for whats needed.

[2016-08-05 17:24] matthewloring commented on #289
I am specifically interested in how the Node services handle web traffic. When you say straight node/no framework, does this mean serving requests with the Node.js http module, plain sockets, or something else?

For relay/react, we should be able to trace things like react server side rendering or a relay database with custom spans as long as the work is being done within a supported web framework

[2016-08-05 17:31] grandmore commented on #289
Primarily each service communicates over http when the services are in separate docker containers. Some of the services communicate internally, even through they are structured as micro-services. This is to avoid 'always' communicating over a network, when internal communication is 100x faster.

I'm intending changing http to grcp later.

I'm interested in tracing both of these scenarios. I can us

[2016-08-05 19:03] matthewloring commented on #289
I am curious what prompted the use of plain http as opposed to one of the other frameworks. Was this a system requirement, personal preference, or something else?

[2016-08-05 19:11] grandmore commented on #289
The Frameworks are fine, and I have used them before, but these are not 'front-end' services/tasks but backend ones.

I can easily use Restify or Hapi for example, but I can write 100 lines of node code that created these services and never need any framework code, as Node provides everything I need.

In Golang for example, the standard library does everything I need so there is no need to add the

[2016-08-09 00:13] ofrobots commented on #289
At the moment we only support tracing HTTP servers through frameworks. Supporting bare Node.js HTTP server is something we can look into in the future but have no immediate plans (pull requests are welcome though).

We do plan to implement tracing for gRPC servers in the near/medium-term future.

[2016-08-26 08:47] AdriVanHoudt opened #291 "Update/release hapi support"
Currently all my tracing has stopped due to the `hapi v14 support` commit not being published yet. Now normally I would ask for a release but I believe hapi 15 will be release today or tomorrow so it might be interesting to wait. I took a quick look at the hapi hooks and I do not believe v15 will be a problem for this module.
Apart from that it might be interesting to release quicker since the las

[2016-08-26 14:56] matthewloring commented on #291
We are definitely overdue for a release. We will publish the v14 support now and can republish once v15 is out and we've verified it against the hooks.

[2016-08-26 15:30] matthewloring commented on #291
Hapi v14 support is published. I'll keep an eye out for the v15 release!

[2016-08-26 15:38] AdriVanHoudt commented on #291
Thanks a lot for the quick response! Want me to keep this issue open for v15?

[2016-08-27 04:26] matthewloring commented on #291
Sounds good, 15 didn't require any logic changes so we just need to bump the supported versions. I have the PR open here: https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/pull/293. Let's leave this issue open until that PR is landed and released.

[2016-08-30 02:59] matthewloring commented on #291
All released! Thank you for opening this.

[2016-08-30 07:29] AdriVanHoudt commented on #291
No problem! thanks for taking notice 🎉

[2016-08-30 07:29] #291 closed

[2016-09-06 17:45] matthewloring commented on #289
I'm going to close this for now. Feel free to reopen if you have any additional questions.

[2016-09-12 01:20] zbjornson commented on #289
I'm also interested in the ability to make traces/spans outside of a framework (although I might be able to work around this limitation). My use case is making custom traces for periodic tasks and other event-driven activities that aren't necessarily spawned by a request.

This seems like a very simple thing to support considering the nature of the trace API -- is it difficult because this library

[2016-09-12 19:06] matthewloring commented on #289
@zbjornson It is not difficult and should possible by exposing the existing logic for creating root spans on the public API. We were going to use an api of the form:

[code]

Despite the similarity with the existing custom span API, we wanted to keep this separate as we did not want people to accidentally create root spans from inside a web framework.

Would the API above satisfy your use case?

W

[2016-09-12 19:45] zbjornson commented on #289
@matthewloring That makes sense to ensure root spans aren't accidentally created.

I only just started using this lib and am working on some other issues first, but I'll work on that if you guys don't get to it before then. Thanks! -- Should this issue be re-opened or a new issue created for tracking maybe?

[2016-09-12 22:04] matthewloring commented on #289
Sounds good, we can track this here and I can update this once we start work.

[2016-09-12 22:06] zbjornson opened #297 "Handling giant traces (e.g. traces with many RPC requests)"
Parts of our application make tons (1,000s to 10,000s) of RPC requests within a single express action. There's no need to log all of these RPC spans -- I would rather not trace RPC calls in these routes and instead use custom spans to manually aggregate the RPC calls.
- Excluding a hook only works on the application-level. That issue aside, it also seems like excluding the mongodb-core hook breaks

[2016-09-12 23:31] matthewloring commented on #297
Hmm, this is an interesting use case and unfortunately you're running into a few different complexities.

- Our patching of database frameworks serves both to generate a span and to ensure that information about the root span for the current request is propagated across async boundaries correctly by cls. Disabling a database patch removes both of these functions causing custom spans to be unable t

[2016-09-13 00:25] zbjornson commented on #297
Ah, I see... even if I'm just using express and making http requests, excluding mongodb-core could break the propagation? (That doesn't sound quite right...)

Silent mode sounds like it could be done without much of a perf hit, but because it would be global... I started to write that a more useful near-term solution for me would be the ability to create custom root spans so that I could ignore th

[2016-09-13 02:32] zbjornson commented on #289
Took a stab at this to see if it was a viable solution for #297, but it got more complicated.

Did you guys envision that custom root spans would be used by hooks? e.g. if you made a custom root span in a plain function and had a mongodb call in it, would there be a mongodb span on that custom root span? For what I proposed as a solution in #297 it would be critical that the hooks do not bind to t

[2016-09-13 07:22] AdriVanHoudt opened #299 "Add support for cron jobs"
I know there is an issue about custom spans but I feel adding general support for cron jobs makes sense. These are most, if not all, of my background tasks and I think it is fairly easy to mock.
As a reference I am using https://github.com/ncb000gt/node-cron

Is this something that is possible at all?

[2016-09-13 16:50] matthewloring commented on #299
We can definitely investigate patching node-cron but have a few other work items we need to get through first. We can leave this open to track a feature request for node-cron but hopefully the custom root span api from https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/issues/289 will let you get the info you want from work done outside of a user request.

We are also happy to accept contri

[2016-09-13 17:14] matthewloring commented on #297
Unfortunately, there are many modules that break context propagation. You can browse through the issues on [cls](https://github.com/othiym23/node-continuation-local-storage/issues) for some examples. In your example, it just happens that mongodb-core is causing the context loss between express and http and it happens that our patch fixes this. If it were a different module causing the loss we woul

[2016-09-13 18:23] #283 closed

[2016-09-13 19:49] matthewloring commented on #289
The trace agent and service in general are designed with the idea that there is one root span representing asynchronous work at a time. Which root span is in effect is determined when some top level event (user request, cron job, etc) occurs and is propagated across all asynchronous hops originating from that event. Introducing multiple root spans for a particular continuation chain and adding add

[2016-09-14 08:50] AdriVanHoudt commented on #299
Yeah I saw the custom root span issue but thought that cron jobs seemed a logical/easy thing to patch.

I will be at Node Interactive Amsterdam this week and I had some other oss planned, I'll see if I can squeeze in a PR, although this is something more low level then I am used to.

[2016-09-14 20:00] zbjornson commented on #289
Agreed that the current design with a single root span makes sense, and some "child-free" span type would add complication to the API.

That is, however, I think the simplest and lowest-overhead long-term solution to #297 (giant traces). I made up an example [simple tracing library](https://github.com/zbjornson/gcloud-trace) yesterday built on top of google-cloud/common for this purpose. Its API i

[2016-09-14 20:06] zbjornson commented on #297
Thanks for explaining that -- I've not used cls before.

Other potential solution I thought of is building aggregation/subsampling into this library. Would have to figure out what the "grouping" key is for each hook (e.g. for mongodb commands it could maybe be "db" [the database and collection]), but maybe if more than some number of spans are added with the same grouping key value, a summary span

[2016-09-15 16:14] matthewloring commented on #297
I can socialize the idea of aggregating in the agent to some other people working on tracing here. Our general approach (performance overhead permitting) has been to collect all information possible avoiding summarization in the agent. Reporting all of the information will let the UI summarize/aggregate nicely (which it does not yet do) while still allowing summaries to be expanded if someone need

[2016-09-15 16:55] matthewloring commented on #289
Cool! I can take a look at the library in more detail later. Just looking through the example in the `README`, I am not seeing any differences in what can be expressed between your API and the api of this module (with the addition of custom root spans). Is the intent that no child spans automatically generated by hooks would attach to these custom spans?

We have talked about in the past (https://

[2016-09-15 18:30] zbjornson commented on #297
Yeah, display-side aggregation would be a good solution. As nervous as I am about performance, this lib seems to benchmark pretty well (~single-digit percent difference, but hard to accurately measure given the variability of RPC requests). -- Do you know what the max request body size is for the PATCH route? That (along with the potential for server-wide GC pressure) was my other concern and didn

[2016-09-15 19:24] zbjornson commented on #289
Indeed, my lib could mostly be replaced when custom root spans are allowed. The big one is no child spans from hooks, yes, but it's also appealing because it doesn't do any patching or use CLS. Some other differences, many of which have workarounds and are minor, and all of which would be easy to add to this lib if desired:

* `tracing.getTrace(traceId, cb)` that e.g. allows a trace started on the

[2016-09-16 14:44] matthewloring commented on #289
That makes sense. Our library was designed so that users would not have to modify existing code in order to get tracing of common frameworks (with the option to add custom spans if desired). If someone wants more fine grained control over all spans at the cost of modifying their code base to pass the spans around and manually trace all events of interest I think a library like yours sounds like th

[2016-09-16 16:22] matthewloring commented on #297
I do not know the exact maximum body size but I have run into an upper bound in testing and the server gives 413 response codes back when this occurs. You could try increasing the trace buffer size and putting load on your app until you start seeing 413s. As for GC pressure, that would depend a lot on the existing allocation patterns in your app. Increasing the buffer size will have some impact on

[2016-09-22 20:02] ggoodman opened #303 "Symlinked credentials are not supported"
On Kubernetes, the recommended approach is to use a `Secret` object to provide the service account credentials for making trace requests. As of Kubernetes `1.3` volume-mounted secrets are implemented as symlinks and fail to be resolved by the depended-upon version of the auth library.

This means that logging on GKE via the recommended Kubernetes approach is broken.

The underlying issue has been

[2016-09-22 20:32] matthewloring commented on #303
Thank you for alerting us. It appears the linked fix has not yet made it to a released version of `google-auth-library`. There are a few releases that will have to happen to pick this up: `google-auth-library` -> `@google/cloud-diagnostics-common` -> `@google/cloud-trace`. I'll update here as we get the releases rolled out.

[2016-09-22 20:33] ggoodman commented on #303
Looking forward to this. I have a service deployed to production that is finding it inconvenient to stay alive and would love to have some better visibility into what's going on.

[2016-09-22 21:45] matthewloring commented on #303
cc @tbetbetbe to get a release of the auth library including the above fix.

[2016-09-26 08:14] hach-que opened #304 "Add support for tracing swagger-tools"
This uses a very express-like framework for serving up APIs: https://github.com/apigee-127/swagger-tools

[2016-09-27 01:00] matthewloring commented on #304
We can investigate patching swagger-tools officially but will have to assess the maintenance burden longer term. Our hooks rely on patching underneath the module interface and can be broken on minor version releases.

In the mean time, we are happy to accept community contributions for new module hooks, help with review, and run provided tests but may not provide ongoing maintenance to support new

[2016-09-27 08:28] hach-que opened #306 "Allow "Service Name" and "Service Version" to be set"
I'd like to be able to populate these fields in the Google Cloud Trace UI, so that I can do meaningful comparisons between versions of software deployed on Container Engine:

![image](https://cloud.githubusercontent.com/assets/504826/18865717/0873614e-84e0-11e6-881e-c2b71f45cdc5.png)

I tried to set the module name and version like this:

[code]

but it doesn't seem to populate (at least not while

[2016-09-28 20:13] kjin commented on #306
The Cloud UI currently requires an existing App Engine instance with a given service/version pair in order for traces to show up under those fields. You would need a (dummy) App Engine instance for the Cloud UI to provide an entry in its drop-down menu.

You also need to provide `process.env.GAE_MINOR_VERSION`. You can set this to any value.

These fields are all intended to be set by GAE itself,

[2016-09-29 17:20] kjin commented on #306
We've been told that you actually can filter by arbitrary label, through the 'request URI' bar (despite its naming). It's more verbose than using the drop-down menus, but it allows you to filter traces by services (modules) that aren't App Engine instances. For example, if you set module name and version like this:

[code]

You can use the following query to filter those traces:

`trace.cloud.goog

[2016-10-04 02:52] matthewloring commented on #304
Does #305 fix this issue for you?

[2016-10-04 02:52] matthewloring commented on #303
Today's release should include this fix. @ggoodman let me know whether things are working for you.

[2016-10-04 03:01] matthewloring commented on #289
Today's release of the trace agent includes support for custom root spans. Take a look and let me know if it will work for your custom span needs.

[2016-10-04 03:06] hach-que commented on #304
I'll have a chance sometime later this week to switch back to cloud-trace-nodejs (currently using my forked GitHub repository so I can have this functionality in production).

[2016-10-07 08:31] yathit opened #312 "Module not found in Google App Engine flexible environment"

[2016-10-07 08:33] yathit commented on #312
It is running fine locally with depecencies as follow
[code]

[2016-10-07 08:34] AdriVanHoudt commented on #312
it is in your package.json? And under dependencies and not devDependencies?

[2016-10-07 09:39] yathit commented on #312
Yes. It is under dependencies

On Oct 7, 2016 4:34 PM, "Adri Van Houdt" <notifications@github.com> wrote:

[2016-10-07 11:45] AdriVanHoudt commented on #312
Hmm then not sure, not familiar with app engine, does just debug work? It could be due to scoped packages but that would be weird

[2016-10-07 14:57] JustinBeckwith commented on #312
We will not install devDependencies by default on App Engine - please make sure you have the libraries added under dependencies.  We should be installing all of the npm modules when you `gcloud app deploy`, assuming you're using `runtime: nodejs` in your app.yaml.

Can you share a few things?
- What's your app.yaml look like?
- Are you using a custom dockerfile?
- What's the output of your deploym

[2016-10-07 15:13] yathit commented on #312
Please see the file attached.

[Archive.zip](https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/files/516483/Archive.zip)

[2016-10-07 15:16] yathit commented on #312
[code]

[2016-10-07 15:20] matthewloring commented on #312
Have you successfully deployed this without `@google/cloud-trace` in the past? Trace is the first module you require so I'm curious whether the issue is trace specific or whether no modules are being installed somehow?

[2016-10-07 15:21] yathit commented on #312
No custom docker file. It is simple copying[ from getting started app](https://cloud.google.com/nodejs/getting-started/hello-world) with logging.

It is likely that file package.json file changes is not recognised in deployment. I cannot do anything here. I even connect with repo, but no help in deployment. BTW, the app run fine in heroku and modulus.

[2016-10-07 15:21] JustinBeckwith commented on #312
Can you share the output of `gcloud app deploy`?

[2016-10-07 15:28] yathit commented on #312
Sure, running, it really take time. BTW, I will delete all my comments soon.

[2016-10-07 15:29] yathit commented on #312
Stay running

[code]

[2016-10-07 15:35] yathit commented on #312
[code]

[2016-10-07 16:22] JustinBeckwith commented on #312
Another thing to try - make sure the logs you're reading are for the same version you just deployed.  Try something like this and make sure they match up:

[code]

Make sure to grab the version id for the one that's receiving traffic.  This should help make sure the logs match the prod version.

[2016-10-07 17:03] matthewloring commented on #303
Closing this now that the fix is released. Feel free to reopen if you have any additional issues.

[2016-10-07 17:03] #303 closed

[2016-10-07 17:18] matthewloring commented on #289
Closing this for now since custom root spans have been published. Feel free to re-open if there are additional questions.

[2016-10-07 17:18] #289 closed

[2016-10-07 21:45] yathit commented on #312
[code]

[2016-10-07 21:49] yathit commented on #312
One thing not right is, I setup VM to asia-east, but it always go to us data center. How could I change VM to asia-east.

[code]

[2016-10-07 21:52] JustinBeckwith commented on #312
You can only deploy Flex applications to us-central and us-east1 (no asia support yet).  Looking at your logs - it looks like the npm module is loading.  Now all I see are debug breakpoint errors.  @matthewloring what's up with those?

[2016-10-07 22:23] yathit commented on #312
I just want to update js file ssh to VM. Where my app files are in? I found no nginx or apache there. Thanks.

[2016-10-07 22:28] JustinBeckwith commented on #312
This has strayed significantly from the original bug :)  For this kind of question, I'd suggest [joining our slack](https://gcp-slack.appspot.com/) and [joining the nodejs channel](https://googlecloud-community.slack.com/messages/nodejs/).

[2016-10-07 22:28] #312 closed

[2016-10-25 02:18] Splaktar opened #314 "cloud-trace 429 status code errors and rateLimitExceeded"
Question about cloud-trace 429 errors that I started seeing this morning.

My logs show a total of 59 requests in the last 24 hours with 5 of these errors and a 100k quota w/ 1k requests per 100s. So it seems clearly far under any of the quota limits.

But the errors are telling me that my quota is a problem. Is it possible that the service just had an interruption or other failure temporarily? or

[2016-10-25 07:48] AdriVanHoudt commented on #314
I have also had this problem. 2 things.

Why is this error not being logged to stderr?
And can this be because of the GA of stackdriver?

[2016-10-25 17:30] ofrobots commented on #314
Thanks for reporting the issue. We're investigating.

[2016-10-25 20:08] ofrobots commented on #314
The Trace API team is investigating a potential disconnect between the actual and enforced quota limits.

[2016-11-07 21:42] Arkotek opened #319 "How to trace multiple transactions with custom api?"
Hi,

How to trace multiple async transactions with the custom API?

I'm trying to do this:

[code]

Without success, I only get one child span.
Using Mongoose 4.

[2016-11-07 22:08] Arkotek commented on #319
required the module somewhere else, was not patched, sorry for disturb

[2016-11-08 02:08] matthewloring commented on #319
Not a problem. Glad things are working.

[2016-11-08 02:08] #319 closed

[2016-11-09 20:13] matthewloring commented on #306
@hach-que Does this query mechanism work for you?

[2016-11-09 21:03] matthewloring commented on #304
@hach-que Any update on whether #305 fixes this?

[2016-11-09 21:03] matthewloring commented on #299
@AdriVanHoudt Have you gotten a chance to see whether the custom root span API is sufficient for your use case here?

[2016-11-09 21:18] matthewloring commented on #12
This has been determined to be infeasible due to performance issues with protobufs.

[2016-11-09 21:18] #12 closed

[2016-11-09 21:57] matthewloring commented on #314
@Splaktar @AdriVanHoudt The Trace API team has pushed a potential fix for this. Are you still observing the errors?

[2016-11-09 22:26] hach-que commented on #304
Yeah that branch comes straight from my fork which I was and still am using (haven't had a chance to switch back yet).

[2016-11-09 22:30] matthewloring commented on #304
Ok, I'm going to close this for now. If there are any issues when you switch back please let us know.

[2016-11-09 22:30] #304 closed

[2016-11-10 08:16] AdriVanHoudt commented on #314
Haven't seen them but they are not being logged to my usual error logger so not sure :/

[2016-11-10 08:21] AdriVanHoudt commented on #299
I haven't gotten around to it sadly, Node Interactive was more busy than planned :P
I would still very much like this feature and I would still like to try but sadly I don't have to much free coding time :/

[2016-11-21 16:44] matthewloring commented on #297
I don't believe there is outstanding action to be taken on this issue so I'm closing for now. Feel free to reopen if you have any follow ups.

[2016-11-21 16:44] #297 closed

[2016-11-21 16:46] matthewloring commented on #314
Closing this for now. Feel free to reopen if you have additional issues with the trace quota.

[2016-11-21 16:46] #314 closed

[2016-11-22 03:15] hach-que commented on #306
Yeah that seems to work for me.

[2016-11-22 03:15] #306 closed

[2016-12-04 17:07] 1602 opened #326 "Support for koa2 / Untraced mysql query"
I've noticed that this library supports koa (btw, for some reason readme didn't mention it). My app is running on koa v2, so, i've patched this library a little: https://github.com/1602/cloud-trace-nodejs/commit/b809244b72c64a63c8a13587cff1dc180d3b2d8a

Not sure if I could submit PR adding koa v2 support.

And another question, possibly unrelated one. In app i'm tracing I use mysql and knex odm, a

[2016-12-04 21:40] matthewloring commented on #326
The readme does not mention koa because it is not a framework we officially support and keep up to date. We welcome pull requests and are happy to accept changes to support koa v2. I see that your koa patch uses async functions which I assume requires transpilation. We do not currently have a transpilation workflow for this project so adding tests for the koa v2 patch may require some more machine

[2016-12-05 11:24] 1602 commented on #326
re: koa2 support, thanks it is clear, I will rewrite to pure promises and submit PR

re: mysql, sounds like this is it, i can not confirm, because it seems like it is not possible to not use generic pool in knex. it would be very nice if you help to explore generic-pool issue, i'm totally lost in cls stuff.

[2016-12-05 15:25] ofrobots opened #327 "Preserve context across knex (generic-pool)"
Originally opened through: https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/issues/326.

It seems that [knex](https://www.npmjs.com/package/knex) is causing context loss, probably due to its use of [generic-pool](https://www.npmjs.com/package/generic-pool).

[2016-12-05 15:25] ofrobots commented on #326
I've opened #327 to track the enhancement request for preserving context across knex. Closing this issue.

[2016-12-05 15:25] #326 closed

[2016-12-09 15:55] ofrobots opened #330 "runInRootSpan always creates a context"
`runInRootSpan` always creates a trace context. This means that incoming trace context cannot be propagated by users of the custom tracing api.

One way to fix this would be to accept optional arguments in `runInRootSpan` with the optional context if the caller has one already.

/cc @evanlucas.

[2017-01-06 05:00] rajeshpanwar opened #340 "express 3.1.0 not supported"
Hi Sir,

I have followed all installation steps, but not getting api trace.

How can i figure out what is going wrong ?

[2017-01-06 05:11] matthewloring commented on #340
Our support for express starts at version 4 (https://github.com/GoogleCloudPlatform/cloud-trace-nodejs#what-gets-traced). We do not currently have plans to extend support back to version 3 but we are happy to accept pull requests adding support to our agent for new module versions. We are also working on an API that would allow other modules to provide tracing support for modules/versions that our

[2017-01-09 15:23] evanlucas commented on #330
@ofrobots anything I can do to help on this?

[2017-01-09 22:45] melalj opened #341 "Add support for Postgres"
That would be great to have an integration of trace with [pg](https://github.com/brianc/node-postgres) (like the one that is already possible with MySQL).

[2017-01-10 19:27] ofrobots commented on #341
Thanks for opening the issue. I've tagged this as an enhancement request.

[2017-01-10 19:29] ofrobots commented on #330
@evanlucas we are presently hashing out the details of a new public plug-in API at the moment – once that is a bit more clear, we are going to decide on how to deal with the existing APIs. Stay tuned!

[2017-01-12 17:00] AdriVanHoudt opened #342 "Request contains an invalid argument"
I am seeing this passing by but not logged to stderr so our error logging does not catch it.
* I suggest logging to stderr
* Can I debug this?

[code]

[2017-01-12 17:27] matthewloring commented on #342
Logging our error messages to stderr sounds like a good idea. We are currently in the process of moving to a new logger and can look into adding this behavior.

Do you see this error message regularly in your logs or was there only a single appearance? I would suggest setting `logLevel` to 4 in the config or setting the env variable `GCLOUD_LOG_LEVEL` to 4. This should cause the full buffer of tra

[2017-01-12 17:37] AdriVanHoudt commented on #342
I have the debug data but it is quite a lot and a bunch of personal/confidential information, is there way to share this privately?

[2017-01-12 17:53] matthewloring commented on #342
You're welcome to create a private github gist or drive document and share it with me (mattloring@google.com) or use any other private sharing method you like. You can also scrub it if there are things you are not comfortable sharing but that may not be feasible given the size.

[2017-01-12 17:55] matthewloring commented on #342
Alternatively, you could build the request that the agent is making manually using this information and narrow down the test case yourself but this will likely be time consuming.

Also, my above comment had a typo. The environment variable should be `GCLOUD_TRACE_LOGLEVEL` but it looks like you have things working.

[2017-01-12 19:40] AdriVanHoudt commented on #342
I shared a google drive txt with you, be ware it is quite the data.
And yeah narrowing it down would be kind of time consuming :D
And I saw haha I used the config option instead :P

[2017-01-12 21:27] matthewloring commented on #342
It looks like the publish was almost a megabyte in size. I will investigate things locally but could you try specifying `bufferSize: 5` in your configuration? I suspect this request is just too large for the trace service.

[2017-01-13 00:44] matthewloring commented on #342
It appears that one of the labels on a span is too large for the service and is being rejected. Once I determine the max label size we can make sure the agent doesn't try to publish labels that are too large. In the meantime, turning off `enhancedDatabaseReporting` should let all traces be published.

[2017-01-13 05:54] AdriVanHoudt commented on #342
I don't want to turn of enhancedDatabaseReporting since I will not mysql tracing then, which is super handy for debugging.
I told you it wa quite the data ;) setting buffersize to 5 does what exactly?
I also see a lot of `object object` in the trace, I always thought this was an issue with the console (and reported it there a while ago) but it seems the agent is sending that. Is that by design?

[2017-01-13 17:01] matthewloring commented on #342
When you first shared the data, I suspected that the set of traces were too large. Setting the buffer size to 5 would reduce the number of spans buffered before publishing which should reduce the size of the request made to the service. After digging into the data you were sending, I found that the service rejects labels attached to spans that are more than 16k in size. Some of the labels on the m

[2017-01-13 23:43] matthewloring commented on #342
A fix for the large labels is put together here: https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/pull/345.

A proposed fix for the `object object` problem is in the works here: https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/pull/346 but may take some more iteration. We'll be getting a release out with the label fix soon.

[2017-01-14 13:55] AdriVanHoudt commented on #342
Thanks for all the fixes 🙏
I think only the `log to stderr` thingy is left

[2017-01-14 18:19] matthewloring commented on #342
The above fixes have been released with v0.6.0. We will soon be moving to a new logger so I'm going to put the logging to stderr item in the backlog once we have the new logger. Just to have some more information, what tools are you using to track stderr v stdout?

[2017-01-14 19:49] AdriVanHoudt commented on #342
We track errors through either random throws, or via hapi logging and then log to opbeat. I saw this log passing by when monitoring the output of good-console (hapi logging to console) through pm2. When you log an actual error it shows up in the error stream of pm2 while this is error was not.

[2017-01-16 16:28] Meviola opened #348 "Mongodb patching next method?"
I have a question, why do you patch the `next` method on the mongodb hook? ([here](https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/blob/master/src/hooks/userspace/hook-mongodb-core.js#L131))

Why not patching the `_find` and `_getmore` instead?

[2017-01-16 21:51] matthewloring commented on #348
We patch `next` because that is the operation on the module's public interface. We aim for the public interface because we expect most users of a module to reason about the module's behavior in terms of the operations on the public interface. Additionally, it makes our patching more robust since patched function signatures should only change on major version releases. I believe `_find` and `_getmo

[2017-01-16 21:59] matthewloring commented on #342
OK, it looks like the primary issue on this bug (failed publishes) has been addressed. @AdriVanHoudt would you be OK with closing this issue if things are working again and opening a separate issue to discuss how the trace agent should log operational errors?

It sounds like maybe the actual logging problem here is that we do not log a stack trace making it seem to pm2 like it is not an error?

[2017-01-16 22:24] AdriVanHoudt commented on #342
@matthewloring yeah the main thing is fixed

I think the issue is that you are logging a custom thing and not a real error (wild guess) and not having a stacktrace does not help ^^ (fine to open new issue btw)

[2017-01-16 22:24] #342 closed

[2017-01-17 17:36] matthewloring opened #349 "Add stack traces to logged errors"
Errors logged by the agent coming from the trace service do not include the actual error object. This prevents them from being detected by tools that scan stdout/stderr such as `pm2`. We should include the full error object if it is available.

Original discussion here: https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/issues/342.

/cc @AdriVanHoudt

[2017-01-18 09:39] AdriVanHoudt commented on #349
This ties in with work on a new logger although I could not quickly find it to link it

[2017-01-19 19:22] melalj opened #351 "Slow dependency install (grpc)"
Everytime I run npm install, it takes a long time to install cloud-trace-nodejs due to the compilation of `[grpc] Success: "/MY_APP/node_modules/@google/cloud-trace/node_modules/@google-cloud/common/node_modules/grpc/src/node/extension_binary/grpc_node.node" is installed via remote`

Any way to speed up this?

[2017-01-19 23:55] matthewloring commented on #351
Unfortunately there is not currently a way to speed this up. We are in the process of removing the dependency (which was transitively introduced through `@google-cloud/common`).

[2017-01-20 20:44] melalj opened #354 "Support Promises on `runInSpan` or `runInRootSpan`"
It would be great to use Promises instead of callback for `runInSpan` or `runInRootSpan`.

Example:
[code]

[2017-01-21 00:37] melalj opened #355 ""grpc" was loaded before the trace agent was initialized."
I keep getting this error when I start my app.

[code]

Which actually doesn't really make sense since grpc is part of the trace module... and it says that it wasn't loaded? 🤔

[2017-01-21 01:53] matthewloring commented on #355
This is another side effect of the recent addition of grpc as a dependency of this module. This should be fixed once the dependency is dropped in the near future.

[2017-01-21 16:23] ofrobots commented on #355
We hope to have this issue resolved next week, in the meanwhile you can install `@google/cloud-trace` at version `0.5.10` as a work-around (a few fixes are missing from that release however, specifically: #345, #346, #352).

[2017-01-23 03:25] matthewloring commented on #354
This sounds like a great idea. There are a few other things we're working on right now on the instrumentation API. We'll revisit this once that work is finished.

[2017-01-30 22:11] matthewloring commented on #348
Closing this for now. Feel free to reopen if you have additional questions.

[2017-01-30 22:11] #348 closed

[2017-01-30 23:24] matthewloring commented on #355
https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/pull/359 fixes this issue, we expect it to be released soon.

[2017-01-30 23:24] matthewloring commented on #351
https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/pull/359 fixes this issue, we expect it to be released soon.

[2017-01-31 19:23] ofrobots commented on #330
@evanlucas We have a Plugin API taking shape here which should solve the underlying issue here. Can you take a look at the API here: https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/pull/356/files#diff-ddc56f43fbfec8cecb2a2860232c31f5 to see if it will address your use-case properly. Any other feedback would be greatly appreciated too.

We are hoping to land this as an experimental API so

[2017-02-10 21:22] DominicKramer opened #382 "Support `tails` in Hapi"
As described by @AdriVanHoudt on PR [PR 379](https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/pull/379):

"In hapi there is a concept of `tails` where you can still do stuff in your handler after you replied.
In this case you end the span when you call `reply`. I have some routes where I do some queries after replying for performance reasons and it would be great if those queries would al

[2017-02-10 23:33] kjin commented on #355
Version 0.6.2 removed grpc as a dependency, so this message should not be showing up anymore. I'll close this, please re-open if it somehow still appears.

[2017-02-10 23:33] #355 closed

[2017-02-10 23:33] kjin commented on #351
Version 0.6.2 removed grpc as a dependency, so I'll go ahead and close this.

[2017-02-10 23:33] #351 closed

[2017-02-12 06:20] AdriVanHoudt commented on #382
Thanks, do you have any initial comments on it? Do you think the proposed change would be ok?

[2017-02-15 17:17] paulgoldbaum opened #387 "Loopback.js support"
I wanted to know if there are any plans to support loopback (http://loopback.io) in the short term. It uses express under the hood, so it should work right away but I haven't managed to get any traces.
If there's anything I can try out to provide you with more info I'll be happy to help.

[2017-02-15 22:44] matthewloring commented on #387
We do not currently have plans for explicit support but I would have expected express tracing to work as you mentioned. Could you try running your app with the [`logLevel`](https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/blob/v0.6.x/config.js#L22) configuration [option](https://github.com/GoogleCloudPlatform/cloud-trace-nodejs#configuration) set to 4 and sharing any output generated by t

[2017-02-16 18:38] paulgoldbaum commented on #387
Ok, so it looks like the patching is working correctly, here's the output:

 INFO :@google/cloud-trace: Locally provided ProjectId: -----
 INFO :@google/cloud-trace: Flushing: performing periodic flush
 INFO :@google/cloud-trace: trace agent activated
 INFO :@google/cloud-trace: Patching http at version v6.9.4
 INFO :@google/cloud-trace: Patching express at version 4.14.1
 INFO :@google/cloud-trac

[2017-02-16 19:10] matthewloring commented on #387
Yup, that looks like good initialization output. If you get any additional output when you send requests to your server I can take a look and see if anything stands out.

[2017-02-16 19:35] matthewloring commented on #382
At first glance, this looks like a good addition but we will want to make sure it is clear in generated spans when a response is sent to the user. Currently, the trace service/UI require that all child spans end before the root span associated with the request. We could make this work for `tails` by introducing a new root span which tracks the time from receiving a request to finishing all associa

[2017-02-16 20:19] paulgoldbaum commented on #387
So, after creating tests projects for Loopback 2 and LB3 the good news is that Trace does indeed work with it out of the box. The bad news is that now I have to find where my app is messing up ;P

Here's the output of booting up the test app and hitting a model-based enpoint and a custom express endpoint, both tracing beatifully:
[code]

Thanks for the help, I'll close this as the problem is obvio

[2017-02-16 20:19] #387 closed

[2017-02-16 20:33] matthewloring commented on #387
Cool, feel free to reopen if anything else comes up!

[2017-02-22 19:44] matthewloring commented on #349
Stack traces should now be printed for these network errors after #394.

[2017-02-22 19:44] #349 closed

[2017-03-01 23:18] matthewloring opened #433 "Add instrumentation for Koa2"

[2017-03-01 23:28] mattloring commented on #340
We do not currently intend to extend support for our trace instrumentation back to version 3.x. You are welcome to try out the [new plugin api](https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/blob/master/doc/trace-api.md) to build your own plugin. If you do try out the plugin api, please let us know if you have any questions/feedback.

[2017-03-01 23:28] #340 closed

[2017-03-01 23:28] mattloring commented on #299
Tracing for node-cron sounds like a great opportunity to try out the [new plugin api](https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/blob/master/doc/trace-api.md) to build your own plugin. If you do try out the plugin api, please let us know if you have any questions/feedback.

[2017-03-01 23:28] #299 closed

[2017-03-01 23:30] mattloring commented on #265
We do not currently intend to support ioredis directly. You are welcome to try out the [new plugin api](https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/blob/master/doc/trace-api.md) to build your own plugin. If you do try out the plugin api, please let us know if you have any questions/feedback.

[2017-03-01 23:30] #265 closed

[2017-03-01 23:33] ofrobots commented on #341
WIP PR here: https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/pull/402

[2017-03-02 08:42] AdriVanHoudt commented on #265
@matthewloring I was kind of waiting for the new api ;) when I have time I will definitely look into it!

[2017-03-02 08:42] AdriVanHoudt commented on #299
@matthewloring I was kind of waiting for the new api ;) when I have time I will definitely look into it!

[2017-03-02 13:06] harscoet commented on #433
👍

[2017-03-07 01:14] ethanrubio opened #434 "Can't get gRPC Context Client to Server to match"
I'm trying to use this library to trace gRPC and Hapi requests throughout a small microservice environment.

There are three services (using a combo of gRPC and HapI) that I'm trying to log correctly in StackDriver Trace. I started all three services under the same project, but on StackDriver, I'm unable to link up the gRPC Client requests with the gRPC Server handling. However, a service with gRP

[2017-03-07 03:39] matthewloring commented on #434
We currently propagate distributed context using an http header meaning that distributed tracing will only work over http for now. We are designing an alternate mechanism for grpc (likely using http://www.grpc.io/docs/guides/concepts.html#metadata) but need to coordinate between different language trace agents (we want to ensure a request sent from a Node.js grpc client to a go grpc server will ha

[2017-03-07 03:41] matthewloring commented on #330
The new api for creating context aware root spans is available in the 1.0.0 release of `@google-cloud/trace-agent`. @evanlucas Please let us know once you get a chance to try it out.

[2017-03-07 03:52] evanlucas commented on #330
Yes, I had to chance to experiment with it and the problem appears to have been solved. Thanks a bunch!!

[2017-03-07 03:54] matthewloring commented on #330
Awesome! Closing this for now. Feel free to reopen if you have any follow-on issues or questions!

[2017-03-07 03:54] #330 closed

[2017-03-07 19:56] matthewloring commented on #341
#402 has landed. Closing this for now but feel free to open new issues if you have any questions once you get a chance to try out the postgres plugin.

[2017-03-07 19:56] #341 closed

[2017-03-08 01:57] kjin commented on #434
I've opened #436 to address this by writing trace context to gRPC metadata. While this field isn't standardized for other Cloud Trace clients, it should provide distributed tracing for Node.js microservices.

[2017-03-13 14:07] rexxars opened #437 "Tracing destroys proxied payload"
We've got an app that uses hapi with [h2o2](https://github.com/hapijs/h2o2) for proxying requests to a different service. When the trace agent is enabled, the responses seem to be empty. The response headers are included as expected, but there is no body.

I've made a reproducible test case here: https://github.com/rexxars/gtrace-proxy-issue

If I start the agent and disable *either* the `http` or

[2017-03-14 01:05] ofrobots commented on #437
@rexxars Thanks for the bug report. We are prototyping a fix on https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/pull/438.

[2017-03-15 16:41] matthewloring commented on #437
We will try to get a release out

[2017-03-15 16:42] rexxars commented on #437
Awesome! Look forward to trying this out

[2017-03-15 23:15] kjin commented on #434
Hi @ethanrubio, we just release version 1.0.1 which includes the PR mentioned above. Please give it a try when you have the time and feel free to re-open this issue if there are any problems!

[2017-03-15 23:15] #434 closed

[2017-03-15 23:20] kjin commented on #437
Hi @rexxars, we just released version 1.0.1 which includes the PR above. Please give it a try and let us know by re-opening this if there are any outstanding issues!

[2017-03-15 23:20] #437 closed

[2017-03-17 20:23] ethanrubio commented on #434
@kjin Thanks again for adding this! Is it possible to search for `x-cloud-trace-context` id in the web UI?

[2017-03-18 02:12] matthewloring commented on #434
The value of `x-cloud-trace-context` has the form <trace_id>/<span_id>;o=<options>. It is possible to look up a trace from a trace id by navigating to `https://console.cloud.google.com/traces/traces?project=<your_project_name>&tid=<your_trace_id>`.

[2017-03-19 22:11] tinovyatkin opened #441 "jshint from test doesn't understand async and prevent to make pull request for Koa 2 support"
Are you guys interesting in Koa 2 support? I have a pull request ready, but `jshint` in test doesn't understand `async` in your configuration, so, no way forward...

[2017-03-19 22:28] #441 closed

[2017-03-20 19:30] evanlucas opened #444 "Is there a way to get only some of the enhanced database reporting?"
In the pg plugin, the query and the values are added to the span only if enhanced database reporting is enabled. (https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/blob/master/src/plugins/plugin-pg.js#L36-L41). While we would like to have the queries reported, reporting the values and rows from the response could end up being a little too much information (think of changing a password or a

[2017-03-21 00:00] matthewloring commented on #444
There is not currently a way to print queries/values without database results. I see a few possible ways to remedy this:

1. We could determine that queries are not sensitive and remove them from being gated behind enhancedDatabaseReporting. I think this may be too simplistic and will not cover similar use cases for non-database plugins.

1. We could have a notion of sensitivity levels (similar to

[2017-03-22 19:03] ethanrubio opened #446 "ignoreUrls issue"
I've added various strings and regex to the `config.ignoreUrls`, but it seems to not be actually be ignoring the appropriate urls, because the url passed into FilterPolicy.prototype.matches is an empty string.

I've traced this issue all the way to `runInRootSpan` where the options passed in happens to be an example like this one `{ name: '/metrics', traceContext: undefined, skipFrames: 3 }`. And

[2017-03-22 19:09] oshalygin commented on #446
Here is my configuration and it's working like charm

[code]

[2017-03-22 20:23] kjin commented on #446
This is definitely a bug, thanks for bringing our attention to it.

Just noticed that you opened a PR for this. I'll take a look!

[2017-03-24 17:12] evanlucas commented on #444
Personally, I think 4 is going to be the way to go. We will always want errors, queries, and rowCount, but not parameters or output. I guess the hard part would be how to enable/change configuration at the environment level. Would that mean that they have to be passed to the plugin? Seems like that would be a backwards-incompatible change with how the plugin format is currently `{ name: file }`?

[2017-03-24 17:23] kjin commented on #444
I also like (4), because it opens the door to other fields that can passed to a single plugin. We discussed this in the past for limiting label sizes. While it would complicate the interface, I think we can avoid a backward-incompatible change by checking the value type (either `string` or now also `object`)? Which makes it, to me, the option with the smallest downside.

[2017-03-29 00:18] kilianc opened #454 "Manually set service name and version"
Currently I can't find the options to send the right service name and revision to through the client and it's impossible to filter only traces for one microservice.

I guess this works out of the box in App Engine, but we're running in K8.

[2017-03-29 21:02] matthewloring commented on #454
It is not currently possible to do this. We can add a mechanism for this to the config for the agent.

[2017-03-29 21:51] oshalygin opened #455 "Tracing by environment?"
I'm curious if this is possible.  I have multiple clusters across the same GCP project that represent various CI environments along with the production environment.  Is there any way to have tracing break them out by k8s cluster?

![image](https://cloud.githubusercontent.com/assets/7675942/24478271/1c3b592c-148f-11e7-8ebc-00343c8e711d.png)

[2017-03-29 23:53] matthewloring commented on #455
Would a way to specify service name and version be sufficient for this or is there another way you differentiate the clusters? (would https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/issues/454 be a solution to the problem?)

[2017-03-30 01:49] kilianc commented on #454
@matthewloring that would be awesome.

[2017-03-30 01:53] kilianc opened #456 "Arbitrarily pass time spent to endSpan"
We have a use case where we batch multiple calls to a database with a native batch API and in the response we get the `responseTime` for each individual call.

We are tracing how long that takes but we would like to track them singularly passing the number of milliseconds to endSpan or maybe some other method?

Thanks

cc/ @calufa

[2017-03-30 02:03] kilianc commented on #456
This may be a little hacky but I think it will help understand what I am trying to do:

https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/blob/master/src/trace-span.js#L48

[code]

and

https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/blob/master/src/trace-api.js#L53

[code]

This is just me looking how the calls are actually stacking up.

[2017-03-30 02:05] oshalygin commented on #455
@matthewloring yeah that would be awesome.

Ideally when starting the agent one of the args would be "serviceName" and "version", that way I could set this via ENV variables on the running contain for each environment.  For instance.

`TRACE_APPLICATION_SERVICE=web`
`TRACE_APPLICATION_VERSION=1.3.3`

[code]

[2017-03-30 23:26] kjin commented on #456
Hmm -- just to make sure I understand -- if you are batching database calls, would you create a span per call, or one span that represents all calls? In the latter case, how would you select which `responseTime` would be used to determine the length of that span?

[2017-03-30 23:42] kilianc commented on #456
Indeed, and then call `endSpan` on each one of them with the `responseTime` value.

[2017-03-31 17:19] kjin commented on #446
Hi Ethan, we've released this under Node 1.0.3. Please give it a try, and re-open this if there are any outstanding issues!

[2017-03-31 17:19] #446 closed

[2017-04-03 17:44] kjin commented on #454
@kilianc We've just released 1.0.4, which contains changes from #457.

Note that if the service name/version doesn't match an internally known entry, it won't show up in the Stackdriver Trace UI under the dropdown menu -- instead, you can use the "Request URI" box to filter by label (this is an undocumented feature). The format is space-delimited `key:value` pairs, and the label keys for the servi

[2017-04-03 17:45] kjin commented on #455
@oshalygin We've just released 1.0.4, which contains changes from #457.

Note that if the service name/version doesn't match an internally known entry, it won't show up in the Stackdriver Trace UI under the dropdown menu -- instead, you can use the "Request URI" box to filter by label (this is an undocumented feature). The format is space-delimited `key:value` pairs, and the label keys for the ser

[2017-04-03 17:48] oshalygin commented on #455
@kjin badass, thanks! Going to roll this in later today!!

[2017-04-04 18:14] matthewloring commented on #455
Closing this for now.

[2017-04-04 18:14] #455 closed

[2017-04-04 18:14] #454 closed

[2017-04-04 18:15] kjin commented on #454
Closing this, feel free to re-open if necessary!

[2017-04-13 16:58] matthewloring commented on #433
This is fixed by #464. It will be released shortly.

[2017-04-13 16:58] #433 closed

[2017-04-20 21:16] tizmagik opened #470 "Doesn't work with yarn?"
Apologies if this is a bug with `yarn` and not with how this package is published, but I get the following error when trying to install with `yarn`:

[code]

[2017-04-20 21:19] ofrobots commented on #470
@tizmagik seems to be working for me. Which version of yarn are you using and how are you invoking it.

<details>
❯ yarn add @google-cloud/trace-agent
yarn add v0.20.3
info No lockfile found.
[1/4] 🔍  Resolving packages...
warning @google-cloud/trace-agent > gcp-metadata > retry-request > request > node-uuid@1.4.8: Use uuid module instead
[2/4] 🚚  Fetching packages...
[3/4] 🔗  Linking dependencies

[2017-04-20 21:39] tizmagik commented on #470
The version i was using was 0.22, also just tried with latest 0.23.2

[code]

[2017-04-20 21:47] tizmagik commented on #470
Ah, it was a local `.npmrc` problem, I had it to `always-auth=true` for our private npm registry. Apologies for the noise.

[2017-04-20 21:47] #470 closed

[2017-04-20 22:05] DominicKramer commented on #354
@melalj I was wondering if I could get some clarification from you?

Does the following code illustrate the functionality you would like supported?  If not, would it be possibly to give an example of the use-case you need supported.  Thanks.
[code]

[2017-04-21 14:45] melalj commented on #354
The example that I gave above is a childSpan instead of a root span.
[code]
It's more in the case when the rootSpan is auto-detected (for example with express).

The following code is a work around with the current trace API:
[code]

Hope it helps :)

[2017-05-02 05:10] ofrobots opened #473 "builds broken due to grpc 1.3.0"
Builds are failing. This is due to a new version of grpc recently released this week.

[code]

Switching to grpc 1.2.x makes the test pass.

/cc @murgatroid99 for awareness.

[2017-05-02 06:08] ofrobots commented on #473
It seems that the following client.js code no longer handles `argument` being `undefined`:

[code]

`serialize` throws when called with undefined.

[2017-05-02 15:13] ofrobots commented on #473
@murgatroid99 this worksaround the problem here: https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/pull/474. Is this an intentional change in gRPC, or is it a bug? Should I open a bug on your issue tracker?

[2017-05-02 15:41] murgatroid99 commented on #473
I previously had no idea that `undefined` was ever an accepted argument. Please do open an issue; this should be easy enough to fix.

[2017-05-02 15:54] ofrobots commented on #473
opened https://github.com/grpc/grpc/issues/10952

[2017-05-02 22:22] murgatroid99 commented on #473
I am switching gRPC's dependency on Protobuf.js back to version 5 to fix this.

[2017-05-03 22:56] #473 closed

[2017-05-04 20:29] murgatroid99 commented on #473
I have published grpc@1.3.1-pre1, which switches the dependency on Protobuf.js back to version 5. Can you verify that this library works with that?

[2017-05-05 10:16] kdeclerck opened #477 "Missing trace calls where the socket closed before a response was made"
We are using Hapi and we have some calls which are missing in traces.
This seems to be for requests where the socket is closed before we send a response.
Is it possible that traces aborts or something on a socket close event?

[2017-05-11 20:37] matthewloring commented on #354
After looking into this in more detail, we are leaning toward leaving the api as is. We do not currently have this behavior for child spans generated around callbacks because we felt that explicitly placing start/end span calls would make it more clear what precisely is being timed. For promises, in order to capture time spent synchronously in the promise executor the entire promise must be wrappe

[2017-05-11 20:37] #354 closed

[2017-05-12 12:09] vmarchaud opened #481 "(http-hook) bug on wrapping event-emitter on http response"
When wrapping the event emitter of the http response, someone forgot to return `on.apply(this, arguments);` to allow chaining, little example :

[code]

As you can see, i'm chaining multiple`.on` the `_res`. If you run this with the latest version and enabling the tracing, you'll have an error :
[code]

To fix it, we simply need to add a `return` [here](https://github.com/GoogleCloudPlatform/cloud

[2017-05-12 16:47] matthewloring commented on #481
Thank you for raising this and submitting the fix. Fix is now landed.

[2017-05-12 16:47] #481 closed

[2017-05-23 05:04] oshalygin opened #492 "Tracing across pods/services in a cluster?"
Anyone know the configuration necessary to orchestrate a Trace call that starts at the NodeJs application and traverses to another service, in GKE?

My NodeJs application(Express) lives in one pod and exposes a public API.  When the API is hit, the service handles the request and passed it down to other pods within the cluster that ultimately communicate with SQL/NoSQL DBs.  I'd like to be able to

[2017-05-23 18:15] matthewloring commented on #492
A description of our cross-service tracing functionality can be found [here](https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/blob/f8b74e6ec0af23adb531ff48aa18ad1d89703834/doc/trace-api.md#cross-service-trace-contexts). If both the public API and database pods are implemented in Node.js and use the trace agent then intermediate pods could propagate this header to achieve the desired traci

[2017-05-23 18:17] oshalygin commented on #492
@matthewloring unfortunately the pods/database interactions are not handled by NodeJs, instead they're Java services communicating with GCP CloudSQL and a MongoDB hosted under a GCE instance.

[2017-05-23 21:59] matthewloring commented on #492
Ah ok, does control return to the Node.js service to respond to incoming user requests or is responding handled by another component of the system? You could look into instrumenting your Java applications using https://github.com/GoogleCloudPlatform/cloud-trace-java.

[2017-05-23 22:01] oshalygin commented on #492
The response is handled by the same component(Node.js).  Going to look into instrumenting this on the Java side and see if this persists down, thanks @matthewloring !!

[2017-05-23 22:02] oshalygin commented on #492
Closing for now until further research.  I'll document the findings in a few days 👍

[2017-05-23 22:02] #492 closed

[2017-05-23 22:05] matthewloring commented on #492
Sounds good!

[2017-05-25 17:55] matthewloring commented on #477
This should be fixed by #479 which will be available after the next release.

[2017-05-25 17:55] #477 closed

[2017-05-28 01:48] VikramTiwari opened #498 "[Question] - How can I use cloud-trace to trace performance of functions"
I wanna trace how much time, CPU and other resources are being utilized by a specific function. These functions are not behind an API. After initializing them in my application, I am yet to see any trace reports for them. Is this supported? If so, how can I attain it? Thanks!

[2017-05-29 18:22] matthewloring commented on #498
If the functions are not executed on behalf of incoming requests, you could use [`runInRootSpan`](https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/blob/master/doc/trace-api.md#trace-spans) to gather wall time information. This should be a good approximation of CPU time assuming there is no blocking I/O in the function. However, if you are able to run the function locally, you may have bet

[2017-06-05 17:44] matthewloring commented on #498
@VikramTiwari Did you get a chance to try the custom span api or do you have more information about the resources you're interested in?

[2017-06-06 23:45] VikramTiwari commented on #498
@matthewloring Thanks for the detailed comment. I am yet to try `runInRootSpan`. Read the associated link and seems like it should be the solve of what I am looking for.

Normally I would use `dtrace` or even chrome debugger for profiling. What I was looking for is the real-time, in the background method. The way `cloud-trace` works.

In general, I am trying to create a node package which you will

[2017-06-07 02:27] matthewloring commented on #327
Fixed in: https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/pull/468

[2017-06-07 02:27] #327 closed

[2017-06-07 23:14] oshalygin opened #502 "WARN: Attempted to create child span without root. Anyone have any ideas?"
I'm seeing this in the logs recently, anyone have any idea what I may be missing??

`WARN:@google-cloud/trace-agent: redis: Attempted to create child span without root`

[2017-06-07 23:54] matthewloring commented on #502
@oshalygin Unfortunately, there are a few Javascript patterns which can interfere with our ability to correctly associated child spans with the correct root span. This is likely being caused by interference from another one of your dependencies. Would you be able to post a list of your dependencies (or email the list if you prefer)?

[2017-06-08 00:15] oshalygin commented on #502
Don't judge, some of the devDependencies should be dependencies and vice versa.  We are going through a bit of a refactor :)

[code]

[2017-06-08 00:31] oshalygin commented on #502
After doing a bit of testing, the problem comes down to the fact that I'm running the application as such:
`"open:dist": "NODE_ENV=production babel-node server/application.production.js",`

At the very start of `application.production.js`, I have a call to a `trace.js` file which contains the initialization configuration of the trace agent, namely:

[code]

I wired it up such that `trace.js` runs

[2017-06-08 03:02] matthewloring commented on #498
One of the goals for this package is to keep the overhead low enough to be practical in production. `runInRootSpan` can give timing information at the per-function level but instrumenting too many functions will have a noticeable impact on performance.

[2017-06-08 03:14] matthewloring commented on #502
Having modules loaded before the trace agent can also prevent it from tracing correctly. If the change you mentioned fixed the warnings you were seeing I'm going to close this for now. Feel free to reopen if you run into any additional problems.

[2017-06-08 03:14] #502 closed

[2017-06-14 05:38] oshalygin opened #512 "[Question] How to extract out x-cloud-trace-context header value"
My goal is to persist this value into the logs for our internal tracking purposes but I'm having a hard time seeing where this is set.  It's not on the request or the response object and I'm certain the traces are making their way over to Stackdriver Trace(I can see all the traces in the logs).

Anyone have any idea how to extract this header value?  Or is this _only_ sent to the stackdriver trace

[2017-06-14 06:06] oshalygin commented on #512
I also looked at the TraceAPI but I don't see anything that could be used:
https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/blob/master/src/trace-api.js#L283

[2017-06-14 16:01] matthewloring commented on #512
The trace context header is set on incoming requests by the requesting service. If the application is running deployed on Google Cloud it will be automatically set by the load balancers or if the application is being called by another service running a cloud trace agent it will be set by that service. If you are calling your application locally without adding the header explicitly it will not be a

[2017-06-14 16:35] oshalygin commented on #512
@matthewloring That is super clear thanks for explaining it.

I guess our use case is really weird and out of the norm because I'm trying to piggyback off of the Trace-Context and use that same value in our Stackdriver logs.  I don't know how useful this might be for anyone else but we find it quite nice to see all of the logs associated to a specific traceId that we can then tie everything togeth

[2017-06-14 16:47] ofrobots commented on #512
@oshalygin We too have been thinking of providing log correlation based on the trace context in the `@google-cloud/logging-{winston,bunyan}` libraries. It would be good to get some more details from you on your use-case so that we can address them in the official libraries:

* How are you logging? Are you using `@google-cloud/logging-{winston,bunyan}`, or are you using `@google-cloud/logging` dire

[2017-06-14 17:13] oshalygin commented on #512
I _was_ using `@google-cloud/logging-winston` but I ended up needing a slightly different implementation where I can attach metadata to the `jsonPayload` as opposed to the labels.  I was considering throwing a PR together but then it would be drastically different implementation and I'm not quite sure that it makes alot of sense just yet.  Here's a code snippet of what I'm currently in progress on

[2017-06-14 19:26] ethanrubio opened #515 "Support for ioredis"
I wanted to know if there are any plans to support [ioredis](https://github.com/luin/ioredis) in the short term. Thanks!

[2017-06-14 21:44] matthewloring commented on #515
This is not something we will have bandwidth to support in the near future. If you'd like to get things working you can look into [writing a plugin](https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/blob/master/doc/trace-api.md) to support it. I believe @AdriVanHoudt was also interested in this so maybe there is an opportunity to collaborate: https://github.com/GoogleCloudPlatform/cloud-tr

[2017-06-15 07:21] AdriVanHoudt commented on #515
@ethanrubio I don't have time to champion it but if you need help reviewing or question or anything let me know!

[2017-06-26 16:27] jmdobry opened #523 "Docs: Better documentation for available configuration options"
While directing users to the library's source code for available configuration options will arguably give them the source of truth, it is quite a jarring experience when users on https://cloud.google.com/trace/docs/setup/nodejs are redirected to a `.js` file on GitHub.

Can we please add a table of available configuration options to the README?

OR

Can we please get some JSDoc reference docs (tha

[2017-06-28 16:56] ofrobots commented on #523
Acknowledged. I think handling with with jsdoc reference docs would be a better option.

[2017-07-16 04:30] oshalygin opened #525 "Provide an example with GCLOUD_DIAGNOSTICS_CONFIG usage"
Reading the README it states that this environment variable can point to the configuration file but its unclear on what that actually means.  Here are the questions that run through my head:

1.  Is this configuration file exported as a javascript object?
2. Is this configuration file exported as a JSON file?
3. Does this file include the agent startup code? (`require('@google-cloud/trace-agent').

[2017-07-16 04:47] oshalygin commented on #525
Confirmed what works:

This is performed with just step 1.  To get this working I have the following file in my project:

_./utilities/trace.js_
[code]

My initialization script looks as follows:
_package.json_
[code]

And in my Kubernetes deployment configuration:
[code]

[2017-07-17 17:37] matthewloring commented on #515
Closing this for now since we do not expect to write a plugin for ioredis. If you would like to write one we are happy to help with questions and code reviews.

[2017-07-17 17:37] #515 closed

[2017-07-18 16:20] matthewloring commented on #498
I'm going to close this for now. You're welcome to re-open if you have any further questions.

[2017-07-18 16:20] #498 closed

[2017-07-18 16:25] matthewloring commented on #512
Thanks for providing this additional information! Adding trace ids to logs is something we hope to do in the future to make this process easier. I'm going to close this for now but feel free to re-open if you have any additional questions.

[2017-07-18 16:25] #512 closed

[2017-07-18 18:50] evanlucas opened #527 "Breaking change in 2.1.1"
It looks like `require('@google-cloud/trace-agent').get().constants` no longer works the way it did in 2.1.0. `.get()` seems to return undefined now. Was that change on purpose?

[2017-07-18 19:00] kjin commented on #527
It seems like I accidentally introduced a breaking change, as get() now only returns a `TraceAgent` object if the Trace Agent was started first. I will address this ASAP.

[2017-07-18 19:01] evanlucas commented on #527
Thanks!

[2017-07-19 18:59] oshalygin commented on #525
Yeah I because I was seeing alot of errors in regards to not being able to link to the root span as my code was transpiled.  I have an `application.production.js` file which gets babelified but that file has an import to `trace.js` at the very top.

I'll try it with the most recent version and see if I have this issue.

[2017-07-20 03:14] ofrobots commented on #527
Fixed in v2.1.2.

[2017-07-20 03:14] #527 closed

[2017-07-20 12:18] evanlucas commented on #527
Thanks for the quick fix!

[2017-08-01 07:31] jniemin opened #535 "Logger_ not correctly initialized when agent is started on disabled mode"
On latest version (2.1.2) if trace agent is started as disabled, `this.logger_` is not initialized properly in `src/trace-api.js`.

Example code
[code]

This will fail with error

[code]

This used to work with 2.1.0

[2017-08-01 17:52] kjin commented on #535
We have already fixed the issue on master. I will release 2.1.3 today to include the fix. Thanks for reporting this!

[2017-08-01 23:05] kjin commented on #535
@jniemin 2.1.3 was just released, let us know if the problem persists!

[2017-08-01 23:05] #535 closed

[2017-08-09 00:22] matthewloring commented on #525
@oshalygin Have you gotten a chance to give this a try?

[2017-08-09 09:22] oshalygin commented on #525
@matthewloring totally forgot was swamped.

I'm going to give this a whirl tomorrow morning when I get into the office.  Thanks!!

[2017-08-09 15:41] ctavan commented on #525
Maybe related: I'm using es6 `import` statements which I also have to transpile with babel. Unfortunately this leads to all `require` statements (that result from transpiled `import` statements) being placed at the very top of the main script before any other code (hence also before the `traceAgent.start({ … })` call).

As a workaround I'm now simply using the following wrapper `tracedMain.js` in

[2017-08-09 16:37] oshalygin commented on #525
@ctavan I did that before but I rather not have the entrypoint of my application be `traceMain` or some other file which is specific to the tracing.

Whats a bit confusing to me is why transpiling the trace library results in it not working anymore.
I tried to require it from the start command but that doesn't work either.

[2017-08-09 20:09] ctavan opened #537 "trace-agent reports patching of redis, pg, etc. but only express shows up in the traces"
I'm trying to get more detailled trace insight in one of my applications which uses express, redis, pubsub and postgres (through knex).

All of these libraries _should_ be supported by `trace-agent`, and trace agent also reports that it is patching those libraries when the process starts up.

[code]

However in the traces in cloud console I only ever see express and pubsub traces with call stacks

[2017-08-09 21:16] kjin commented on #537
Do you only see `pg` child span warnings, or do you also see ones for `redis` as well? And does it happen for each incoming request, or only sporadically?

Here's a one-liner -- if you place this both before your code hands off to make a redis/knex query, as well as immediately after the callback is invoked, it might signal an issue if the latter call site prints a stack trace and the former doesn

[2017-08-09 21:36] matthewloring commented on #537
The (likely) issue you are running into is also summarized here: https://github.com/GoogleCloudPlatform/cloud-trace-nodejs#how-does-automatic-tracing-work.

[2017-08-09 21:37] matthewloring commented on #525
One of the requirements of this library is that it run before any other modules are required so that it can instrument them at load time. Any transpilation which hoists requires to the top level will interfere with our ability to do this.

[2017-08-09 22:06] ofrobots commented on #525
Given these problems with transpilation, I think it would be a good idea to use the library with the node preload module flag: `--require @google-cloud/trace-agent`. This will ensure that the module gets loaded before *everything* else.

However, that leads to the issue that, since we dropped support for `GCLOUD_DIAGNOSTICS_CONFIG`, it is no longer possible to pass in configuration.

Perhaps it ma

[2017-08-09 22:56] oshalygin commented on #525
ok that explanation makes alot of sense actually @matthewloring

[2017-08-10 08:03] ctavan commented on #537
@kjin @matthewloring thank you for your quick feedback!

I somehow missed that part in the readme, maybe put it under a heading of "Troubleshooting"? ;)

I think that this section already answers my question, since I'm heavily relying on `async/await`. I'll give it a try with a variant where I transpile async/await just to verify my assumption and will then report back.

[2017-08-10 08:31] ctavan commented on #525
@ofrobots I have been using `--require @google-cloud/trace-agent` before, but since I wanted to change some configurations I had to write the wrapper mentioned above.

It would be really great to be able to specify a config file through an environment variable since this would render the wrapper unnecessary.

[2017-08-10 08:47] ctavan commented on #537
@matthewloring my problem was indeed due to the lack of async/await support. I actually think that the readme is clear enough about that, no idea how I could have missed it.

Anyways, the issue is clear now, so I'll go ahead and close this.

Here's what it looks like with `async/await` transpiled down to node 6.x compatibility:

<img width="411" alt="transpiled" src="https://user-images.githubuser

[2017-08-10 08:47] #537 closed

[2017-08-10 18:16] oshalygin commented on #525
The discussion is good but I'm curious why the environment variable was removed, maybe the config file wasn't loaded properly or asynchronously after the trace library loads.

Any thoughts on the env variable config option @matthewloring ?  If not, would you guys consider a PR?  I have some code together I was using as for some tests, I'll clean it up and see what you guys think.

[2017-08-10 18:50] ofrobots commented on #525
The environment variable was dropped because it was conceived for the a use-case where we wanted to bundle trace, debug, error-reporting etc. library into a single diagnostics module (the name of the variable suggest that). We ended up dropping those plans, and got rid of the env. var. at the same time.

I think the `--require` use case is good enough for us to bring it back.

A PR for this would

[2017-08-10 20:37] ctavan commented on #525
My two cents regarding your thoughs:

* 👍 for `GCLOUD_TRACE_CONFIG`
* I agree that the environment variable should always be respected, irrespective of `--require` or not as implicit behavior is generally hard to reason about.

Another suggestion: I would expect that `GCLOUD_TRACE_CONFIG` is being merged with the defaults and with any additional config supplied to `.start()`. With respect to prece

[2017-08-10 20:44] matthewloring commented on #525
Just for some added context, when we originally had configuration specified through the environment, we went with `defaults < .start() < GCLOUD_TRACE_CONFIG` because we thought it would be less intrusive to modify the environment than to make a source change. I could be convinced of either ordering though.

[2017-08-10 22:34] ofrobots commented on #525
I think it would be more conventional (i.e. less surprising) to do `defaults < environment < .start()`. I think that is what most users expect.

[2017-08-10 22:44] oshalygin commented on #525
I agree, and thats the implementation I have @ofrobots, I'll put the PR out in a few hours after I wrap up a few things at work.

[2017-08-12 05:54] matthewloring commented on #525
`GCLOUD_TRACE_CONFIG` is back in https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/commit/4496d3d6f0bdae46a44f7202d73493d829d112b0. We'll get a release out with this functionality soon. Closing this for now.

[2017-08-12 05:54] #525 closed

[2017-08-14 16:15] kilianc opened #540 "Tracing might not work as the following modules were loaded before the trace agent was initialized: ["once","assert-plus","qs"]"
I am not sure where I am supposed to report this, feel free to close is this is the wrong place.

https://github.com/GoogleCloudPlatform/google-cloud-node/issues/2531

[2017-08-14 17:44] kilianc commented on #540
@matthewloring thanks for the reply!

This behavior is a bit odd. I only use explicit tracing and I don't want any other probes intercepting my calls, how do I turn the warning off ?

Forget about `stderr` vs `stdout`, that was just a reminder that all those warning could potentially be ignored.

[2017-08-14 17:53] kilianc commented on #540
Maybe I just figured it, I need to set false all the keys here https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/blob/master/config.js#L35-L59 correct ?

What if there is a new plugin added, is there a way to get a list of active plugins and iterate over them ?

[2017-08-14 20:21] matthewloring commented on #540
You are correct. Providing an alternate plugins object in your configuration with falsey values will disable specified plugins. However, the plugins currently provide automatic tracing and handle propagating the asynchronous context that allows us to associate child spans with root spans (https://github.com/GoogleCloudPlatform/cloud-trace-nodejs#how-does-automatic-tracing-work). Just a heads up th

[2017-08-14 20:25] ofrobots commented on #540
@kilianc depending on what exactly you are doing, there is also a low level API that lets you talk to the Tracing API directly: https://www.npmjs.com/package/googleapis. This might be a bit too low level though.

[2017-08-14 22:48] kilianc commented on #540
@ofrobots I am ok writing our own middleware, we track traces anyway in logs, we just need the nice aggregated, plotted data and the alerts.

This is actually perfect for our use case, where we use cloud trace just as backend.

[2017-08-16 16:36] ofrobots commented on #540
Alright, I'm going to close this issue in that case. Please re-open if I misunderstood, or if there is something more actionable here. Thanks!

[2017-08-16 16:36] #540 closed

[2017-08-18 14:31] gauravkul commented on #502
I am having the same issue. trace agent is the first module getting loaded (otherwise it clearly complains that other modules were loaded before it). Still getting the following warning logs :

`redis: Attempted to create child span without root`

`http: Attempted to create child span without root`

`grpc: Attempted to create child span without root`

Please advice how to debug.

[2017-08-18 15:51] oshalygin commented on #502
@gauravkul yeah Typescript is likely the problem because it transpiles to whatever target you point to(usually people configure it to poop out to es5), when that happens, the trace agent may not be the first import.

An alternative as been suggested in the past is to have an entryfile, `index.js` which is the root of your application and all it has is

[code]

[2017-08-18 16:58] matthewloring commented on #502
If @oshalygin's suggestion doesn't work for you, it could also be a problem caused by one of your dependencies (https://github.com/GoogleCloudPlatform/cloud-trace-nodejs#how-does-automatic-tracing-work). If you're comfortable sharing your project dependencies, we'd be happy to take a look and see if anything stands out.

[2017-08-21 12:32] gauravkul commented on #502
Thanks @matthewloring  @oshalygin for your helpful answers. Sorry I was away on weekend and replying so late. I tried what @oshalygin suggested but no help .

My project dependencies are
[code]
`node --version
v7.10.0`
We are using clustering . Can that be main culprit ? Thanks for help.

[2017-08-21 19:57] matthewloring commented on #502
I took a quick look at your dependencies and it looks like `phantom` encourages using `async`/`await` with its interface. Unfortunately, our module is currently broken by `async`/`await` (https://github.com/GoogleCloudPlatform/cloud-trace-nodejs#prerequisites). Are you using async functions anywhere in your code? Also, do you see any http, redis, or grpc spans showing up in the cloud console or ar

[2017-08-26 16:00] SimonSun1988 opened #544 "Performance Problem"
I use trace engine in my api server, but I found it increase CPU and memory usage.

Any suggestions or I have to adjust my config.

[code]

[2017-08-26 20:36] matthewloring commented on #544
Do you have any specific information on how much CPU and memory usage increased with the trace agent? From the config, it looks like you're sampling 1000 requests a second which can generate a lot of information quickly. The CPU and memory impact will be lower if you decrease the sampling rate. I believe the default of 10 is usually sufficient unless you are trying to observe a particularly rare e

[2017-08-28 14:53] sanderploegsma opened #545 "Semver throws error while initializing trace agent"
I tried adding the trace agent to an application running Node.js 8.1.4 and got this error thrown on startup. I'm not sure why the `version` field in the package.json would contain the resolved url instead of the version number, but as fair as I traced it correctly it would be fairly easy to avoid throwing by testing if `semver.valid()` on `trace-plugin-loader.js:103:41`

[code]

[2017-08-28 16:08] matthewloring commented on #545
It looks like the npm documentation requires the `version` field of package.json to be parsable by `semver` (https://docs.npmjs.com/files/package.json#version). Is the version being set manually or by some other tool? I agree that we shouldn't crash here though and can add such a check. However, if we are not able to parse the version then we will not be able to provide any redis tracing.

[2017-08-28 20:15] sanderploegsma commented on #545
The only place I can find the url is in my `package-lock.json`. Maybe it has something to do with https://github.com/npm/npm/issues/15050?

Right, I expected this would be the case. I just figured starting without tracing is better than crashing the process 👍

[2017-08-29 16:59] #545 closed

[2017-09-01 17:38] ofrobots commented on #544
@SimonSun1988 Please try with the default sampling rate. An aggressive sampling rate of 1000 is probably the cause of increased memory and cpu usage.

[2017-09-04 01:39] SimonSun1988 commented on #544
thanks, I will try it.

[2017-09-04 19:05] kilianc commented on #540
@ofrobots I started the work on this but I can't find the documentation for the trace api v2 which is used here: https://github.com/google/google-api-nodejs-client/blob/master/apis/cloudtrace/v2.ts#L29

What's a good place to start? I found a lot of code samples for v1 https://cloud.google.com/trace/docs/reference/v1/rest/v1/projects/patchTraces

[2017-09-04 19:39] kilianc commented on #540
I also see that this module itself [uses `v1`](https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/blob/master/src/trace-writer.js#L306) is this the version I should stick to?

[2017-09-05 15:51] matthewloring commented on #540
As you found, most of the current documentation is around v1. It is in our backlog to migrate to v2 at some point but it is currently not a high priority and we expect v1 will be around for a while. v2 clarifies a few previously ambiguous cases (like how to report strings that have been truncated to save network bandwidth). If the lack of samples doesn't slow things down too much then it may be go

[2017-09-07 14:39] sanderploegsma commented on #545
For future reference, I found out this behaviour was triggered by https://github.com/npm/npm/issues/16926. Looks like npm@5.0.x is very much unstable.

[2017-09-07 15:56] kilianc commented on #540
@matthewloring gotcha. I'll stick to v1 for now, took me 5 minutes to have some working code just looking at the docs, I am pretty happy with it :)

[2017-09-12 05:07] ofrobots opened #555 "context loss in @google-cloud/logging"
Sample app:

[code]

The log write operations never show up in Stackdriver trace.

With a higher log level I can see warnings:
[code]

This suggests that there is likely a promise that gets initialized on the first request and holds onto the context of the first request for all subsequent requests.

[2017-09-17 22:14] QuestionAndAnswer opened #557 "Requiring module fails because of lower and upper case disk letter"
I was trying to debug after babel build enabling in our project, but trace-agent started to fail.
If I'm running builded application from npm script like this through nodemon

```./node_modules/.bin/nodemon -w src -w server.js -w index.js ./dist/index.js --delay 5```

everything working fine, but if I'm launching it using Visual Studio Code debugger then error occurs.

![image](https://user-images

[2017-09-18 04:03] QuestionAndAnswer commented on #557
So, I found workaround for now.
Upper case F letter because of gulp-sym module. By default it's using absolute linking mode. I changed it to use relative and now it's seems to work.
But, I hope that this issue still can be easily fixed with some checks or excluding disk letter from comparison flow.

[2017-09-18 18:31] kjin commented on #557
Thanks for highlighting this issue! Case-insensitivity on Windows is definitely something we should address.

[2017-09-18 19:08] kjin commented on #555
Traces don't show up because the app sends a response too early; the cloud console truncates/sheds traces that end/start after the root span ends, respectively. Setting a 100+ ms delay shows this behavior (this is from the sample app):

![image](https://user-images.githubusercontent.com/2365820/30559557-e747b9e6-9c69-11e7-92bb-34e581e0b185.png)

The warning message is expected, as the root span en

[2017-09-23 15:43] ivanseidel opened #565 "Where is mongoose plugin described in README?"
Readme states that `mongoose` is a supported plugin, however, it is not contained inside the `src/plugins` folder. Did I miss something?

[2017-09-23 15:57] matthewloring commented on #565
`mongoose` tracing is provided by the `mongodb-core` plugin.

[2017-09-23 16:38] ivanseidel commented on #565
Should `find` calls be tagged as well, or just write/cursors?

[2017-09-25 17:04] kjin commented on #565
Yes, `find` calls should be traced (I assume you meant traced instead of tagged).

[2017-09-26 08:54] AdriVanHoudt opened #566 "async/await"
The next version of hapijs (v17) will be async/await only. Is this supported by this tracing module?

[2017-09-26 12:28] matthewloring commented on #566
The hope is that async hooks (introduced in https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/commit/0e15b6c95dd019787540aa31c9c889028abc708c) will work with async/await. It can be enabled by setting the `GCLOUD_TRACE_NEW_CONTEXT` environment variable.  If you're experimenting with hapi@17 we'd be interested to hear how the async hooks based tracking works for you.

[2017-09-26 12:54] AdriVanHoudt commented on #566
On node 8 it will async hooks by default no?

[2017-09-26 13:07] matthewloring commented on #566
Not yet, we're still hoping to get some feedback on how it works in the wild before enabling it by default. If you're able to try it out with your uses of the trace agent we would be really interested to hear how it goes!

[2017-09-26 13:44] AdriVanHoudt commented on #566
https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/commit/0e15b6c95dd019787540aa31c9c889028abc708c#diff-168726dbe96b3ce427e7fedce31bb0bcR23 does that no or am I misreading?

[2017-09-26 14:06] matthewloring commented on #566
That condition will only be true if we are running on a node version >= 8 and the `GCLOUD_TRACE_NEW_CONTEXT` environment variable is set.

[2017-09-26 14:26] AdriVanHoudt commented on #566
Ok totally misread that :D

Do you have an eta on when it will become the default?

[2017-09-26 16:12] ofrobots commented on #566
At this point we are looking to get feedback from real world use-cases before enabling `async-hooks` by default. It would be really awesome if you could give it a shot with v2.2.0+ and report back 💯.

Once we have some confidence that this is working reasonably, we can make this the default behaviour for Node 8+.

[2017-09-26 16:16] ofrobots commented on #566
Ping @gauravkul, based on https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/issues/502#issuecomment-323732452, it seems like you might also be using code depending on un-transpiled async/await. If you are willing to try out the latest `async-hooks` based support and report back, that would be awesome!

[2017-09-27 07:47] AdriVanHoudt commented on #566
When hapi 17 is out and 8 is in lts we will start to switch to those and I can test real world cases. If hapi 17 is released before 8 lts we can do some testing up front and probably add 17 to the test suite here with node 8 and async hooks enabled

[2017-10-06 16:13] xK0ff33 opened #571 "Restify 6 support"
Is latest version of Restify supported? I'm trying to get it to work without success.

Not sure if it's because of using async/await (#566) in my code or some incompatibility with Restify.

[2017-10-06 17:07] kjin commented on #571
We currently support up to v4 only. I'll look into what's changed in Restify 6 (and 5) and update our Restify implementation... thanks for bringing this to our attention!

Assuming you've followed the direction of `GCLOUD_TRACE_NEW_CONTEXT` in the other thread, I wouldn't expect usage of async/await to have an impact on database traces, but if you are observing other issues that you think might be

[2017-10-06 17:08] kjin commented on #555
Closing this, as it seems like it's resolved.

If anyone observes the original issue please don't hesitate to re-open this issue and @ me.

[2017-10-06 17:08] #555 closed

[2017-10-08 17:21] kjin commented on #571
Restify 5 and 6 seem to pass our unit tests fine, so it might in fact be the usage of async/await. Would you mind sharing a small repro of the issue?

[2017-10-09 13:40] sanderploegsma opened #572 "TraceSpans not garbage collected?"
I recently provisioned one of our apps with this trace agent and it looks like the trace spans are retained in memory for a long time.

Using less than 1 RPS I see a steady increase in memory and a heap dump of a single process on our testing environment (running for about a week, also with less than 1 RPS) contains almost 250K `TraceSpan` objects.

FYI: all configuration was set to default.

[2017-10-09 22:01] kjin commented on #572
Thanks for reporting this! Which [traceable modules](https://github.com/GoogleCloudPlatform/cloud-trace-nodejs#what-gets-traced) are you using in your application? Also, any additional information you'd be willing to share will be helpful as well.

[2017-10-10 02:45] sanderploegsma commented on #572
It’s a Typescript app running Node 6.11.1, with the following modules:

- Express
- Redis
- Cloud Datastore

[2017-10-10 11:47] xK0ff33 commented on #571
Sorry, turns out the problem is on my side - Stackdriver Trace is disabled in my cluster.
Do you possibly know if there is an option to enable it without recreating the whole cluster?

[2017-10-10 20:11] kjin commented on #571
As far as I know, there isn't a way to enable it without recreating the cluster.

That being said, I believe our Trace Agent superficially doesn't patch Restify 5/6 yet... I'll try to get a fix in ASAP.

[2017-10-10 20:35] kjin commented on #571
We're aiming to release the next version within the next week, in the meantime -- I would suggest copying [this file](https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/blob/v2.2.0/src/plugins/plugin-restify.js) to your local directory, changing `SUPPORTED_VERSIONS` to `'<=6.x'`, and specifying the custom path to your local `plugin-restify.js` copy as follows:

`require('@google-cloud/trace

[2017-10-17 01:00] kjin commented on #572
So after looking into this a bit, I did find a potential culprit for a memory leak (outdated nested dependency on google-auto-auth) -- though whether it could have been the cause is highly dependent on how your app's code is structured. So that being said, if you still have the heap dump -- do you know what objects are retaining the `TraceSpan` objects? Looking for `authClientPromise` in particula

[2017-10-17 07:43] amsibamsi opened #574 "Improve docs on ignoreUrls option"
Found it confusing to know how the ignoreUrls option exactly works. From my limited understanding of the source it does do string matching, so specifying '/' will actually ignore all URLs. So exact matches need to be regular expressions, like /^\/$/. Can you please verify if this is how it works and then maybe add more detailed docs?

[2017-10-17 17:02] kjin commented on #574
Yes -- each input string in `ignoreUrls` is treated as a regex against which the potentially ignored URLs will be matched, so '/' will end up ignoring everything. (In addition -- the URL is _also_ ignored if it's an exact match of an `ignoreUrls` element -- something we will remove as a semver-major change in the future.)

I'll change the docs to make it more reflective of its function. Thanks for

[2017-10-17 21:07] #574 closed

[2017-10-17 21:07] kjin commented on #574
I've updated the contents of `config.ts` to better describe `ignoreUrls`.

[2017-10-18 14:16] amsibamsi commented on #574
Thanks a lot!

[2017-10-20 17:05] istraub commented on #566
So I stumbled on this thread last night, as we recently injected some async/await usage into a project and tracing that had been working went away...  Our containers (running in GKE) were already running node 8.6, so I quickly redeployed into our QA environment with the GCLOUD_TRACE_NEW_CONTEXT env set and whoot, we have trace details again....  Not sure if you are still needing feedback before ro

[2017-10-20 17:49] kjin commented on #566
@istraub Glad to hear that! At this point feedback like this is super valuable to us, so thank you for your input!

[2017-10-24 08:08] julienvincent opened #582 "Support for mysql2"
I have built a plugin that adds support for the [node-mysql2](https://github.com/sidorares/node-mysql2) module. Its based heavily on the existing `mysql` plugin in this repository and only required a few minor changes.

Is this something that GoogleCloudPlatform would like to consume and maintain, or should I publish it separately as a third party plugin? I will be happy to submit a PR if the form

[2017-10-24 21:57] kjin commented on #582
We would be happy to see a PR opened for this! Given that the changes are minor, it doesn't sound like it would require much additional maintenance.

[2017-10-24 21:59] kjin commented on #571
We've expanded the restify supported semver range to <=6 in the new release (v2.3.0)... please give it a try and re-open this issue if there are any problems.

We'd also greatly appreciate feedback on `GCLOUD_TRACE_NEW_CONTEXT` (from #566) if you are using it!

[2017-10-24 21:59] #571 closed

[2017-10-25 22:23] greenkeeper[bot] opened #583 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2017-10-28 00:42] kjin opened #585 "Trace Agent won't work with gRPC 1.7"
The Trace Agent will crash when trying to start with gRPC 1.7 (not the pre-release). We're hoping to get a fix out before it's released.

cc @murgatroid99 (FYI)

[2017-10-31 01:06] #585 closed

[2017-11-01 01:03] kjin opened #589 "https.request doesn't work in Node 8.9+"
Context: https://github.com/nodejs/node/pull/16395

[2017-11-10 14:53] codyzu opened #593 "koa async await child spans not working"
We just activated this in our project and we have 1 root span per request and no child spans in our trace... resulting in 1 span for an entire request.

I did some debugging to attempt to understand the problem by using the `traceApi` to create a child span in our first koa middleware. The result is always null (this is the same result the `pg` plugin gives). Enabling the logLevel 4, I see:
* `WAR

[2017-11-11 00:06] kjin commented on #593
I was able to reproduce this -- this is a bug in our code. Thanks for bringing this to our attention, I'm opening a PR to fix this shortly.

[2017-11-11 08:48] codyzu commented on #593
Excellent! I spent some time trying to understand the bug to try to give you a better report. I did not determine if the issue is in the koa plugin or in `cls-ah.js`. It seems to change the context after setting the root span, but before calling the first middleware (more or less "undoing" the `api.wrap` call).

Let me know if I can do something to help. Thanks!

[2017-11-13 03:53] #589 closed

[2017-11-14 00:21] #593 closed

[2017-11-14 01:41] kjin commented on #593
@codyzu I just released 2.3.2, please give it a try. Any feedback on how well it works for you (especially revolving around the `GCLOUD_TRACE_NEW_CONTEXT` environmental variable) would be very helpful for us, so please don't hesitate to file additional issues if they come up.

Just as a fore-warning, while I investigating this I found that tracing koa 2 + got 7 might yield strange results (I think

[2017-11-14 14:22] codyzu commented on #593
Great! This is now working for us (and super insightful). We use `request-promise` rather than `got`, so it looks good for now.

[2017-11-14 22:19] ofrobots commented on #566
@AdriVanHoudt we're wondering if you have had a chance to experiment with the async-await support in this library now that hapi17 is also out. Before enabling by default, we want to ensure we have as much real world feedback as possible.

[2017-11-14 22:20] ofrobots commented on #565
I am closing this issue, as I believe it has been answered. Please add a comment if that is not the case.

[2017-11-14 22:20] #565 closed

[2017-11-14 22:21] ofrobots commented on #583
Greenkeeper has been enabled.

[2017-11-14 22:21] #583 closed

[2017-11-14 22:22] ofrobots commented on #544
I am closing this issue, as I believe it has been addressed. Please add a comment if this is still and issue.

[2017-11-14 22:22] #544 closed

[2017-11-15 08:36] AdriVanHoudt commented on #566
Not yet sorry, I will probably have time by the end of the year to really experiment, deadlines and such :D

[2017-11-15 11:01] julienvincent commented on #582
@kjin Sorry for the late response. As the changes I made to the original `mysql` plugin are so minor, I am wondering what the best approach here would be.

It feels a little dirty to create a whole new plugin that duplicates 98% of the `mysql` plugins code, however as plugins modules are declared with `module.exports = [ ... ]` its difficult to import shared code from other plugins (not that you w

[2017-11-15 18:12] kjin commented on #582
That's a valid concern, esp. given that `mysql` and `mysql2` have very closely resembling public APIs -- and under different circumstances a shared JS module makes the most sense. However, I'd still prefer to keep the plugins independent, because it's nice to have each module's corresponding monkeypatches summed up into a single file. It helps reduce the barrier to entry for other users that also

[2017-11-15 18:13] kjin commented on #582
As a note regarding a PR -- as you've probably noticed we switched to using TypeScript for our codebase. However, the plugins have yet to get typed, so they are really still just vanilla JS. So feel free to work based on `plugin-mysql.ts` as if it were a JS file, and upload `plugin-mysql2.ts` also as if it were pure JS. The only difference is the superfluous `export default {};` at the end of the

[2017-11-15 18:29] kjin opened #600 "got@7 behavior changes when being traced"
The `got` module (at version 7) doesn't response body decompression when `http` is patched by the Trace Agent. We are working with a few dependency modules to resolve this -- in the meantime, if you observe this behavior, please try got@6 or ignore incoming URLs that trigger outgoing HTTP requests through got (or, as a more heavy-handed approach, disable the http plugin entirely with the config op

[2017-11-15 18:31] kjin commented on #566
@ofrobots hapi 17 doesn't work out of the box, I need to add support for it. I'll open a separate issue to track this.

[2017-11-15 18:47] kjin opened #601 "Support hapi@17"
This issue tracks support for hapi 17 tracing.

[2017-11-17 01:54] caseyduquettesc opened #603 "Adding trace agent uses all of heap"
trace-agent is the only package using "lodash.merge"

I'm using node 8.9.1, latest trace agent, running on appengine flex env.

[code]

[2017-11-17 22:51] kjin commented on #603
We only use `lodash.merge` in http tracing, where we copy the request options object. We don't keep a handle to this object.

I'm not extremely familiar with out-of-memory errors, but playing around with object allocations locally, I found that the place where the heap runs out of memory is sensitive to the program structure and amount of memory given to the Node process in the first place. For ex

[2017-11-17 23:07] caseyduquettesc commented on #603
We are definitely leaking memory already :) But it's never the heap that fails, we have 4GB VMs and the process runs fine up until that 4GB and then appengine restarts the VM. We have never seen a limit of 1.5GB before we installed this module and never have seen a heap out of memory error, even when we do "run out of memory". I suspect appengine somehow sees us approaching the VM limit and restar

[2017-11-18 01:14] ofrobots commented on #603
Just a quick note, please don't post a heap-dump publicly, as it will likely contain sensitive information from your app.

[2017-11-20 19:55] kjin commented on #603
@caseyduquettesc Does your app make a sizable number outgoing HTTP requests? The HTTP tracing plugin is the only place in the Trace Agent using `lodash.merge`: https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/blob/10ed0edb74f993f45b095de33a224376931fd88c/src/plugins/plugin-http.ts#L65-L71 I wouldn't expect an HTTP options object to have circular references, but either way, `lodash.merge`

[2017-11-20 21:48] caseyduquettesc commented on #603
I suppose you could say we make a high number of outgoing http requests, there's at least two per incoming request, one to fetch access token info, and another to an internal authorization service. There's a third outgoing request that we sort of proxy, so that could potentially be a large request, some high outliers are around 100KB, but the average is closer to 200B.

I've tried running a versio

[2017-11-20 22:10] vmarchaud commented on #603
Don't know if related but i add kinda the same issue with a forked version of the agent (which do not modify the plugins or the API itself), i reproduced a leak when i used `request` to made 3rd party http calls inside a middleware (i might have few heapdumps around if you want), and for a unknown reason it doesn't leak with the core `http` client.

[2017-11-22 14:11] evanlucas opened #606 "Some spans are being incorrectly nested"
Versions:

* node: `v8.9.1`
* trace-agent: `v2.3.0`

We are currently using the async_hooks based tracing and are occasionally getting mixed spans.
We have a custom implemented tracing plugin for couchbase and have a normal progression that contains 4 different operations (getAndLock, update, insert, replace) for this endpoint. They generally are all associated with the same http request.

Normall

[2017-11-24 19:28] kjin commented on #603
@caseyduquettesc @vmarchaud Thanks for the info -- I haven't tried using request-like libraries with the Trace Agent in looking into this issue. I'll try it and get back to you shortly.

[2017-11-27 13:05] julienvincent commented on #582
I'm being pretty terrible at replying here. Sorry again.

I also agree it makes more sense to keep the plugins separate from one another. Having plugins depending on plugins just creates 'plugin hell'.

In regard to sharing code, I am not really sure of what the best approach would be. I can think of two possible ways, but I don't really like either of them.

#### Helpers
Provide a collection of g

[2017-11-27 14:36] ofrobots commented on #603
@caseyduquettesc If you're using Node 6 or 8, there is a new low-overhead heap profiler you can use: https://www.npmjs.com/package/heap-profile. Would it be possible to run with this profiler (for a couple of hours) and see if the profiles show the leak and the cause.

The generated profiles contain stack traces, but no contents of the objects themselves, so these are more suitable for sharing.

[2017-11-28 16:54] kjin commented on #606
Thanks for reporting this -- please keep us updated when you discover a reproducible scenario!

[2017-11-28 17:56] ofrobots commented on #606
We're trying some applications of our own as well, but if anyone has a repro is available, that would be quite helpful. Thanks!

[2017-11-29 17:59] jinwoo opened #614 "`npm test` sometimes stops at `init-test-fixtures`"
In a normal case, `init-test-fixtures` must `npm install` or print `Skipping npm install...` for each fixture. But sometimes it just exits right after printing `> Running step: init-test-fixtures`.

[code]

[2017-11-30 03:13] jinwoo opened #617 "hapi unit tests are flaky"
While running tests for a PR that is unrelated to hapi, its unit tests are frequently failing.

[2017-11-30 19:23] kjin commented on #617
Addendum -- this isn't related to hapi itself, just that we test so many versions of it (8 - 16)

[2017-11-30 22:05] kjin opened #618 "Plugin loader doesn't support circular requires"
In mysql2, `lib/pool.js` and `index.js` require each other. This causes an issue when the former is patched (like in #607), as the result of `require('lib/pool.js')` is an uninitialized placeholder object.

[2017-12-01 19:49] kjin commented on #600
This has been fixed for default usage of the Trace Agent in #610 (upgrading to `continuation-local-storage@3.2.1`).

[2017-12-01 23:15] #600 closed

[2017-12-01 23:18] jinwoo commented on #614
I was looking into this today but can't reproduce this anymore. This happened quite often the day when I filed this, but not today. I suspect there's something weird going on in the `glob` function: https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/blob/master/scripts/init-test-fixtures.ts#L13, but I can't to anything because it's not reproduced.

Closing for now.

[2017-12-01 23:18] #614 closed

[2017-12-02 00:02] kjin commented on #572
Ping @sanderploegsma

Please let me know if you can provide any more information. Thanks!

[2017-12-04 21:55] kjin opened #620 "Koa route path labels are likely never applied"
The Trace Agent [expects](https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/blob/f1ca3a39e101c3b5a5a858e2a2a2c42549dbeb67/src/plugins/plugin-koa.ts#L59) the Koa route path to exist in `ctx.req.route.path`; however, neither Koa nor `koa-router` write to this field.

[2017-12-08 19:24] kjin opened #622 "Make Trace Agent an Event Emitter"
We should explore the possibility of making the Trace Agent an event emitter. There are certain asynchronous events (namely auth, obtaining project ID, writing traces) for which it would be nice to add custom hooks. This would at the very least help with testing, as it would potentially eliminate the need for setTimeout calls.

[2017-12-18 01:08] steren opened #626 "Frequent `socket hang up` errors"
Since I set up Stackdriver Trace using this Node module, some new errors appear regularly in Stackdriver Error Reporting.

The worst is that they are not all grouped together, as they do not seem to all have the same stack trace.

Here are examples of stack traces:
[code]

[code]

[2017-12-18 20:12] ofrobots commented on #626
In what environment did you encounter these errors?

[2017-12-18 20:16] steren commented on #626
App Engine Flex.

[2017-12-19 19:01] ofrobots commented on #572
I believe the issue was due to a leak induced by `google-gax` which is a dependency of other Google Cloud API client libraryes. I believe that has been released now, so this should no longer be a problem. Please reopen if it still is a problem.

[2017-12-19 19:01] #572 closed

[2018-01-02 23:34] ofrobots commented on #603
Folks, a repro, heap profiles or heap dumps would be nice in helping us understanding the issue. If there is any more info, please share.

[2018-01-03 10:26] vmarchaud commented on #603
That was the sample i wrote at the time that reproduced the leak (already 6 month old), dunno if it still happen with the current version :

[code]
If i put load on the `/` endpoint like this :
`wrk -c 100 -t 2 -d 10 http://localhost:8080/`

My process take up to 600M of RAM after few seconds and the GC doesn't clear up some objects
Then if i put the load on the `/noLeak` endpoint, i got at maximu

[2018-01-03 23:23] ofrobots commented on #603
@vmarchaud Thanks! I believe there is a flaw in your test case. The default handler is making requests but the callback signature is wrong. This means that all outgoing request streams have nothing reading from them, which would leak memory. I am including a correct handler functions below.

With the copy of the code as you provided, here's what the memory usage looks like after a few minutes of l

[2018-01-04 18:32] baronfel commented on #603
I think I'm running into an issue around ever-growing heap as well after upgrading from 2.3.1 to 2.3.3.

I'm running an Express API on Google Kubernetes Engine running k8s 1.6.11.
The Node version is 8.9
I'm using Express/Redis/MySQL trace agents.

I've got heap snapshots showing a `Trace` object with a `spans` array containing 286k spans in it after a couple days of continuous use.

After reverti

[2018-01-04 18:35] ofrobots commented on #603
@baronfel thanks! that is useful info, and sounds like a problem. Thanks for narrowing down the version range. Can you clarify one thing: earlier in your comment you mention 2.3.3 but later you show a screenshot with 2.3.2. I am guessing one of these is a typo. Is 2.3.2 the first version you see a regression with?

[2018-01-04 18:38] baronfel commented on #603
My mistake, I typoed. 2.3.3 definitely showed the regression, and the heap snapshot is from that version. I'm hypothesizing the problem was introduced in 2.3.2 because of the change to how 'http' was wrapped. No strong suggestions, just a guy feeling. 2.3.3 looked comparatively minor in comparison.

[2018-01-04 18:57] ofrobots commented on #603
@baronfel thanks! Yeah, 2.3.3 is relatively minor.  A few more questions: you mentioned that you are using Node 8.9. Which one precisely between 8.9.0 - 8.9.4?

My theory is that somehow there is context loss. As a result of that all your RPCs *appear* to correspond to an incorrect request. To confirm this theory, can you run with the `logLevel` raised to 2 or above. See
https://github.com/GoogleC

[2018-01-04 19:05] baronfel commented on #603
Sorry again, I was wrong on the node version. It's 8.8.11. Also updated the comment to reflect that.  I can see about raising the logging level, but we're sorta in an OMG MAKE IT WORK mode :)  I should be able to try the log level thing later today.

[2018-01-04 19:29] baronfel commented on #603
That's an interesting observation: I haven't changed the logLevel yet, but I'm looking at all these stored spans and all of the first 100 belong to the same parentSpanId, despite being a) all `mysql` traces and  b) across more than an hour span.

[2018-01-04 19:50] baronfel commented on #603
That's exactly the case, @ofrobots!

<img width="1001" alt="image" src="https://user-images.githubusercontent.com/573979/34581476-1e6c21aa-f156-11e7-971d-8102b043b142.png">

I'm seeing that log message all over my updated app, running 2.3.3.

[2018-01-04 20:11] ofrobots opened #632 "Context confusion with v2.3.2"
**Originally reported by @baronfel in https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/issues/603#issuecomment-355361405.**

It seems that with version 2.3.2 of this library, we see some context confusion that was causing the memory leak in #603. While the leak can be mitigated in #631, we still need to figure out the root cause for the confusion.

[2018-01-04 20:12] ofrobots commented on #603
I've implemented a mitigation in https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/pull/631. We can hopefully get this released soon. The issue still to be investigated is what is causing context confusion in your app in the first place (I'm extracting this into a standalone issue: #632). We'll be looking at the delta in 2.3.2 in detail to see if can figure this out completely from the cod

[2018-01-04 22:50] #603 closed

[2018-01-09 17:43] stephenplusplus opened #638 "Let users provide Project Id via GOOGLE_APPLICATION_CREDENTIALS"
###### Copied from original issue: https://github.com/GoogleCloudPlatform/google-cloud-node/issues/2787

<a href="/JustinBeckwith"><img src="https://avatars2.githubusercontent.com/u/534619?s=88&v=4" height=44 width=44 align=left></a>@JustinBeckwith<br>January 8, 2018 9:58 PM

Today in cloudcats I am providing the ProjectId via the PROJECT_ID env var.  I also have to provide a keyfile, which I was

[2018-01-09 17:43] stephenplusplus commented on #638
###### _January 8, 2018 10:02 PM_

We should already be doing that (via google-auth-library). I’m not sure of the code path that is throwing those errors— looks like trace-agent is unable to find the ID. I can dig in, but quick long to @ofrobots in case he knows what might be going on.

[2018-01-09 17:43] stephenplusplus commented on #638
<a href="/ofrobots"><img src="https://avatars2.githubusercontent.com/u/79017?s=88&v=4" height=44 width=44 align=left></a>@ofrobots<br>January 8, 2018 11:22 PM

@JustinBeckwith do you mind opening the issue against https://github.com/GoogleCloudPlatform/cloud-trace-nodejs? It seems that the logic is missing from there.

[2018-01-10 20:01] kjin commented on #638
Despite what google-auth-library does we are also storing the project ID for our own purposes as well, so it makes sense that this doesn't work. I'll look into it

[2018-01-10 20:56] kjin commented on #638
How's this for an order of precedence when it comes to Project IDs:

1. `process.env.GCLOUD_PROJECT`
1. `traceConfig.projectId`
1. `traceConfig.credentials.project_id` [1]
1. `fs.readFileSync(traceConfig.keyFile).project_id` [1] [2]
1. `fs.readFileSync(process.env.GOOGLE_APPLICATION_CREDENTIALS).project_id`[3]
1. `fs.readFileSync(WELL_KNOWN_ADC_LOCATION).project_id` [4]
1. from metadata service

[

[2018-01-10 20:58] ofrobots commented on #638
The comment you linked to in the last sentence seems out of date with the code. See https://github.com/google/google-auth-library-nodejs/blob/771bc6cdcf56f7d5e0b3a754c28190476251d6f6/src/auth/googleauth.ts#L571

[2018-01-10 23:01] evanlucas opened #639 "Seeing performance issues with higher outbound http client requests"
This is on node 8.9.4 and `@google-cloud/trace-agent@2.3.3`

7.2% seems a bit high to me?

The top of the JavaScript portion of the cpu profile looks like this:

[code]

I'm *thinking* it is coming from https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/blob/38d4673e433bc1ae156bf9d962c767ca0703ef7f/src/plugins/plugin-http.ts#L68 but could be wrong. I don't have it narrowed down to a reprodu

[2018-01-10 23:35] ofrobots commented on #639
Thanks for reporting the issue – we'll take a look. Is there any chance for you to try 2.4.0?

[2018-01-10 23:41] evanlucas commented on #639
Thanks for the quick response @ofrobots! I'll try 2.4.0 either tonight or tomorrow. I also just tried disabling the agent and performance *immediately* is no longer an issue. That could be due to a lot of other things though, so I'll try 2.4.0 and report back

[2018-01-11 14:27] evanlucas commented on #639
I should have probably noted also that we are using the environment variable to use async_hooks as for context propagation as well, so some of the performance issues could be stemming from that as well.

[2018-01-12 21:56] #639 closed

[2018-01-12 21:57] kjin opened #644 "HTTP/2 client tracing doesn't work in Node 9.4"
Breaking changes in http2 module: https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V9.md#9.4.0

EDIT: As @jinwoo pointed out, it actually does and it's only the test that's failing.

[2018-01-12 21:58] kjin commented on #644
@jinwoo FYI

[2018-01-12 21:58] kjin opened #645 "Set up cron job on CircleCI"

[2018-01-12 21:59] jinwoo commented on #644
@kjin Do you know exactly which change broke this? Is it https://github.com/nodejs/node/pull/17406?

[2018-01-12 22:17] kjin commented on #644
Yep -- seems like this exactly: https://github.com/nodejs/node/pull/17406/files#diff-696b2cc418addca5f3fe5020058f8b15L1406

Example of failing change: https://circleci.com/gh/GoogleCloudPlatform/cloud-trace-nodejs/1275

[2018-01-12 22:23] jinwoo commented on #644
Could be just a testing problem. `rstWithInternalError()` is used from one of the tests: https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/blob/182c0cbc6fe7990c2e59206b6087c9d95f428f7b/test/plugins/test-trace-http2.ts#L221

[2018-01-12 23:50] kjin commented on #644
Yes... I should have realized that `rstWithInternalError` could only be in a test. Thanks for looking into this

[2018-01-16 18:10] kjin opened #650 "Reported stack trace differs between async_hooks- and CLS-based tracing in Node 8+"
Unit tests currently assume that async_hooks-based tracing is enabled for Node 8+. When CLS-based tracing is used instead, the number of stack frames reported differs by one. Curiously, in Node 4 and 6 this is not the case, despite using CLS-based tracing by default (as async_hooks isn't available).

[2018-01-16 18:33] kjin commented on #644
"Fixed" in #648

[2018-01-16 18:33] #644 closed

[2018-01-20 01:30] #645 closed

[2018-01-20 16:41] chrisalexander55 opened #656 "Create New Spans In gRPC Server RPC Methods"
Hi Everyone,

I am trying to create additional trace spans inside my gRPC rpc methods. I reviewed the API docs and examples but have not seen any firm guidance or working implementation. When I do call trace#createChildSpan, a null is returned. What am I doing wrong here? Here is an abbreviated code block from my server.js file:

`const traceApi = require("@google-cloud/trace-agent").start({
  pro

[2018-01-22 17:42] dav-is opened #657 "Environment Variables not being loaded on built server?"
Environment variables are loaded if I add them into the package.json scripts, but if I use the files they are never defined...

[2018-01-22 17:43] dav-is commented on #657
lmao I just realized I switched the wrong Github tab and meant to post this in a different repo :fearful:

[2018-01-22 17:43] #657 closed, assigned to dav-is

[2018-01-22 21:17] kjin commented on #656
I think I was able to reproduce this with Node 8 + `async_hooks` tracing, and gRPC 1.6 (I don't expect the gRPC version to matter, though). Would you be able to provide the following details?

* Node version, and whether `GCLOUD_TRACE_NEW_CONTEXT` is set as per [notes on tracing for async/await](https://github.com/GoogleCloudPlatform/cloud-trace-nodejs#tracing-with-asyncawait)
* Any warning messag

[2018-01-22 21:23] chrisalexander55 commented on #656
Sure, give me a few hours to get back to my PC.

On Mon, Jan 22, 2018 at 4:17 PM Kelvin Jin <notifications@github.com> wrote:

[2018-01-23 00:21] #620 closed

[2018-01-23 05:02] chrisalexander55 commented on #656
Node: 8.8.1
@google-cloud/trace-agent: 2.3.3

I did not set GCLOUD_TRACE_NEW_CONTEXT=1 when executing my node app. I will sit down with this tomorrow night when I can dedicate real time to validate your emerging fix to methods utilizing async/await, which I heavily leverage. Thanks!

[2018-01-23 18:10] kjin commented on #656
Ok, thanks for the info! If you're using untranspiled async/await (or rather, since you're using TypeScript, targeting `es2017`) then setting `GCLOUD_TRACE_NEW_CONTEXT` should help (we are looking for feedback, so any reports of how well it works would be extremely helpful). That being said, my initial repro already had `GCLOUD_TRACE_NEW_CONTEXT` set, so the bug it probably something else. I'll se

[2018-01-24 01:16] kjin opened #659 "`async_hooks`-based tracing doesn't work in cluster"
[code]

Multiple `curl localhost:8080` commands lead to the following warning messsages after the first request:

[code]

This is not observed when the app is run in a single process, and is probably as a result of how forked instances have different behavior when listening on a port.

[2018-01-24 03:18] mrene commented on #656
I have a similar issue (node 8.9.4, async/await with `GCLOUD_TRACE_NEW_CONTEXT`, grpc 1.7.3 server) - I get valid traces for the first call and then I start seeing `grpc: Cannot create nested root spans.`
I then added some more tracing inside my own methods and I started seeing `Custom Span API: creating child for an already closed span ... grpc:/...`. After a while, when the traces get pushed, I

[2018-01-24 04:32] mrene commented on #656
It seems the `AsyncHooks` embedder's api hasn't landed in NAN yet (nodejs/node#13254) so a JS fix is the only possible option.

I've got a hacked up version of the plugin to validate the entire hypothesis and it patches the problem.

I'd like to get some of your opinions before opening a PR, got some comments/questions here:

- Copying the current context from `init` might not be the right thing,

[2018-01-25 00:18] kjin commented on #656
@mrene Thanks for investigating the `async_hooks`-based tracing issue! Please go ahead and open the PR.

I've been thinking through the observations you had, here are my thoughts so far:

Copying the current context in `init` is necessary to preserve it across asynchronous boundaries. Maybe I'm misunderstanding what you're saying?

I think you were correct in creating a new `AsyncResource` for eac

[2018-01-25 02:42] kjin commented on #656
@mrene After looking into it more, I believe your reasoning is correct that `after` should be implemented to reset the previous context.

I'll open a PR to implement `after` soon-ish, probably tomorrow, and gRPC server tracing should just work (with NEW_CONTEXT-based tracing, at least) without need for additional changes to the plugin. That being said, it might still make sense for you to open a P

[2018-01-25 03:56] mrene commented on #656
I mean `init` shouldn't be constructed as `before` - the runtime isn't switching to it yet. one of its argument is the `triggerAsyncId`. I agree that the context should be copied, just that it should be copied from `contexts[triggerAsyncId]` rather than the `context` global var being set at that moment. (In most cases those will be the same but it's possible to pass another parent in the async_hoo

[2018-01-25 04:20] chrisalexander55 commented on #656
@kjin, Sorry I'm getting back to this a day later... I execute my node.js app using the README.md reference above. Unfortunately, it didn't work and generated the following stdout:

(node:17037) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): TypeError: Cannot read property 'endSpan' of null
(node:17037) [DEP0018] DeprecationWarning: Unhandled promise rejections ar

[2018-01-30 17:49] kjin commented on #656
@chrisalexander55 Sorry for the late reply. I think what you and @mrene are experiencing are separate issues, as you were originally not using `GCLOUD_TRACE_NEW_CONTEXT`, and the earlier discussion concerned the new behavior associated with it.

It's possible for `createChildSpan` to return `null` even if gRPC server tracing is working correctly; this might happen if you are receiving requests at

[2018-01-30 18:05] chrisalexander55 commented on #656
@kjin, not a problem - we all have multiple items on our plates. I did add `GCLOUD_TRACE_NEW_CONTEXT=1` to my node execution and set trace config `logLevel: 1`, still observing the `null`. I will take your suggestion and add the `if (span) {}` and report the result this evening EST.

[2018-01-30 21:31] kjin commented on #656
@chrisalexander55 Thanks!

@mrene I've been doing some thinking about this but I don't want to confound this with the null span issue. I'm going to move our discussion to a separate tracking issue as they're fairly distinct.

[2018-01-30 21:35] kjin opened #661 "async_hooks-based tracing doesn't work for gRPC server (in Node 8)"
From #656

@mrene wrote:

@kjin wrote:

@mrene wrote:

[2018-01-31 21:39] BenCrux commented on #601
@kjin anything I can do to help with this effort?

[2018-01-31 21:53] kjin commented on #661
@mrene I'll submit a PR to support `async_hooks` in gRPC; I think that's the best way to ensure that it will work for tracing. As for the rest, I'm still actively experimenting with getting a more correct/cleaner approach to tracing with async_hooks.

[2018-01-31 22:16] kjin commented on #601
@BenCrux Yes! A PR would be greatly appreciated. The [Hapi tracing plugin](https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/blob/master/src/plugins/plugin-hapi.ts) currently goes up to 16.

As hapi 17 types aren't released yet ([tracking issue](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/20670)), you can modify `plugin-hapi.ts`, and remove [this line](https://github.com/Goog

[2018-02-01 10:53] LennartKloppenburg opened #662 "Broken references to config.js"
There are some references to `config.js` that no longer work, because the reference is now `src/config.ts`.

Examples: `README.md` lines 73, 130, 167 and 173.

[2018-02-01 15:20] mrene commented on #661
Are you also looking at creating a new async resource id for every span or is this another topic?

[2018-02-02 20:22] kjin commented on #662
Thanks for the catch!

[2018-02-05 12:04] henryoliver opened #664 "Koa deprecated Support for generators"
Hey guys!

I'm a paid user for the Google cloud platform and love it.

Could you guys please update the driver for koajs? I start to get the following warning:

`Mon, 05 Feb 2018 11:47:29 GMT koa deprecated Support for generators will be removed in v3. See the documentation for examples of how to convert old middleware https://github.com/koajs/koa/blob/master/docs/migration.md at node_modules/@goo

[2018-02-05 13:30] #662 closed

[2018-02-05 13:35] ofrobots commented on #659
@kjin do suspect an issue in cluster, in async-hooks or in this library? (Can you start adding triage labels to issues to help make issue status clearer?)

[2018-02-05 13:37] ofrobots commented on #656
@chrisalexander55 were you able to try out `if (span) {}`?

[2018-02-05 15:49] kjin commented on #664
The Trace Agent doesn't prepend generator functions for Koa 2. I think what's happening is that the warning message shows the top line of the stack trace when `Koa#use` is being called. Because the Trace Agent wraps this function, it altered the stack trace to add an extra frame to the top as you've observed.

I would expect that when turning off the Trace Agent (by removing the call to `start`),

[2018-02-05 15:52] kjin commented on #659
The issue is in Node core; async_hooks doesn't properly wrap incoming HTTP requests in a cluster worker as far as I can tell.

[2018-02-05 16:58] kjin commented on #661
Adding a new async resource ID is only necessary in lieu of async_hooks integration for modules like gRPC which bypass networking within Node.js. Given that `async_hooks` support lands for gRPC (see: https://github.com/grpc/grpc-node/pull/169) I don't think this is necessary at the moment, given that it potentially adds significant overhead/ code complexity.

You also mentioned using triggerID by

[2018-02-06 04:06] chrisalexander55 commented on #656
Out of town and no laptop until Thursday - argh!!

On Mon, Feb 5, 2018 at 8:37 AM Ali Ijaz Sheikh <notifications@github.com>
wrote:

[2018-02-07 21:15] paulirish opened #667 "commitlint bot setup but lacking permission"
my [commitlintbot project](https://github.com/paulirish/commitlintbot) is set up for this repo.  i think @ofrobots added the webhook to the settings?

however it can't post to a PR's status API because the bot [doesn't have permission](https://github.com/paulirish/commitlintbot#installation).

screenshot from my server logs:
![image](https://user-images.githubusercontent.com/39191/35941859-98ae3ea

[2018-02-13 03:10] henryoliver commented on #664
Hi @kjin thanks for your explanation, really appreciate that! But, could you be a little bit more detailed? How could I start the monitor in my Koa2 application without getting this warning? Any code example would be very helpful.

Below is how I currently call the monitor in my application:
[code]

Getting the message:
`koa deprecated Support for generators will be removed in v3. See the document

[2018-02-13 17:41] kjin commented on #664
Sure, what I mean is that I suspect you will get a warning even if you comment out the code above. Here's a code example: https://gist.github.com/kjin/e1b9ddcf4360adbdef2e11b939d6a6f2

[2018-02-13 22:23] henryoliver commented on #664
Can I use the agent without a generator function, since I'm using Koa2? Thanks

[2018-02-15 19:06] kjin commented on #664
Yes, you can! The example shown was just for the sake of showing how the warning changes depending on whether the Trace Agent is started or not.

[2018-02-17 21:23] chrisalexander55 commented on #656
Within a RPC method body, I can successfully create a span but calling span#endSpan AFTER invoking an await method call, the span throws with `TypeError: Cannot read property \'endSpan\' of null`. So it continues to be a defect, at least in my hands. I'm open to any guidance you can provide.

[2018-02-19 19:02] kjin commented on #664
@henryoliver Were you able to verify whether the warning message comes from use of generators external to the Trace Agent?

[2018-02-20 01:23] kjin commented on #656
@chrisalexander55 Thanks for the update! Do you have sample code that you can provide?

[2018-02-20 01:31] chrisalexander55 commented on #656
`
// import { traceApi } from "../server";

  public async addCampaign(call: any): Promise<Object> {
    // 1. type lookup exist?
    // const spanDoesLookupUuidExist = traceApi.createChildSpan({
    //   name: "LookupController#doesLookupUuidExist"
    // });
    const boolMsg1 = await this._lookupCntrl.doesLookupUuidExist(call.request.typeUuid);
    // spanDoesLookupUuidExist.endSpan();

    //

[2018-02-21 17:03] kjin commented on #656
Try `if (span) { span.endSpan(); }` or `span && span.endSpan()` -- since `span` can be null due to sampling. (If it still doesn't work for you let us know.)

Given the verbosity of doing so, I'm going to use this as a tracking bug to change behavior so that the Trace Agent always returns non-null spans.

[2018-02-22 01:01] BenCrux commented on #601
Thanks @kjin! I started looking at this and do have it working in a handcrafted way. One thing that I had to do was change the AsyncHooksNamespace (cls-ah.js) not to reset 'current' in runAndReturn. I didn't really understand why it was doing that. Since runAndReturn is used in the runInRootSpan and that's when the root span is saved to cls, so it never gets persisted and you can never create chil

[2018-02-22 01:18] kjin commented on #601
Great! I've actually started work to change the plugin system to allows multiple plugins for a single module, which should help (because that way we can use different type definitions for different plugins).

It's true that the root span is associated with `current`, which gets unset when `runAndReturn` is done running. This is OK since we would expect the code that runs in `runAndReturn` to start

[2018-02-22 21:16] BenCrux commented on #601
Ah ok - makes sense, thanks! I think the problem I'm butting up against is that I'm using a lifecycle method in hapi; `server.ext('onRequest', ...` this just returns and the initial request continues processing, so no async code is run with in the function passed to `runInRootSpan`. Now I think about it, the method naming makes sense for what it's doing. Given that - is there a better way to start

[2018-02-23 18:31] bshaffer opened #675 "Configuring Project ID is a bit confusing"
I received the following error even though `GOOGLE_PROJECT_ID` was set as an environment variable. I assume it’s because a project NUMBER is requested, but the error message does not explain which environment variable should be set.

[code]

So there are two issues here:

1. The `GOOGLE_PROJECT_ID` environment variable should work to configure the project ID in the config
2. The error message shou

[2018-02-23 18:37] kjin commented on #675
We support `GCLOUD_PROJECT` being read from the environment. I can't find any Google-backed documentation for the usage of `GOOGLE_PROJECT_ID` -- if you have a source please let us know.

It's true that the error message is somewhat outdated (and a little unclear) -- thanks for bringing this to our attention!

[2018-02-23 18:43] bshaffer commented on #675
Thank you for your quic response, `GCLOUD_PROJECT` works great!

So then my only ask is to make the error message use "project ID" instead of "project number" and identify `GCLOUD_PROJECT` as the env var.

[2018-02-23 19:19] kjin commented on #601
If I understand the lifecycle flow in Hapi correctly, what you're saying is that you'd be specifying multiple handlers for a single request, and the handler in which asynchronous work is being done may not be in the `'onRequest'` ext handler which is patched to be run in a root span -- is my understanding correct?

The existing model for ending root spans is to find the raw `response.end` function

[2018-02-26 00:44] chrisalexander55 commented on #656
Thanks Kjin. Please let me know when the non-null span implementation is complete as I really don't want to pollute my code with conditional statements that only be necessary for a few months.

[2018-02-27 01:34] BenCrux commented on #601
Yes that's correct. It's my understanding that the `onRequest` ext handler it just a lifecycle method - ie, it get's called when a request is made, does it's thing and then returns control to hapi to actualy service the request. Therefor, no actual async processing is started from there - with the exception of registering an `endSpan` call on `response.end`. Storing data on the request parameter s

[2018-02-27 02:09] kjin commented on #601
You can store a bound function on the `request` object as follows:

[code]

This might seem a bit of a hack, but I believe it may only be possible to do away with storing an extra property on the request object if we're monkeypatching at a lower level where the request object is actually being passed to these functions (just a thought -- it might not be worth the extra brittleness of doing so)

[2018-02-27 21:36] #617 closed

[2018-03-01 23:47] kjin commented on #650
Fixed in #658

[2018-03-01 23:47] #650 closed

[2018-03-02 00:10] kjin commented on #664
@henryoliver Closing this for now. Please comment if this doesn't work for you.

[2018-03-02 00:10] #664 closed

[2018-03-05 19:52] evanlucas opened #684 "Error is occasionally thrown when using aws-sdk and this package"
We currently are getting an error that looks like this:

[code]

What appears to have actually thrown is https://github.com/aws/aws-sdk-js/blob/master/lib/http/node.js#L42-L52. Line 120 of the plugin-http.js is https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/blob/master/src/plugins/plugin-http.ts#L142-L144. It looks like this happens when http.request() returns undefined. Being that http

[2018-03-05 23:41] kjin commented on #684
Thanks for bringing this our attention! Looking at the code in question it seems odd that the `TypeError` is being thrown on line 43 but not line 54, where `stream.didCallback` is being assigned -- suggesting that either (1) `stream` is being set to undefined elsewhere, or (2) `request` was modified to run the callback synchronously. We don't introduce any synchronous invocations of the callback,

[2018-03-08 21:34] evanlucas commented on #684
Yea, I'm not sure how it could be possible for this to happen, but it is only happening when we have this tracing package enabled. I'm still trying to find more information.

[2018-03-15 18:46] kjin commented on #601
Hi @BenCrux, do you have an update on this?

If you've been busy but have any partial work done I'd be happy to take it from there 😁

[2018-03-15 21:26] BenCrux commented on #601
Hi @kjin - yeah we got it *I think* working, happy to share what we did - I'm not sure it's 100% correct. We are basically monkey patching the hander.execute method in a hapi plugin:

`// Ported from Google's HAPI plugin:
// https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/blob/54dd734/src/plugins/plugin-hapi.ts
const traceApi = require('@google-cloud/trace-agent').get();
const urlParse =

[2018-03-15 23:17] ofrobots commented on #601
@BenCrux would you mind opening a PR with what you have? We can add onto the PR, but having a PR will ensure that the commit gets credited back to you and also to ensure we have the right CLAs in place to accept your contribution.

[2018-03-15 23:32] BenCrux commented on #601
@ofrobots so this is just a hapi plugin we wrote and then inject into the server, so it doesn't really fit into the existing code base anywhere (I think?); it's also not typescript. If you give me a directory to check this file in, then happy do to that - although we don't care about attribution, most of this is a copy of the existing code with some minor tweaks.

[2018-03-16 21:36] #656 closed

[2018-03-23 23:03] kjin commented on #675
Fixed in #700

[2018-03-23 23:09] kjin commented on #618
This issue has been fixed in #686.

[2018-03-23 23:09] #618 closed

[2018-03-23 23:13] #675 closed

[2018-04-02 15:49] kjin opened #709 "Auto-generate code documentation"
We should auto-generate code documentation for:

- The public API
- Plugins, along with a descriptor of the labels added by the plugin

[2018-04-02 16:39] kjin commented on #656
Hi @chrisalexander55 -- I've released version 2.6 of the Trace Agent, in which spans are now guaranteed to be non-null ([version notes](https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/blob/master/CHANGELOG.md#notable-changes)). Please give it a try and let us know if there are any issues!

[2018-04-02 16:43] chrisalexander55 commented on #656
Kevin,

Thank you for the notification. I will pull down the bits and kick the
tires this week. All the best!

On Mon, Apr 2, 2018 at 12:39 PM Kelvin Jin <notifications@github.com> wrote:

[2018-04-02 18:31] d-winter opened #712 "Error after updating to 2.6.0"
Hi,
after updating I get the following error:
[code]

I have got a very basic config, which is loaded at the very start of the app:
[code]

Running with the previous version does work fine.
Any idea? I saw in the changelog that empty spans are not allowed, but could not find a way how to fix the error above.

Thanks in advance
Daniel

[2018-04-02 19:38] kjin commented on #712
Taking a look, will get back to you shortly.

[2018-04-02 19:57] kjin commented on #712
I can reproduce this error using the [API explorer linked in the Stackdriver Trace API docs](https://cloud.google.com/trace/docs/reference/v1/rest/v1/projects/patchTraces), but not through the Trace Agent itself. It appears to be when we send a payload where a K-V pair under the `"labels"` field has a number value. However, the [function to add labels](https://github.com/GoogleCloudPlatform/cloud-

[2018-04-02 20:01] kjin commented on #712
Never mind, I've figured it out. This is indeed a bug... fix incoming.

[2018-04-02 20:53] #712 closed

[2018-04-02 21:10] kjin commented on #712
@d-winter [2.6.1](https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/blob/v2.6.1/CHANGELOG.md#2018-04-02-version-261-beta-kjin) has been released. That should fix the issue!

[2018-04-03 05:13] d-winter commented on #712
Awesome, thanks a lot for your help🙌! Will try it out later this morning.

[2018-04-03 16:43] d-winter opened #715 "Redis Plugin creates phantom child span"
Hey,

I get the following error while setting up the trace agent:

[code]

These are my dependencies:
[code]

I load the agent in a separate js file since which requires then the transpiled typescript app. This setup works perfectly without redis.
The spans are shown in google console correctly.
Any idea whats wrong here?

[2018-04-03 16:59] kjin commented on #715
This warning message is emitted when we couldn't detect the incoming request with which the redis RPC should correspond. As authentication seems part of the initialization flow rather than on behalf of a request, this warning message is likely a false positive.

It's probably true that there are certain redis commands to which this almost universally applies. I'd like to avoid printing these warni

[2018-04-03 17:04] d-winter commented on #715
That would be awesome. So I just continue that way.
Thanks a lot.

[2018-04-03 17:04] #715 closed

[2018-04-03 18:15] #601 closed

[2018-04-03 20:46] kjin commented on #601
Hapi 17 tracing support has been officially added in 2.7.0. Please file a new issue if there are any problems with it!

/cc @BenCrux

[2018-04-07 08:41] tjmehta opened #719 "Option to disable automatic tracing"
Hello,

Is there any way to disable automatic tracing altogether? It would be nice if this module exposed a simple span tracing API.

Thanks

[2018-04-10 17:30] tjmehta commented on #719
What about an option to disable the CLS context?

[2018-04-10 17:32] tjmehta commented on #719
I’d love to have a simple RootSpanData class that I can use to manually create child span datas (that doesn’t use CLS)

[2018-04-10 17:42] kjin commented on #719
@tjmehta In what way is CLS not compatible with your use case? Providing an option to disable CLS is a significantly larger change and I want to make sure I understand that first before making such a change.

Would it work to writing a wrapper class around the `TraceApi` returned by `start()` that creates a new CLS context for each root span? The CLS namespace is com.google.cloud.trace.

[2018-04-16 16:01] kjin commented on #719
Hi @tjmehta, if what I described to you doesn't work out please feel free to say so, and I'll re-open this issue.

[2018-04-16 16:52] tjmehta commented on #719
In my experience, CLS support for various asynchronous operations is not guaranteed. It would be nice to have a simple span API that can be managed by the user without “magic”. Also, CLS’s monkey patching can lead to messier error stacks. If you are able to remove CLS from a base RootSpan class. You easily extend the class and layer CLS on top of it.

Exposing a base API would be more flexible for

[2018-04-17 06:45] SamyPesse opened #725 "[Tracking Issue] Auto-tracing not working in Google Cloud Functions/Firebase Cloud Functions"
When using `@google-cloud/trace-agent` in Firebase Cloud Functions, the custom tracing works, but auto tracing doesn't (no trace for HTTP/HTTPS/gRPC requests).

Even included as the first module, the cloud functions log output:

[code]

It may related to how Firebase Cloud Functions works as an overlay of Google Cloud Functions.

[2018-04-17 15:46] kjin commented on #725
We don't expect tracing to work out of the box for Firebase Cloud Functions (or GCF) at the moment. (The error message points out that `express` was loaded, presumably before your function code was run.)

You could try the workaround of wrapping the function contents in `runInRootSpan`. From the README:

[code]

Given how background trace publishing operations may not be supported by Cloud Functio

[2018-04-25 19:51] tjmehta commented on #719
I’ll have to read this more thoroughly, but a single root context is not
what I was expecting. I was expecting something that could be used by this:
https://www.npmjs.com/package/gcloud-tracer

Will try to follow up with more details tonight
On Wed, Apr 25, 2018 at 12:46 PM Kelvin Jin <notifications@github.com>
wrote:

[2018-04-25 20:06] kjin commented on #719
Ok, would my understanding be correct that you would want a `createRootSpan` or similar?

Apologies -- I should have asked for more details earlier.

[2018-04-25 20:13] tjmehta commented on #719
I probably didn't explain with enough details. I was expecting an API to create many rootSpans as well as childSpans. For example, I would like to create a RootSpan for for each of my API's "requests" without using monkey patching. At a glance it looks like the PR only allows for one global root span, which would not work for my applications.

Each RootSpan should offer an API to create ChildSpans

[2018-04-25 20:18] tjmehta commented on #719
I think this readme explains an API I am expecting: https://github.com/tjmehta/gcloud-tracer/tree/update-google-cloud-trace

Basically, a simple span tracing API, without monkeypatching or CLS.  I do still think monkeypatching and CLS may be useful to many users. But monkeypatching and CLS modify globals and may not work for all scenarios. Offering a base api to create root spans and child spans w

[2018-04-26 22:41] kjin commented on #719
@tjmehta I think I see what you mean. Granted we had considered having a `RootSpan#createChildSpan` API before but at the time didn't consider it necessary.

It shouldn't be too complicated to introduce such an API, so I'll take a stab at it.

[2018-04-28 00:53] kjin commented on #719
@tjmehta What do you think of the API in [this diff](https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/pull/731/files#diff-0083d751b2c247998a6ebdda46fffa61)?

[2018-05-02 05:03] tjmehta commented on #719
@kjin looking over the PR and the offered API it does! I will know for sure once I start using it (hopefully will get to try it out this weekend).

Thanks for making these changes so quickly!

[2018-05-02 15:49] kjin commented on #719
Sure thing, merging now!

[2018-05-02 15:49] #719 closed

[2018-05-02 20:59] kjin commented on #725
@SamyPesse If you don't mind, I am going to use this as a tracking issue for the progress of getting the Trace Agent to work with GCF.

[2018-05-02 21:01] kjin commented on #626
@steren Please let us know if you have any other details here, but I don't think this is actionable given the current information, since the errors seem to be generic Node errors. Closing for now.

[2018-05-02 21:01] #626 closed

[2018-05-02 21:01] SamyPesse commented on #725
@kjin sure 👍 we made it works in our Firebase cloud functions, but without auto-tracing.

The lack of auto-tracing seems to come from the code added by Firebase that requires the modules like `express` before requiring the application.

[2018-05-02 21:02] kjin commented on #725
@SamyPesse Thanks for the update!

[2018-05-02 22:28] kjin commented on #719
Released in 2.8.0

[2018-05-14 20:00] #456 closed

[2018-05-14 23:32] kjin commented on #709
Duplicate of #523.

[2018-05-14 23:32] #709 closed

[2018-05-14 23:41] ALAxHxC opened #751 "messaging/invalid-argument NodeJSAdmin"
1
down vote
favorite
Hi i working with Node JS and Firebase SDK,

Im trying to send FCM notificacion as documentation says: https://firebase.google.com/docs/cloud-messaging/admin/send-messages?hl=es-419,

My code:

[code]
But when i execute, this show this error:

[2018-05-15 00:50] kjin commented on #751
Please file this issue at the appropriate repository. Judging from the stack trace that seems to be [firebase-admin](https://github.com/firebase/firebase-admin-node). Thanks!

[2018-05-15 00:50] #751 closed

[2018-05-15 17:04] majelbstoat opened #752 "GRPC server not being traced."
I have the trace integration defined for two NodeJS servers, written in Typescript. One is an Express server, one is a GRPC server.

Both have the following setup:

* Running inside GKE in a cluster that has the trace API enabled.
* Node 8.9.4
* env variable `GCLOUD_TRACE_NEW_CONTEXT=1`
* "@google-cloud/trace-agent": "2.8.1",
* "google-protobuf": "3.5.0",

The GRPC server uses:
* "grpc": "1.10.1",

[2018-05-16 01:27] kjin commented on #752
Testing a simple gRPC server I'm able to see traces in the Cloud Platform UI. Could you try starting with warning-level logs and immediate flush (via bufferSize = 1)? E.g.

[code]

If that doesn't work, are there any warnings (or errors) that get printed?

[2018-05-17 01:05] majelbstoat commented on #752
Since I added those lines, traces started appearing 🤔I know that change didn't cause that to happen, so I'm going to put this down to PEBKAC for now. Thanks for checking it out.

[2018-05-17 01:05] #752 closed

[2018-05-17 05:58] majelbstoat opened #754 "Plugin request: React"
Automatic span creation for React components would be very useful in filling in trace gaps for server side rendered applications. There are half a dozen or so well-defined lifecycle methods that could be patched, but in particular, automatically creating spans for the render phase of components would be really helpful.

Some prior art with Zipkin and open tracing is here, but it focuses more on th

[2018-05-22 23:59] kjin commented on #661
@mrene We've made some changes to [`async_hooks`-based tracing](https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/blob/master/src/cls/async-hooks.ts#L56), including your suggestion about using `triggerId`. I expect gRPC server tracing to work for the following triplet of versions:

- `@google-cloud/trace-agent` 2.9.0+ made the changes as noted above.
- `grpc` 1.11.0+ contains patches to pr

[2018-05-23 00:06] ofrobots commented on #661
Support for Async Resource propagation in Nan works for [Node 9.0+](https://github.com/nodejs/nan/blob/946377f194e3aaf2aeb5141fa38768f5ca56734a/nan.h#L483)

[2018-05-26 21:40] thoughtspeed7 opened #758 "Mongoose v5 not being traced automatically"
Automatic tracing works for Mongoose v4 but not for Mongoose v5. Can we expect automatic tracing for Mongoose v5 anytime soon?

[2018-05-30 00:13] #758 closed

[2018-05-30 20:00] kjin commented on #684
Hi @evanlucas, I'm going to close this issue for housekeeping purposes. Please let us know if you have more info and I'll be happy to re-open it.

[2018-05-30 20:00] #684 closed

[2018-05-30 20:20] kjin commented on #557
Hi @QuestionAndAnswer -- As of 2.6.0 we've changed our module loading mechanism to [`require-in-the-middle`](https://github.com/opbeat/require-in-the-middle). Neither our module nor r-i-t-m uses `_resolveLookupPaths` anymore, so I think the issue of comparing paths is now obsolete.

I'm not sure if this will directly address the issue, but if not, I think the fix will likely need to be there inste

[2018-05-30 20:20] #557 closed

[2018-05-30 21:09] kjin commented on #606
Hi @evanlucas -- I'm closing this for housekeeping purposes. Please let us know if there is any additional info and I can re-open. Thanks!

[2018-05-30 21:09] #606 closed

[2018-05-31 15:00] dippi opened #763 "NetworkingError: Can't set headers after they are sent."
Hi, we intermittently had this issue while uploading a file to S3 using aws-sdk.
[code]
The stack points here: https://github.com/GoogleCloudPlatform/cloud-trace-nodejs/blob/master/src/plugins/plugin-http.ts#L147-L148
I have to admit I haven't collected much information at the moment, so tell me if there is something you'd like to know to understand the issue better.
Any idea on what's happening a

[2018-05-31 20:31] kjin commented on #763
Hi @dippi, which version of Node are you using? We've encountered a similar problem in the past but I might have only patched it for `http` (judging from the stack trace you are using the `https` module).

[2018-06-01 14:11] dippi commented on #763
Hi @kjin, we are using version v8.11.x

[2018-06-01 21:52] kjin commented on #763
I believe I've pinned down the issue -- in short, our HTTP instrumentation will fail if `Expect` is added as an outgoing header. This is because Node has a special case where it prohibits additional headers if the `Expect` header is detected. (I am not sure if this is intentional.) The AWS SDK [adds this header](https://github.com/aws/aws-sdk-js/blob/5880e725ca12f559fcead5cac2c305e55de1ccfb/lib/se

[2018-06-02 00:39] #763 closed

[2018-06-04 11:48] dippi commented on #763
We tested and the issue seems indeed to be related to file size.
As for the Node version, the stack trace might come from an outdated testing instance with Node 7, sorry for the inaccuracy.

I'm pleased to see that you already merged a fix, so thanks for the quick response to the issue!
To test and benefit from the fix should we move our dependency to master or wait until the next release? (in the

[2018-06-05 00:14] kjin commented on #763
I just put out a release for 2.10.1, so the fix should be out now 😄

[2018-06-08 20:30] #638 closed

[2018-06-11 17:28] kjin commented on #622
Closing this for housekeeping purposes. This is meant really for testing, no one has asked for this feature.

[2018-06-11 17:28] #622 closed

[2018-06-11 22:22] ofrobots commented on #661
@kjin what's the status for this?

[2018-06-12 00:28] kjin commented on #661
I am working on a monkeypatch for Node 8 or gRPC <1.11.

[2018-06-13 20:11] smousa opened #774 "Running cloud trace with webpack"
When I try to start my nodejs service with trace, I see the following error:
```ERROR:@google-cloud/trace-agent: TraceAgent#start: Tracing might not work as the following modules were loaded before the trace agent was initialized: [...]```
and it lists every package dependency in my package.json.

I placed the declaration at the top of index.js:
```require('@google-cloud/trace-agent').start({proje

[2018-06-13 20:34] kjin commented on #774
We currently do not support webpack, since we assume that required modules reside in `node_modules`. I will look into whether we can support this -- but I'm not sure if it's possible.

[2018-06-13 20:36] kjin commented on #754
Hi @majelbstoat -- I'm not sure if I will have the bandwidth to look at this at least until next month. In the meantime, is there a reference you could point me to for the well-defined lifecycle methods? (I'm not super familiar with React.)

[2018-06-13 20:39] ofrobots commented on #774
@smousa can you include some details on your motivation to use webpack on a server side project? As @kjin said, this is a use-case we have not considered up till now. We would like to understand why/how this is being used to figure what solutions might be possible.

[2018-06-13 20:40] majelbstoat commented on #754
Sure thing :) I appreciate the interest, and it's definitely a nice to have.

Here's a couple of cheatsheets:

http://projects.wojtekmaj.pl/react-lifecycle-methods-diagram/
https://devhints.io/react#lifecycle

And a more in-depth discussion of React components:

https://reactjs.org/docs/react-component.html#componentwillmount

[2018-06-13 22:48] kjin commented on #661
After the recent investigation, I found that #734 already fixed this bug. This means that v2.9.0 should work for gRPC server tracing for all versions of Node.

The reason for this is because:
- There are two continuations of interest in gRPC servers: call handlers and stream event handlers.
- Both of these run with an async execution ID of `0` in Node 8, which used to cause problems.
- The reason

[2018-06-13 22:48] #661 closed

[2018-06-14 16:09] smousa commented on #774
Thanks for the reply.  What I have been using webpack was primarily for hot module reloading.  But I think I found a workaround for my immediate issue, which is to initialize tracing in a separate file, like trace.js, require the index and have webpack load trace.js first:

trace.js:
[code]

webpack.*.conf.js
[code]

[2018-06-19 15:51] JustinBeckwith opened #777 "Update TypeScript, gts, common, etc"
There are a bunch of dependencies starting to get moldy over in package.json.  Can someone upgrade them all?

[2018-06-20 00:50] kjin opened #779 "Tests fail with require-in-the-middle@2.2.2"
We need to investigate whether the `require-in-the-middle@2.2.2` changes are compatible with how we patch modules. For now, I am fixing the module at 2.2.1.

[2018-06-20 17:58] kjin commented on #777
`gts` upgrade is going to require a semver-major change. I want to deprecate some APIs first before moving to v3, so this is blocked.

[2018-06-28 01:06] #779 closed

[2018-06-28 16:53] #566 closed

[2018-06-30 06:27] majelbstoat opened #791 "Tracing Spanner"
Given that the trace agent automatically traces GRPC, and, as I understand it, the Spanner client communicates with the database over GRPC, is it to be expected that Spanner tracing works out of the box? I ask, because i'm seeing some puzzling partial behaviour where traces appear to happen only sporadically.

The trace agent reliably traces when a new client session is required, using `clientMeth

[2018-06-30 13:11] ofrobots commented on #791
Would it possible for you to share the versions of spanner and trace
libraries? Our better, the dependencies section of your package.json

On Fri, Jun 29, 2018, 11:27 PM Jamie Talbot <notifications@github.com>
wrote:

[2018-06-30 16:17] majelbstoat commented on #791
Sure:

[code]

[2018-06-30 16:30] majelbstoat commented on #791
To ensure the trace agent is loaded first, my webpack entry point of index.ts looks like this:

[code]

Which webpack turns into:

[code]

[2018-06-30 17:04] majelbstoat commented on #791
Dig more digging. I believe this might be because I was using the promise-mode of spanner, async/await, and  `GCLOUD_TRACE_NEW_CONTEXT=1` wasn't set. (It was set on the service in one world, but not another.) Adding that seems to have made things right.

[2018-07-02 16:33] kjin commented on #791
Ok, thanks for the update. The next version of the agent (2.11) will support async/await out-of-the-box (no env var).

Please comment if you discover that `GCLOUD_TRACE_NEW_CONTEXT=1` didn't solve the problem, and I will re-open the issue. Thanks!

[2018-07-02 16:33] #791 closed

[2018-07-08 21:45] JustinBeckwith opened #793 "Discussion - should we drop nodejs-common?"
After looking around the codebase, it looks like the only part of nodejs-common that's being used is the logger.  This means that we're really unnecessarily pulling in `request` for no good reason.  Does it make sense to abstract the logging stuff in common out to it's own smaller-purpose module?

[2018-07-09 17:12] kjin commented on #793
The `TraceWriter` class currently inherits `Service`, so for right now it seems like we are locked onto using `nodejs-common`.

[2018-07-09 20:28] kjin opened #794 "Prevent truncation of child spans that represent tail latencies"
It might be possible to stop the truncation child spans when a root span is ended. We would need to modify the trace queueing mechanism to send child spans by themselves (i.e. not accompanied by their local parents).

This would prevent misrepresentations of work stemming from early-truncated spans if certain RPCs have tail latencies.

cc/ @draffensperger @ofrobots

[2018-07-11 22:00] ofrobots commented on #793
I think this has been resolved as 'not yet', so I am going to close. If there is more to discuss, please reopen.

[2018-07-11 22:00] #793 closed

[2018-07-11 22:23] kjin commented on #777
I'm not going to update ts or gts right now -- I don't see a need at the moment. Updated `@google-cloud/common`, though.

[2018-07-11 22:23] #777 closed

[2018-07-12 00:31] ahmetb opened #797 "Please log the hostname on failed requests"
I've spent the past our trying to figure out (still haven't) why am I getting these errors on Istio –which is a service mesh that requires users to explicitly whitelist all the external hosts that are called.

This error doesn't explain why it failed. `Received error status code unknown. Original error: Error: Unexpected error` might be one of the most _unhelpful_ errors to return here.

Here are